<div class="my-5 d-flex justify-content-around flex-wrap">
    <div>
        <p class="ad-tit pb-1"><&nbsp;PR&nbsp;></p>
        <!-- CS_総合トップ_スクエア(02) -->
        <ins class="adsbygoogle"
            style="display:inline-block;width:300px;height:250px"
            data-ad-client="ca-pub-3891476404601512"
            data-ad-slot="3653342071"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    <div>
        <p class="ad-tit pb-1"><&nbsp;PR&nbsp;></p>
        <!-- CS_総合トップ_スクエア(01) -->
        <ins class="adsbygoogle"
            style="display:inline-block;width:300px;height:250px"
            data-ad-client="ca-pub-3891476404601512"
            data-ad-slot="4299876198"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>
