<div class="my-3">
    <p class="ad-tit pb-1"><&nbsp;PR&nbsp;></p>
    <!-- CS_ポータル共通_レスポンシブ横長(フッター部) -->
    <!-- Adsense code-->
    <ins class="adsbygoogle cs_portal_rpad"
        style="display:block"
        data-ad-client="ca-pub-3891476404601512"
        data-ad-slot="1692053214"
        data-ad-format="horizontal"
        data-full-width-responsive="false"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <!-- Adsense code-->
</div>
