.bg_oyako_main{background: #fffbd7;}
.oyako_logo{max-width: 350px;display: inline-block;}
.oyako_man_img{max-width: 650px;display:block;margin: 0 auto;}
.intro1_img{width: 25%;margin-right: 5%;}
.info1_point{text-align: center;}
.info1_point p{margin-bottom:0;}
.point1{background: rgba(29,173,229,.15);padding: 15px 60px;border-radius: 8px;}
.point2{background: rgba(141,194,31,.15);padding: 15px 50px;border-radius: 8px;}
.point3{background: rgba(237,133,160,.15);padding: 15px 50px;border-radius: 8px;}
.info1_point .point1 h4{color: #1dade5;font-weight: bold;margin:10px 0px;}
.info1_point .point2 h4{color: #8dc21f;font-weight: bold;margin:10px 0px;}
.info1_point .point3 h4{color: #ed85a0;font-weight: bold;margin:10px 0px;}
.point1 .icon{width: 35px;display: inline-block;}
.point2 .icon{width: 27px;display: inline-block;}
.point3 .icon{width: 32px;display: inline-block;}
.price_note p{margin-bottom: 5px;}
.price_list{width: 400px;}
.price_list .price_name{padding-bottom:10px;border-bottom:solid 1px #a38a77;display: block;}
.price_list p{padding-top:10px;}
.txt_brown{color:#a38a77;}
.oyako_atention{padding-left:25px;}
.oyako_atention li{margin: 5px 0px;}
.oyako_atention li{list-style: disc;margin-bottom: 0px; font-size: 24px;color:#8dc21f;list-style-position:initial;}
.oyako_atention li span{font-size: 14px;color:#000;}
/*--movie--*/
.movie-image {width: 22%;}
.movie-info {width: 78%;}
.area-button {width: 20%;}
.area-button a, .area-button span {border: 1px solid;height: 50px;text-align: center;border-radius: 5px;}
.title a {text-decoration: underline;}
.icon-2d, .icon-3d, .icon-imax, .icon-4dx, .icon-4dx3d, .icon-scx, .icon-4dxwscx {width: 70px;}
.icon-2d img {width: 20px;}
.icon-imax img {width: 50px;padding-bottom: 1px;}
.oyako_event_date p {line-height: 1;margin: 0;font-size: 16px;}
.oyako_event_date{background-color:rgba(237,133,160,.7);color:#fff;padding:10px 30px;display: inline-block;margin-bottom:20px; }
.movie-area .flex-wrap {margin-bottom: 20px;}
@media (max-width: 767.98px) {
    .info1_point{text-align: left;}
    .intro1_img{width: 70%;margin: 0 auto;}
    .point_txt{padding-left:20px;}
    .point1{padding: 15px 30px;border-radius: 8px;}
    .point2{padding: 15px 30px;border-radius: 8px;margin: 20px 0px;}
    .point3{padding: 15px 30px;border-radius: 8px;}
    .price_list{width: 100%;}
    .price_list .price_name{padding-right:20px;border-bottom:none;display: block;}
    .price_list p{padding:0px 20px;border-left:solid 1px #a38a77;}
    /*--movie--*/
    .movie-image {position: absolute;width: 100px;height: 140px;}
    .movie-area {margin: -0.5rem;background-color: #ececec;padding: 0.5rem 0.25rem;}
    .movie-info {width: auto;}
    .movie-detail {padding-left: 115px;min-height: 140px;}
    .icon-2d img {width: 15px;}
    .oyako_event_date p {line-height: 1;margin: 0;font-size: 16px;}
    .oyako_event_date{background-color:rgba(237,133,160,.7);color:#fff;padding:10px 15px;display: inline-block;margin-bottom:10px;width: 100%; }
    .movie-area .flex-wrap {margin-bottom: 20px;}
}
