<div class="scale-up">
    <img src="/images/tmp/concession/gdcs_conce.jpg" class="w-100">
</div>
<div class="scale-up">
    <h4 class="font-weight-bold large text-center text-md-left mb-4 mt-4">5F「クラッパーズダイナー」メニュー</h4>
    <img src="/images/tmp/concession/gdcs_5F_menu.jpg" class="w-100">
</div>
<div class="scale-up">
    <h4 class="font-weight-bold large text-center text-md-left mb-4 mt-4">12F「バールパノーラマ」メニュー</h4>
    <img src="/images/tmp/concession/gdcs_12F_menu.jpg" class="w-100">
</div>
