#
# environment values
#

# Application
APPSETTING_ENV=### dev,test,prod ###

# Database
MYSQLCONNSTR_HOST=### database host ###
MYSQLCONNSTR_PORT=### database port ###
MYSQLCONNSTR_NAME=### database name ###
MYSQLCONNSTR_USER=### user name ###
MYSQLCONNSTR_PASSWORD=### user password ###
MYSQLCONNSTR_SSL=### use SSL (true or false) ###

# Azure Storage
CUSTOMCONNSTR_STORAGE_NAME=### storage name ###
CUSTOMCONNSTR_STORAGE_KEY=### storage access key ###

# Azure Storage (user local)
# CUSTOMCONNSTR_STORAGE_SECURE=false
# CUSTOMCONNSTR_STORAGE_NAME=devstoreaccount1
# CUSTOMCONNSTR_STORAGE_KEY=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==
# CUSTOMCONNSTR_STORAGE_BLOB_ENDPOINT=http://storage:10000/devstoreaccount1
# CUSTOMCONNSTR_STORAGE_PUBLIC_ENDOPOINT=http://127.0.0.1:10000/devstoreaccount1

# Redis
CUSTOMCONNSTR_REDIS_HOST=### redis host ###
CUSTOMCONNSTR_REDIS_PORT=### redis port ###
CUSTOMCONNSTR_REDIS_AUTH=### redis authentication string ###

# (廃止予定) Coasystems Schedule
APPSETTING_COA_SCHEDULE=### 'prod' or 'test' ###

# Schedule
APPSETTING_SCHEDULE_ENV=### 'production' or 'test' or 'development' ###
APPSETTING_SCHEDULE_API_URL=### schedule API URL ###

# Motionpicture Service
APPSETTING_MP_API_HOST=### API host name ###
APPSETTING_MP_AUTHORIZATION_CODE_HOST=### Host name for Authorization Code Grant ###
APPSETTING_MP_AUTHORIZATION_CODE_CLIENT_ID=### Client ID for Authorization Code Grant ###
APPSETTING_MP_AUTHORIZATION_CODE_CLIENT_SECRET=### Client secret for Authorization Code Grant ###
APPSETTING_MP_CLIENT_CREDENTIALS_HOST=### Host name for Client Credentials Grant ###
APPSETTING_MP_CLIENT_CREDENTIALS_CLIENT_ID=### Client ID for Client Credentials Grant ###
APPSETTING_MP_CLIENT_CREDENTIALS_CLIENT_SECRET=### Client secret for Client Credentials Grant ###
APPSETTING_MP_TICKET_URL=### site URL ###
APPSETTING_MP_TICKET_ENTRANCE_URL=### entrance URL ###
