{% extends "layout.html.twig" %}

{% block css %}
<link href="/css/movie/details.css" rel="stylesheet">
{% endblock %}

{% block contents %}
<div class="width mx-auto px-3 pt-md-3">
    <div class="breadcrumb-list small mb-5 d-none d-md-block">
        <a href="{{ path_for('homepage') }}">ホーム　|　</a>
        <a href="{{ path_for('title_list') }}">作品一覧　|　</a>
        <span class="font-weight-bold">{{ title.getName() }}</span>
    </div>
</div>

<div class="width mx-auto px-md-3 px-0 pt-md-3">
    {% include 'title/include/show_title.html.twig' with {
        title: title,
        theaters: theaters
    } only %}
    
{% if title.getCampaigns() %}
    {% include 'include/campaing.html.twig' with {
        campaings: title.getCampaigns()
    } only %}
{% endif %}
    
    <div class="px-3">
        <div class="back-list button-01 shadow-01 mx-auto mb-5">
            <a href="{{ path_for('title_list') }}" class="text-white">一覧へ戻る</a>
        </div>
    </div>
</div>
{% endblock %}