<header>
    <div class="bg-white fixed-top border-bottom border-gray">
        <div class="header d-flex align-items-center width mx-auto pl-2">
            <div class="header-logo mr-auto">
                <div class="header-company-logo">
                    <a class="d-block mr-3" href="{{ path_for('homepage') }}">
                        <img src="/images/common/header_logo.svg" class="w-100">
                    </a>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <ul class="nav justify-content-end small d-none d-md-flex">
                    <li class="nav-item px-1 border-right border-dark-gray">
                        <a class="px-2 py-2 d-block text-dark" href="{{ path_for('theater_list') }}">劇場一覧</a>
                    </li>
                    <li class="nav-item px-1 border-right border-dark-gray">
                        <a class="px-2 py-2 d-block text-dark" href="#">作品一覧</a>
                    </li>
                    <li class="nav-item px-1">
                        <a class="px-2 py-2 d-block text-dark" href="#">よくあるご質問(Q&A)</a>
                    </li>
                </ul>
            </div>

            <div class="btn-group d-md-none">
                <button type="button" class="btn header-menu rounded-0">
                    <img src="/images/common/header_menu.svg" class="open">
                    <img src="/images/common/gnav_close.svg" width="33" class="close d-none">
                </button>
            </div>
        </div>
    </div>
</header>
