{% if is_login() %}
{% set user = login_user() %}
<li>
    <span class="d-block text-white p-3 border-bottom border-dark-gray bg-dark-gray">{{ user.name }}さん</span>
</li>
<li>
    <a id="signOutButton" href="{{ login_url(full_url_for('logout')) }}"
        class="d-block text-white p-3 border-bottom border-dark-gray">ログアウト</a>
</li>
{% else %}
<!-- <li>
    <a href="#" class="d-block text-white p-3 border-bottom border-dark-gray">会員登録</a>
</li> -->
<li>
    <a id="signInButton" href="{{ login_url(full_url_for('login')) }}"
        class="d-block text-white p-3 border-bottom border-dark-gray">ログイン</a>
</li>
{% endif %}