<div class="sp-menu d-md-none d-none position-fixed">
    <ul>
        <li>
            <a href="{{ path_for('homepage') }}" class="d-block text-white p-3 border-bottom border-light-gray">総合TOPへ戻る</a>
        </li>
        <li>
            <a href="{{ path_for('theater_list') }}" class="d-block text-white p-3 border-bottom border-light-gray">劇場一覧</a>
        </li>
        <li>
            <a href="{{ path_for('title_list') }}" class="d-block text-white p-3 border-bottom border-light-gray">作品一覧</a>
        </li>
        <li>
            <a href="#" class="d-block text-white p-3 border-bottom border-light-gray">よくあるご質問(Q＆A)</a>
        </li>
    </ul>
</div>