<div class="special-sites px-3">
    <div class="width2 mx-auto mb-md-5 mb-3">
        <h5 class="mb-md-4 mb-0 text-center font-weight-bold py-4">特設サイト</h5>
        <div class="row text-center">
            <div class="col-6 col-md-3 mb-md-0 mb-sm-4">
                <a href="{{ path_for('imax') }}" class="d-block">
                    <div class="special-sites-parts">
                        <img src="/images/common/imax_logo.svg">
                    </div>
                    <p class="small">特設サイトはこちら</p>
                </a>
            </div>
            <div class="col-6 col-md-3 mb-md-0 mb-sm-4">
                <a href="{{ path_for('4dx') }}" class="d-block">
                    <div class="special-sites-parts">
                        <img src="/images/common/4dx_logo.svg">
                    </div>
                    <p class="small">特設サイトはこちら</p>
                </a>
            </div>
            <div class="col-6 col-md-3 mb-md-0 mb-sm-4">
                <a href="../bestia/" class="d-block">
                    <div class="special-sites-parts">
                        <img src="/images/top/bestia_logo.svg">
                    </div>
                    <p class="small">特設サイトはこちら</p>
                </a>
            </div>
            <div class="col-6 col-md-3 mb-md-0 mb-sm-4">
                <a href="../screen-x/" class="d-block">
                    <div class="special-sites-parts">
                        <img src="/images/top/screenx_logo.svg">
                    </div>
                    <p class="small">特設サイトはこちら</p>
                </a>
            </div>
        </div>
    </div>
</div>