<li class="bg-black px-2 py-3 mb-3">
    <h3 class="text-center text-md-left mb-3">{{ theater.getNameJa() }}</h3>
    <div class="mb-3">
        <img class="w-100" src="https://placehold.jp/3d4070/ffffff/2200x620.png?text=TODO">
    </div>
    <table class="mb-3 w-100 theater-table small">
        <tbody>
            <tr>
                <th class="border border-black p-2 bg-dark-gray">劇場名</th>
                <td class="border border-black p-2 bg-light-gray text-black">{{ theater.getNameJa() }}</td>
            </tr>
            <tr>
                <th class="border border-black p-2 bg-dark-gray">住所</th>
                <td class="border border-black p-2 bg-light-gray text-black"></td>
            </tr>
            <tr>
                <th class="border border-black p-2 bg-dark-gray">TEL</th>
                <td class="border border-black p-2 bg-light-gray text-black"></td>
            </tr>
            <tr>
                <th class="border border-black p-2 bg-dark-gray">スクリーン数</th>
                <td class="border border-black p-2 bg-light-gray text-black"></td>
            </tr>
        </tbody>
    </table>

    <div class="theater-button mx-auto">
        <a href="{{ path_for('theater', { name: theater.getName() }) }}" class="d-block text-center bg-orange text-white py-3">{{ theater.getNameJa() }}劇場TOP</a>
    </div>
</li>
