.table td, .table th {
    vertical-align: middle;
}
.special-facility img {
    width: 340px;
}

.special-facility a {
    text-decoration: underline; 
    color: rgb(3, 80, 162);
}
.facility-seat ul li{
    width: 50%;
    margin-bottom: 1rem;

}
.facility-seat ul li .faci_sheat_pic{
    width: 25%;
    margin-right:5%; 
}
.facility-seat ul li .faci_sheat_txt strong{
    margin: 10px 0px;
    display: inline-block;
}
.facility-seat ul li .faci_sheat_txt{
    width: 65%;
}
.facility-seat ul li .faci_sheat_pic img{
    width: 100%;

}
.facility-other ul li{
    width: 50%;
    margin-bottom: 1rem;

}
.facility-other ul li .faci_oth_pic{
    width: 45%;
    margin-right:5%; 
}
.facility-other ul li .faci_oth_txt{
    width: 45%;
}
.facility-other ul li .faci_oth_pic img{
    width: 100%;

}

@media (max-width: 767.98px) {
    .special-facility img {
        width: 100%;
    } 
    .facility-seat ul li .faci_sheat_txt strong{
        margin: 5px 0px;
        display: inline-block;
    }
    .facility-seat ul li{
        width: 100%;
        margin-bottom: 1rem;
    }
    .facility-other ul li .faci_sheat_txt strong{
        margin: 5px 0px;
        display: inline-block;
    }
    .facility-other ul li .faci_oth_pic{
        width: 45%;
        margin-right:3%; 
    }
    .facility-other ul li{
        width: 100%;
        margin-bottom: 1rem;
    }
    .facility-other ul li .faci_oth_txt{
        width: 50%;
    }
}