



/* webフォント*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');

/*--英語--*/
.gdcs_eng_font_r{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
.gdcs_eng_font_b{
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.gdcs_eng_font_blk{
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}
/* スライダー*/
.slider .pagination .swiper-pagination-bullet{
  background-color: #a57a43!important;
}

/* GDCS用色味指定*/
.gdcs{
  background-color: #f9f9f9!important;
  font-family: 'Noto Sans JP', sans-serif;
}
.gdcs header .border-gray{
  border-color: #a57a43!important;
}
.gdcs .sub-header .border-gray{
  border-color: #a57a43!important;
}
.gdcs .sub-header-inner{
  background-color: #ceba87!important;
}
.gdcs .imax-4dx{
  background-color: #e1e1e1!important;
}
.gdcs .pickup .bg-black,
.gdcs .pickup h3{
  background-color: #ceba87!important;
  color:#fff!important;
}
.gdcs .button-01 a,
.gdcs .button-02 a,
.gdcs .online-ticket-button a,
.gdcs .online-mvtk-button .button-03 a{
  background-color: #fff!important;
  border: solid 1px #a57a43!important;
  color: #a57a43!important;
}
.gdcs .contents .bg-light-gray{
  background-color: #eae1d1!important;
}
.gdcs .news .container .row li .image,
.gdcs .event-information .container .row li .image{
  background-color: #fff!important;
}
/*--見出し要素--*/
.gdcs .schedule-title h3{
  color:#a57a43!important;
}
.gdcs h2,
.gdcs h4,
.gdcs h3{
  color:#a57a43!important;
}

/*スライダー下ロゴサイズ指定*/
.gdcs .top_logo{
  max-width:400px;
  width: 100%;
}

/*影*/
.gdcs .shadow-01{
  box-shadow:none!important;
}
.gdcs .campaign .shadow-01{
  box-shadow: 0 0 8px rgba(0,0,0,0.35)!important;
}
/* TOP開場時間*/
.gdcs .time-icon {
  width: 14px;
  height: 14px;
  display: inline-block;
  background-image: url(/images/theater/top/date_gold.svg);
  background-size: contain;
}
.gdcs .opening-time .swiper-wrapper .swiper-slide{
  margin-right: 20px;
}
/*TOPスケジュール部分*/
.gdcs .schedule-scroll .bg-super-light-gray{
  background-color: #4b4b4b!important;
}
.gdcs .schedule-title .border-blue{
  border-color: #a57a43 !important;
}
.schedule-slider .swiper-container .swiper-wrapper .swiper-slide-active a{
  color:#fff!important;
}
.schedule-slider .swiper-container .swiper-wrapper .swiper-slide a{
  color:#c9c9c9!important;
}
.schedule-slider .swiper-container .swiper-wrapper .swiper-slide .bg-blue{
  background-color:#a78d54!important;
}
.schedule-slider .swiper-container .swiper-wrapper .swiper-slide .border-light-blue{
  border-color:#9b7d4d!important;
}
.schedule-slider .swiper-container .swiper-wrapper .swiper-slide .border-light-blue{
  border-color:#9b7d4d!important;
}

.schedule-sort-film .performances li .bg-light-gray{
  background-color: #c4c4c4 !important;
}
.schedule-sort-film .performances li .bg-blue{
  background-color: #a57a43 !important;
}
.schedule-sort-film .performances li .bg-yellow{
  background-color: #ddb30b !important;
}
/*キャンペーン部分*/

.gdcs .campaign .swiper-button-next {
  background-image: url(/images/common/gdcs_arrow_r.svg);
}
.gdcs .campaign .swiper-button-prev {
  background-image: url(/images/common/gdcs_arrow_l.svg);
}
/*GDCS劇場設備ペー*/
.gdcs .table td, .gdcs .table th{
  word-break: break-all;
}
.gdcs .facility-other ul li .facility_linkbtn{
  border: solid 1px #333;
}
@media (max-width: 767.98px) {
  /*スライダー下ロゴサイズ指定*/
  .gdcs .top_logo{
    max-width:300px;
    width: 100%;
  }
  /*TOPスケジュール部分*/
  .gdcs .contents #schedule .schedule-sort-film-sp .performances .bg-light-gray{
    background-color: #ddd !important;
  }
  .gdcs .contents #schedule .schedule-sort-film-sp .rounded {
    border: 1px solid #dee2e6!important;
  }
}