{% extends "theater/layout.html.twig" %}


{% block title %}劇場トップ・上映スケジュール | {{ parent() }}{% endblock %}

{% block description %}シネマサンシャイン{{ theater.getNameJa()
}}の劇場サイトトップページです。上映スケジュール、ニュース、前売券情報、コンセッション、料金案内、劇場設備、アクセスのご案内など。{% endblock %}

{% set keywords = theater_meta_keywords(theater) %}

{% if theater.getName() == 'heiwajima' %}
{# 平和島トップページのみ #}
{% set keywords = keywords ~ ',4DX' %}
{% endif %}

{% block keywords %}{{ parent()}},座席指定,予約,オンライン,上映,スケジュール,キャンペーン,公式アプリ,ムビチケ{% if keywords %},{{ keywords }}{% endif
%}{% endblock %}

{% block css %}
<link href="/css/theater/top.css" rel="stylesheet">
    {% if theater.getName() == 'gdcs' %}
    <link href="/css/theater/gdcs.css" rel="stylesheet">
    {% endif %}
{% endblock %}

{% block javascript %}
<script src="/js/api.js"></script>
<script src="/js/theater/top.js?v=20190726"></script>
{% endblock %}

{% block navbar %}
{% include 'theater/include/navbar.html.twig' with {
theater: theater,
active: 'top',
} only %}
{% endblock %}

{% block sp_navbar %}
{% include 'theater/include/sp_navbar.html.twig' with {
theater: theater,
active: 'top',
} only %}
{% endblock %}

{% block contents %}
<div class="mb-3">
    {% include 'theater/index/include/slider.html.twig' with {
    mainBanners: mainBanners
    } only %}
</div>

{% if theater.getName() == 'gdcs' %}
<img class="img-fluid mx-auto d-block my-4 top_logo" src="/images/tmp/theater/top/gdcs_logo.svg"></a>
{% endif %}

{% include 'theater/index/include/special_site.html.twig' with {
    theater: theater
} only %}

{# % if theater.getName() not in ['ikebukuro', 'okaido'] % #}
    {# SASAKI-399 #}
    {# % include 'include/pagejack/sp_animation_file.html.twig' only % #}
{# % endif % #}

{% include 'include/adsense/top.html.twig' only %}

<div class="mb-5">
    <div class="width mx-auto d-md-flex p-3">

        {% set picupCampaign = campaigns[0] %}
        {% if picupCampaign %}
        {% include 'theater/index/include/pickup.html.twig' with {
        campaign: picupCampaign
        } only %}
        {% endif %}

        {% include 'theater/index/include/trailer.html.twig' with {
        theater: theater
        } only %}
    </div>
</div>

{# % if theater.getName() not in ['ikebukuro', 'okaido'] % #}
    {# SASAKI-399 #}
    {# % include 'include/pagejack/animation_file.html.twig' only % #}
{# % endif % #}

{% if theater.getName() == 'gdcs' %}
<a href="/gdcs/"><img class="img-fluid mx-auto d-block mb-5 px-3" src="/images/tmp/theater/top/gdcs_bnr.jpg"></a>
{% endif %}

{# ららぽーと沼津はオンライン販売開始まで非表示 SASAKI-488 #}
{% if theater.getName() != 'lalaportnumazu' %}
{% include 'theater/index/include/online_ticket.html.twig' with {
    masterCode: theater.getMasterCode()
} only %}
{% endif %}

{% include 'theater/index/include/opening_hour.html.twig' with {
    openingHours: theater.getMeta().getOpeningHours()
} only %}

{# ららぽーと沼津はオンライン販売開始まで非表示 SASAKI-488 #}
{% if theater.getName() != 'lalaportnumazu' %}
{# scheduleテンプレートのincludeをトリガーとしてjavascriptの処理を実行する #}
{% include 'theater/index/include/schedule.html.twig' only %}
{% endif %}

{% include 'theater/index/include/event.html.twig' with {
theater: theater,
newsList: eventNewsList,
} only %}

{% include 'theater/index/include/news.html.twig' with {
theater: theater,
newsList: newsList,
} only %}

{% include 'include/adsense/buttom.html.twig' only %}

{% include 'include/campaign.html.twig' with {
campaigns: campaigns
} only %}

{% include 'theater/include/infomation.html.twig' with {
theater: theater,
newsList: infoNewsList,
} only %}

{% include 'theater/index/include/sp_links.html.twig' with {
    theater: theater
} only %}

{% include 'theater/index/include/app_modal.html.twig' only %}
{% endblock %}
