{% extends "theater/layout.html.twig" %}

{% set title = '映画館トップ・上映スケジュール | シネマサンシャイン' ~ theater.getNameJa() %}
{% set description = 'シネマサンシャイン' ~ theater.getNameJa() ~ 'の劇場サイトトップページです。上映スケジュール、ニュース、前売券情報、コンセッション、料金案内、劇場設備、アクセスのご案内など。' %}
{% set keywords = 'シネマサンシャイン,映画館,映画,シネマ,劇場,座席指定,予約,オンライン,上映,スケジュール,キャンペーン,公式アプリ,ムビチケ,' ~ theater_meta_keywords(theater) %}

{% if theater.getName() == 'gdcs' %}
    {# SASAKI-579 #}
    {% set title = '映画館トップ・上映スケジュール | グランドシネマサンシャイン池袋'%}
    {% set description = 'グランドシネマサンシャイン池袋（映画館）のトップページです。上映スケジュール、映画ニュース、前売券・ムビチケ情報、コンセッション、料金案内、映画館設備、アクセスのご案内など。' %}
    {% set keywords = 'グランドシネマサンシャイン,映画館,映画,シネマ,劇場,座席指定,チケット予約,オンライン,上映,スケジュール,キャンペーン,公式アプリ,ムビチケ,東京,池袋,応援上映,IMAXレーザー,４DX,SCREEN X(スクリーンX),4DX SCREEN(4DXスクリーン),BESTIA(ベスティア)' %}
{% elseif theater.getName() == 'heiwajima' %}
    {% set keywords = keywords ~ ',4DX' %}
{% endif %}

{% block title %}{{ title }}{% endblock %}

{% block description %}{{ description }}{% endblock %}

{% block keywords %}{{ keywords }}{% endblock %}

{% block css %}
<link href="/css/theater/top.css" rel="stylesheet">
    {% if theater.getName() == 'gdcs' %}
    <link href="/css/theater/gdcs.css" rel="stylesheet">
    {% endif %}
{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script>window.Vue || document.write('<script src="\/js\/lib\/vue@2.6.11.js"><\/script>');</script>
<script src="/js/api.js"></script>

<script src="/js/theater/schedule.js"></script>
<script src="/js/theater/top.js"></script>
{% endblock %}

{% block navbar %}
{% include 'theater/include/navbar.html.twig' with {
theater: theater,
active: 'top',
} only %}
{% endblock %}

{% block sp_navbar %}
{% include 'theater/include/sp_navbar.html.twig' with {
theater: theater,
active: 'top',
} only %}
{% endblock %}

{% block contents %}
<div class="mb-3">
    {% include 'theater/index/include/slider.html.twig' with {
    mainBanners: mainBanners
    } only %}
</div>

{% if theater.getName() == 'gdcs' %}
<img class="img-fluid mx-auto d-block my-4 top_logo" src="/images/tmp/theater/top/gdcs_logo.svg" alt="グランドシネマサンシャイン池袋">
<!--ページジャック用-->
<!--<img class="img-fluid mx-auto d-block my-4 top_logo" src="/images/pagejack/anayuki_2/CS_ice_logo2b.png">-->
<!--ページジャック用-->
{% endif %}

{% include 'theater/index/include/special_site.html.twig' with {
    theater: theater
} only %}

{# % if theater.getName() not in ['ikebukuro', 'okaido'] % #}
    {# SASAKI-399 #}
    {# % include 'include/pagejack/sp_animation_file.html.twig' only % #}
{# % endif % #}

{% include 'include/adsense/top.html.twig' only %}

<div class="mb-5">
    <div class="width mx-auto d-md-flex p-3">

        {% set picupCampaign = campaigns[0] %}
        {% if picupCampaign %}
        {% include 'theater/index/include/pickup.html.twig' with {
        campaign: picupCampaign
        } only %}
        {% endif %}

    {% if trailer %}
        {% include 'theater/index/include/trailer.html.twig' with {
            trailer: trailer
        } only %}
    {% endif %}

    </div>
</div>

{# % if theater.getName() not in ['ikebukuro', 'okaido'] % #}
    {# SASAKI-399 #}
    {# % include 'include/pagejack/animation_file.html.twig' only % #}
{# % endif % #}

{% if theater.getName() == 'gdcs' %}
<a href="/gdcs/"><img class="img-fluid mx-auto d-block mb-5 px-3" src="/images/tmp/theater/top/gdcs_bnr.jpg" alt="グランドシネマサンシャイン池袋　映画館施設紹介サイト"></a>
{% endif %}

{% include 'theater/index/include/online_ticket.html.twig' with {
    masterCode: theater.getMasterCode()
} only %}

{% include 'theater/index/include/opening_hour.html.twig' with {
    openingHours: theater.getMeta().getOpeningHours()
} only %}

{# scheduleテンプレートのincludeをトリガーとしてjavascriptの処理を実行する #}
{% include 'theater/index/include/schedule.html.twig' only %}

{% include 'theater/index/include/event.html.twig' with {
theater: theater,
newsList: eventNewsList,
} only %}

{% include 'theater/index/include/news.html.twig' with {
theater: theater,
newsList: newsList,
} only %}

{% include 'include/adsense/buttom.html.twig' only %}

{% include 'include/campaign.html.twig' with {
campaigns: campaigns
} only %}

{% include 'theater/include/infomation.html.twig' with {
theater: theater,
newsList: infoNewsList,
} only %}

{% include 'theater/index/include/sp_links.html.twig' with {
    theater: theater
} only %}

{% include 'theater/index/include/app_modal.html.twig' only %}
{% endblock %}
