body {
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}
.type-scx {
    background-color: #1b1b1b;
}
.type-4dx {
    background-color: #181818;
}
.type-imax {
    background-color: #040a1a;
}
.type-4dxwscx{
    background-color: #141414;
}
select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
p {
    line-height: 1.6;
}
a {
    color: #333;
}
a:hover {
    transition: opacity 0.5s;
    color: #333;
    opacity: 0.7;
    text-decoration: none;
}
.pointer {
    cursor: pointer !important;
}
.shadow-01 {
    box-shadow: 0 0 8px rgba(0,0,0,0.35);
}
.width {
    width: 100%;
    max-width: 1200px;
}
.details-width{
    max-width: 980px;
}
.line-height-1 {
    line-height: 1;
}

.not-event {
    pointer-events: none;
}

/* 文字色 */
.text-black {
    color: #333;
}
.text-light-blue {
    color: #0190d4 !important;
}
.text-blue {
    color: #0072ce !important;
}
.text-dark-blue {
    color: #0d3d95 !important;
}
.text-super-light-gray {
    color: #efefef !important;
}
.text-light-gray {
    color: #ddd !important;
}
.text-gray {
    color: #999 !important;
}
.text-dark-gray {
    color: #555 !important;
}
.text-red {
    color: rgb(219, 6, 6) !important;
}
.text-orange {
    color:#ea5514 !important;
}
.text-dark-red {
    color: #950c0c !important;
}
.text-r-yellow {
    color: #fec80c !important;
}

/* 背景色 */
.bg-black {
    background-color: #000 !important;
}
.bg-super-light-gray {
    background-color: #efefef !important;
}
.bg-light-gray {
    background-color: #ddd !important;
}
.bg-gray {
    background-color: #999 !important;
}
.bg-dark-gray {
    background-color: #555 !important;
}
.bg-light-blue {
    background-color: #0190d4 !important;
}
.bg-blue {
    background-color: #0072ce !important;
}
.bg-dark-blue {
    background-color: #0d3d95 !important;
}
.bg-yellow {
    background-color: #ffbc00 !important;
}
.bg-r-yellow{
    background-color: #fec80c !important;
}
.bg-red {
    background-color: rgb(219, 6, 6) !important;
}
.bg-orange {
    background-color: rgb(254, 114, 0) !important;
}
.bg-dark-red {
    background-color: #950c0c !important;
}
.bg-dark-orange {
    background-color: #a45100 !important;
}
.bg-transparent {
    background-color: transparent !important;
}
/* ボーダー */
.border-black {
    border-color: #333 !important;
}
.border-white {
    border-color: #fff !important;
}
.border-light-blue {
    border-color: #0190d4 !important;
}
.border-blue {
    border-color: #0072ce !important;
}
.border-dark-blue {
    border-color: #0d3d95 !important;
}
.border-super-light-gray {
    border-color: #efefef !important;
}
.border-light-gray {
    border-color: #ddd !important;
}
.border-gray {
    border-color: #999 !important;
}
.border-dark-gray {
    border-color: #888 !important;
}
.border-translucent-white {
    border-color: rgba(255, 255, 255, 0.2) !important;
}
.border-red {
    border-color: rgb(219, 6, 6) !important;
}
.border-dark-red {
    border-color: #950c0c !important;
}
.border-orange {
    border-color:rgb(254, 114, 0) !important;
}
.border-r-yellow{
    border-color: #fec80c !important;
}
/* フォントサイズ */
.x-small {
    font-size: 10px;
}
.small {
    font-size: 12px;
}
.large {
    font-size: 20px;
}
.x-large {
    font-size: 30px;
}
/* ビデオ */
.video {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}
.video iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/* ヘッダー */
header {
    position: relative;
    z-index: 1300;
}
header,
.header {
    height: 70px;
}
header .position-fixed {
    z-index: 1000;
}
.header-menu {
    width: 60px;
    height: 60px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #000;
}
.header-company-logo a {
    width: 200px;
}
.gdcs-header-company-logo a{
    width: auto;
}
.theater .header-company-logo {
    width: 120px;
}

.header-imax {
    width: 50px;
}
.header-4dx {
    width: 40px;
}
.header-4dx {
    width: 40px;
}
.header-screen-x {
    width: 65px;
}
.header-4dx-with-screen-x {
    width: 25px;
}
.theater-name {
    font-size: 20px;
}

/* サブヘッダー */
.sub-header {
    height: 62px;
}
.sub-header-inner {
    background-color: #FFF;
    position: fixed;
    top: 71px;
    left: 0;
    right: 0;
    z-index: 1030;
}
.sub-header ul li {
    width: 14.28%;
    max-width: 150px;
}
.sub-header .active a {
    color: #333 !important;
}
.sub-header ul .active a {
    border-bottom: 4px solid #000;
}

/* IMAXヘッダー */
.type-imax header,
.type-imax .header {
    height: 90px;
}
.type-imax .header .logo {
    width: 245px;
}

/* IMAXサブヘッダー */
.type-imax .sub-header-inner {
    background: #0072ce;
    background: linear-gradient(to right, #0072ce ,#2452c6);
    top: 90px;
}
.type-imax .sub-header ul li {
    width: 20%;
}
.type-imax .sub-header .active a {
    color: #FFF !important;
}
.type-imax .sub-header ul .active a {
    border-bottom: 4px solid #FFF;
}


/* 4dxヘッダー */
.type-4dx header,
.type-4dx .header {
    height: 90px;
}
.type-4dx .header .logo {
    width: 250px;
}


/* 4dxサブヘッダー */
.type-4dx .sub-header-inner {
    background: #ce0000;
    background: linear-gradient(to right, #ce0000, #a90303);
    top: 90px;
}
.type-4dx .sub-header ul li {
    width: 20%;
}
.type-4dx .sub-header .active a {
    color: #FFF !important;
}
.type-4dx .sub-header ul .active a {
    border-bottom: 4px solid #FFF;
}
/* screen-xヘッダー */
.type-scx header,
.type-scx .header {
    height: 90px;
}
.type-scx .header .logo {
    width: 300px;
}

/* SCREEN-Xサブヘッダー */
.type-scx .sub-header-inner {
    background: #ff4d00;
    background: linear-gradient(to right, #f66e00, #ff4d00);
    top: 90px;
}
.type-scx .sub-header ul li {
    width: 20%;
}
.type-scx .sub-header .active a {
    color: #FFF !important;
}
.type-scx .sub-header ul .active a {
    border-bottom: 4px solid #FFF;
}
/* 4DX with ScreenX ヘッダー*/
.type-4dxwscx header,
.type-4dxwscx .header {
    height: 90px;
}
.type-4dxwscx .header .logo {
    width: 250px;
}
/* 4DX with ScreenX サブヘッダー */
.type-4dxwscx .sub-header-inner {
    background: #fec20d;
    background: linear-gradient(to right, #fec20d, #f19b06);
    top: 90px;
}
.type-4dxwscx .sub-header ul li {
    width: 20%;
}
.type-4dxwscx .sub-header .active a {
    color: #e83903 !important;
}
.type-4dxwscx .sub-header ul .active a {
    border-bottom: 4px solid #e83903;
}

/* スライダー */
.slider {
    width: 100%;
    overflow-x: hidden;
}
.gallery-top {
    width: 750px;
    max-width: 100%;
    overflow: visible !important;
}
.gallery-top .swiper-slide {
    height: 100%;
    opacity: 0.4;
}
.gallery-top .swiper-slide img {
    width: 100%;
}
.gallery-top .swiper-slide-active {
    opacity: 1;
}
.slider .pagination {
   bottom: -15px;
}
.slider .pagination .swiper-pagination-bullet {
    width: 20px;
    height: 2px;
    display: block;
    border-radius: 0;
    background: #333;
    opacity: 0.2;
    margin: 4px;
}
.slider .pagination .swiper-pagination-bullet-active {
    opacity: 1;
}
.type-scx .slider .pagination .swiper-pagination-bullet,
.type-4dx .slider .pagination .swiper-pagination-bullet,
.type-4dxwscx .slider .pagination .swiper-pagination-bullet,
.type-imax .slider .pagination .swiper-pagination-bullet {
    background: #565656;
    opacity: 1;
}
.type-imax .slider .pagination .swiper-pagination-bullet-active {
    background: #0090d4;
}
.type-4dx .slider .pagination .swiper-pagination-bullet-active {
    background: #ce0000;
}
.type-scx .slider .pagination .swiper-pagination-bullet-active {
    background: #f66e00;
}
.type-4dxwscx .slider .pagination .swiper-pagination-bullet-active {
    background: #fec80c;
}
.thumbs li {
    width: 80px;
    opacity: 0.4;
}
.thumbs .active {
    opacity: 1;
}
.thumbs-sp {
    box-sizing: border-box;
    padding: 10px 0;
}
.thumbs-sp .swiper-slide {
    width: 100px;
    height: 50px;
    opacity: 0.4;
}
.thumbs-sp .swiper-slide-active {
    opacity: 1;
}

.trailer {
    width: 336px;
    height: 280px;
}

/* キャンペーン */
.campaign .swiper-slide {
    overflow: hidden;
}
.campaign-inner {
    padding: 0 80px;
}
.campaign .swiper-button-next {
    background-image: url(/images/common/arrow_r.svg);
}
.campaign .swiper-button-prev {
    background-image: url(/images/common/arrow_l.svg);
}
.campaign .swiper-button-disabled {
    opacity: 0;
}

/* 特設サイトキャンペーン */
.type-imax .campaign .swiper-button-next,
.type-scx .campaign .swiper-button-next,
.type-4dx .campaign .swiper-button-next,
.type-4dxwscx .campaign .swiper-button-next {
    background-image: url(/images/common/cp_arrow_wht_right.svg);
}
.type-imax .campaign .swiper-button-prev,
.type-scx .campaign .swiper-button-prev,
.type-4dx .campaign .swiper-button-prev,
.type-4dxwscx .campaign .swiper-button-prev {
    background-image: url(/images/common/cp_arrow_wht_left.svg);
}
/* ニュース */
.news li {
    border-left: 1px solid #ddd;
}
.news li:last-child,
.news li:nth-child(4n) {
    border-right: 1px solid #ddd;
}
.news li .image {
    width: 100%;
    padding-top: 75%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/* IMAXニュース */
.type-imax .news li {
    border-color: rgba(255, 255, 255, 0.2) !important;
}
.type-imax .news li a {
    color: #FFF;
}

/* 4dxニュース */
.type-4dx .news li {
    border-color: rgba(255, 255, 255, 0.2) !important;
}
.type-4dx .news li a {
    color: #FFF;
}
/* screen-xニュース */
.type-scx .news li {
    border-color: rgba(255, 255, 255, 0.2) !important;
}
.type-scx .news li a {
    color: #FFF;
}
/* 4DXwithScreenXニュース */
.type-4dxwscx .news li {
    border-color: rgba(255, 255, 255, 0.2) !important;
}
.type-4dxwscx .news li a {
    color: #FFF;
}

/* インフォメーション */
.infomation-date {
    max-width:110px;
    width: 100%;
}
.infomation li a {
    background-image: url(/images/common/info_arrow.svg);
    background-repeat: no-repeat;
    background-position: 98%;
    background-size: 15px;
}

/* IMAXインフォメーション */
.type-imax .infomation ul,
.type-imax .infomation li {
    border-color: rgba(255, 255, 255, 0.2) !important;
}
.type-imax .infomation li a {
    background-image: url(/images/common/info_arrow_wht.svg);
    color: #FFF;
}

/* 4dxインフォメーション */
.type-4dx .infomation ul,
.type-4dx .infomation li {
    border-color: rgba(255, 255, 255, 0.2) !important;
}
.type-4dx .infomation li a {
    background-image: url(/images/common/info_arrow_wht.svg);
    color: #FFF;
}
/* screen-xインフォメーション */
.type-scx .infomation ul,
.type-scx .infomation li {
    border-color: rgba(255, 255, 255, 0.2) !important;
}
.type-scx .infomation li a {
    background-image: url(/images/common/info_arrow_wht.svg);
    color: #FFF;
}
/* 4dxwithScreenXインフォメーション */
.type-4dxwscx .infomation ul,
.type-4dxwscx .infomation li {
    border-color: rgba(255, 255, 255, 0.2) !important;
}
.type-4dxwscx .infomation li a {
    background-image: url(/images/common/info_arrow_wht.svg);
    color: #FFF;
}

/* 特設サイト */
.width2 {
    max-width: 760px;
}

.special-sites-parts {
    height: 80px;
    line-height: 80px;
}
.special-sites-parts img {
    width: 62%;
}
.special-sites-parts .ft_sp_link_img_4dxwscx {
    max-height: 65px;
}
.special-sites .container {
    max-width: 1200px;
}
.link_bnr_4dxwscx{
    max-width: 900px;
    width: 100%;
}

/* ナビゲーション */
.navigation {
    height: 60px;
    height: calc(60px + env(safe-area-inset-bottom));
    background-color: rgb(51, 51, 51);
    z-index: 1301;
}
.navigation > div {
    width: 20%;
}
.navigation a {
    padding: 1px 0;
}
.navigation p {
    line-height: 1.1;
    color: rgb(120, 120, 120);
}
.navigation .active p{
    color: rgb(7, 135, 242);
}
.navigation img {
    width: 32px;
    margin-bottom: 1px;
}

.type-imax .navigation .active p {
    color: rgb(7, 135, 242);
}
.type-4dx .navigation .active p {
    color:#db0606;
}
.type-scx .navigation .active p {
    color:#fe7200;
}
.type-4dxwscx .navigation .active p {
    color:#fec80c;
}
.disabled {
    display: none;
}

/* フッター */
footer {
    padding-top: 50px;
}
.footer-logo a {
    width: 200px;
}
.footer-button {
    position: absolute;
    right: 0;
    top: -50px;
}
.footer-logo {
    background-color: #000;
}
.footer-home {
    width: 52px;
    background-color: #000;
}
.footer-top {
    width: 50px;
    background-color: rgb(54, 54, 54);
}
.footer-home, .footer-top {
    height: 50px;
}
.footer-home img, .footer-top img {
    width: 15px;
}
.sp-footer {
    background-color: rgb(82, 82, 82);
    padding: .95rem 1.25rem;
}
.footer-bnr li {
    width: 25%;
}

/* SP版公式アプリ */

/* ボタン */
.button-01 {
    overflow: hidden;
    max-width: 640px;
    border-radius: 4px;
}
.button-01 a {
    border-radius: 4px;
    display: block;
    padding: 15px 0;
    text-align: center;
    background-color: #f1f1f1;
    color: #333;
}
.button-02 {
    overflow: hidden;
}
.button-02 a {
    display: block;
    padding: 15px 0;
    text-align: center;
    color: #333;
    background-color: #fff;
    border: 1px solid #999;
    border-radius:4px;
}
.button-03 {
    border-radius: 4px;
    overflow: hidden;
    max-width: 580px;
}
.button-03 a {
    display: block;
    padding: 15px 0;
    text-align: center;
    background-color: #f1f1f1;
    color: #333;
}

.plus-button {
    overflow: hidden;
}
.plus-button a {
    display: block;
    padding: 13px 0;
    text-align: center;
    color: #333;
    background-color: #fff;
    border: 1px solid #999;
    background-image: url(/images/common/accordion_open.svg);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: right 10px center;
    border-radius:4px;
}

.minus-button {
    overflow: hidden;
}
.minus-button a {
    display: block;
    padding: 13px 0;
    text-align: center;
    color: #333;
    background-color: #fff;
    border: 1px solid #999;
    background-image: url(/images/common/accordion_close.svg);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: right 10px center;
    border-radius:4px;
}

.black-button {
    max-width: 640px;
}
.black-button a {
    border-radius: 4px;
    display: block;
    padding: 15px 0;
    text-align: center;
    color: #fff;
    background-color: rgb(84, 84, 84);
    border: 1px solid #999;
}

/* ニュース一覧・詳細で使うボタン */
.list-type-news {
    background-color: rgb(244, 224, 0);
}
.list-type-information {
    color: #fff;
    background-color: rgb(64, 64, 64 );
}
.list-type-event {
    color: #fff;
    background-color: rgb(112, 182, 1);
}
.list-type-imax {
    color: #fff;
    background-color: rgb(43, 107, 226);
}
.list-type-4dx {
    color: #fff;
    background-color: rgb(182, 1, 1);
}
.list-type-scx {
    color: #fff;
    background-color: rgb(234, 85, 20);
}
.list-type-4dxwscx {
    background-color:rgb(241, 198, 41);
}
/* 劇場SNSアカウント */

.theater-sns a {
    width: 40px;
}

.sp-theater-sns {
    border-color: #333;
}

/* プライバシーポリシー */
.privacy p {
    line-height: 1.8;
}

/* 会社概要 マップ*/
.map iframe {
    max-width: 1200px;
    width: 100%;
}

/* モーダル */
.modal {
    z-index: 2001;
}
.modal-backdrop {
    z-index: 2000;
}
.modal-dialog {
    max-width: 1100px;
}
.modal-dialog-centered {
    min-height: 100%;
}
.modal .close-button {
    position: absolute;
    top: -50px;
    right: 0;
    width: 40px;
    height: 40px;
    z-index: 2000;
    appearance: none;
}

/* spハンバーガー */
.sp-menu {
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1400;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
/*特商法ページ*/
.specific_note{
    line-height: 1.5;
}
/*劇場名改行*/
.tn_br_gdcs{
    display: none;
}
@media (max-width: 767.98px) {
    body {
        font-size: 14px;
    }
    .large {
        font-size: 16px;
    }
    .x-large {
        font-size: 20px;
    }
    header,
    .header {
        height: 60px;
    }
    .type-imax header,
    .type-imax .header {
        height: 60px;
    }
    .type-4dx header,
    .type-4dx .header {
        height: 60px;
    }
    .type-scx header,
    .type-scx .header {
        height: 60px;
    }
    .theater-name {
        font-size: 15px;
    }
    .header-company-logo a {
        width: 140px;
    }
    .header-imax {
        width: 35px;
    }
    .header-4dx {
        width: 30px;
    }
    .header-company-logo {
        width: 120px;
    }
    .theater .header-company-logo {
        width: 90px;
    }
    .sub-header {
        height: 0;
    }
    .footer-logo img {
        width: 150px;
    }
    .footer-button {
        position: static;
    }
    .footer-home {
        width: 50%;
        border-right: 1px solid #fff;
    }
    .footer-top {
        width: 50%;
    }
    .footer-home, .footer-top {
        height: 42px;
    }
    .trailer {
        max-width: 336px;
        width: auto;
        height: auto;
    }
    .trailer-inner {
        position: relative;
        width:100%;
        height: 0;
        padding-top:83.33%;
    }
    .trailer iframe,
    .trailer-inner > * {
        position:absolute;
        top:0;
        right:0;
        width:100%;
        height:100%;
    }
    /* .special-sites-parts {
        height: 105px;
        line-height: 100px;
    }
    .special-site-parts img {
        width: 50%;
        max-height: 100px;
    } */
    .news li,
    .news li:last-child,
    .news li:nth-child(4n) {
      border: none;
    }
    .news li:nth-child(odd) {
      border-right: 1px solid #ddd;
    }
    .theater footer {
        padding-bottom: 60px;
    }
    .modal-dialog {
        margin: 0 1rem;
    }
    .modal-content {
        max-height: calc(100vh - 8rem);
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
    .type-imax .header .logo {
        width: 200px;
    }
    .type-4dx .header .logo {
        width: 200px;
    }
    .type-scx .header .logo {
        width: 200px;
    }
    .footer-bnr li {
        width: auto;
    }
    footer {
        padding-top: 0;
    }
    .type-imax footer,
    .type-4dx footer,
    .type-scx footer {
        padding-bottom: 60px;
    }
    /*劇場名改行*/
    .tn_br_gdcs{
        display: block;
    }
}
