.area-title {
    width: 110px;
}
.area-select {
    margin: 0 -1rem;
}
.area-select li {
    width: 50%;
}
.area-select li a {
    min-height: 60px;
}
.logo-imax {
    width: 60px;
}
.logo-4dx {
    width: 56px;
}


@media (max-width: 767.98px) {
    .area-select {
        margin: 0;
    }
    .area-select li {
        width: 100%;
    }
}