<header>
    <div class="fixed-top bg-black">
        <div class="header d-flex align-items-center width mx-auto pl-lg-4 px-2">
            <div class="logo mr-auto">
                <a class="d-block" href="{{ path_for('screenx') }}"><img class="w-100" src="/images/screen-x/screenx_logo.svg"
                        alt="SCREEN X"></a>
            </div>
            <div><a class="text-white small" href="{{ path_for('homepage') }}">ポータルTOP</a></div>
        </div>
    </div>
</header>
