<div class="d-md-none">
    <div class="navigation fixed-bottom d-flex text-center shadow-01">
        <div class="flex-fill">
            <a href="{{ path_for('screenx') }}" class="d-block h-100">
                <div class="active">
                    <img src="/images/common/sp_nav_sptop_scx_act.svg">
                    <p class="x-small mb-0">TOP</p>
                </div>
            </a>
        </div>
        <div class="flex-fill">
            <a href="#" class="d-block h-100">
                <div>
                    <img src="/images/common/sp_nav_about_noact.svg">
                    <p class="x-small mb-0">SCREEN Xとは?</p>
                </div>
            </a>
        </div>
        <div class="flex-fill">
            <a href="#" class="d-block h-100">
                <div>
                    <img src="/images/common/sp_nav_movie_noact.svg">
                    <p class="x-small mb-0">NEWS&amp;INFO</p>
                </div>
            </a>
        </div>
        <div class="flex-fill">
            <a href="#" class="d-block h-100">
                <div>
                    <img src="/images/common/sp_nav_special_movie_noact.svg">
                    <p class="x-small mb-0">作品一覧</p>
                </div>
            </a>
        </div>
        <div class="flex-fill">
            <a href="#" class="d-block h-100">
                <div>
                    <img src="/images/common/sp_nav_tinfo_noact.svg">
                    <p class="x-small mb-0">劇場情報</p>
                </div>
            </a>
        </div>
    </div>
</div>
