{% if newsList %}
<div class="py-5 text-white">
    <div class="width mx-auto px-3 news">
        <h3 class="font-weight-bold large mb-4 text-center text-md-left line-height-1">ニュース<br><span class="small">NEWS</span></h3>
        <div class="container w-100 mw-100 m-0 mb-4 px-1">
            <ul class="row mb-0">
            {% for news in newsList %}
                <li class="col-md-3 col-6 py-2 mb-4">
                    <a href="{{ path_for('4dx_news_show', { id: news.getId() }) }}" class="d-block">
                    {% if news.getImage() %}
                        <div class="border mb-2 image border-gray" style="background-image: url({{ file_url(news.getImage()) }})"></div>
                    {% endif %}
                        <p class="mb-0">{{ news.getHeadline() }}</p>
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
        
        <div class="button-01 mx-auto list-display">
            <a class="bg-dark-red text-white" href="{{ path_for('4dx_news_list') }}">一覧</a>
        </div>
    </div>
</div>
{% endif %}