<div class="width mx-auto mb-5">
    <div class="online-mvtk-button d-flex">
        <div class="button-03 shadow-01 w-50 mx-3">
            <a href="#" class="font-weight-bold" data-toggle="modal" data-target="#modal1">オンライン<br class="d-md-none">チケット購入について</a>
        </div>
        <div class="button-03 shadow-01 w-50 mx-3">
            <a href="{{ path_for('mvtk') }}" class="font-weight-bold">ムビチケ<br class="d-md-none">ご利用手順について</a>
        </div>
    </div>
    <div class="online-ticket-button shadow-01 mx-3">
        <a href="{{ mp_ticket_inquiry(masterCode) }}" class="font-weight-bold">オンラインチケット照会/予約内容確認</a>
    </div>
</div>

<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content py-3 px-4">
            <div class="modal-body">
                <p class="font-weight-bold largr mb-4">チケット購入に関するご注意</p>
                <p class="mb-3">インターネットでチケットを購入される方は、上映スケジュール内の購入ボタンをクリックして下さい。
                    <br>※購入マークがない時間はインターネットでのチケット購入対象外となります。
                </p>
                <p class="mb-4">チケットはご鑑賞希望日の2日前から上映開始時間まで販売しております。
                    <br>お電話でのチケット販売は受け付けておりませんのでご了承ください。
                    <br>上映時間については、予告なく変更する場合がございます。
                </p>
                <p class="mb-4">【ご注意】
                    <br>●チケットをオンラインでご購入される際は、下記カレンダーのご鑑賞日付をクリックして作品と時間とをお選びくださいませ。
                    <br>●ご鑑賞日の日付間違いが増えております。ご予約の最終確認時には鑑賞日を再度ご確認ください。
                    <br>●チケットをインターネットで購入される際は、下記カレンダーのご鑑賞日付をクリックして作品と時間とをお選びくださいませ。
                    <br>●上映期間については、予告なく変更する場合がございます。
                </p>
                <p class="mb-4">シネマサンシャインでは、差額料金を追加でお支払い頂くことで、ムビチケ2D券を3D上映やIMAX上映、4DX上映、ScreenX上映にご使用頂けます。
                    <br>ネット座席予約での料金のお支払いは、クレジット決済のみとなりますのでご了承ください。
                </p>
                <p class="mb-4">推奨環境について
                    <br>[OS]
                    <br>・Windows 7、Windows 8、Windows 10、最新のMac OS
                    <br>[推奨ブラウザ]
                    <br>・Firefox/Safari/Google Chrome/Microsoft Edge : 最新版
                    <br>※現在、Internet Explorerでご購入の際に購入エラーが発生する事がございます。
                    大変申し訳ありませんが上記推奨ブラウザでのご購入をお願い致します。
                </p>
                <div class="button-03 shadow-01 w-dth mx-auto mb-4">
                    <a href="{{ path_for('online_ticket') }}" class="font-weight-bold">オンラインチケット購入のメリット</a>
                </div>
                <div class="text-center">
                    <a href="#" data-dismiss="modal" class="font-weight-bold border-bottom border-navy">閉じる</a>
                </div>
            </div>
        </div>
    </div>
</div>
