{% set specialSites = theater.getSpecialSites() %}
{% set count = specialSites|length %}

{# SASAKI-456、SASAKI-491 #}
{% set hasBestia = theater.getName() in ['aira', 'gdcs', 'lalaportnumazu'] %}

{% if hasBestia %}
    {% set count = count + 1 %}
{% endif %}

{% if count > 0 %}
<div class="imax-4dx d-flex text-center justify-content-md-center justify-content-start mb-3">

{% for specialSite in specialSites %}
    {% if count == 1 %}
    <div class="align-self-center p-3 col-md-2">
    {% else %}
    <div class="align-self-center p-3 col-6 col-md-2">
    {% endif %}

    {% if specialSite.getId() == 1 %}
        <a href="{{ path_for('imax') }}" class="d-block">
            <div class="imax mb-1"><img src="/images/common/imax_logo.svg" alt="IMAX"></div>
            <p class="mb-0 small">特設サイトはこちら</p>
        </a>
    {% elseif specialSite.getId() == 2 %}
        <a href="{{ path_for('4dx') }}" class="d-block">
            <div class="fourdx mb-1"><img src="/images/common/4dx_logo.svg" alt="４DX"></div>
            <p class="mb-0 small">特設サイトはこちら</p>
        </a>
    {% elseif specialSite.getId() == 3 %}
        <a href="{{ path_for('screenx') }}" class="d-block">
            <div class="fourdx mb-1"><img src="/images/common/screen-x_logo.svg" alt="SCREEN X(スクリーンX)"></div>
            <p class="mb-0 small">特設サイトはこちら</p>
        </a>
    {% elseif specialSite.getId() == 4 %}
        <a href="{{ path_for('4dx_screen') }}" class="d-block">
            <div class="fourdx mb-1"><img src="/images/common/4dx-with-screen-x_logo.svg" alt="4DX SCREEN(4DXスクリーン)"></div>
            <p class="mb-0 small">特設サイトはこちら</p>
        </a>
    {% endif %}

    </div>
{% endfor %}

{% if hasBestia %}
    {% if count == 1 %}
    <div class="align-self-center p-3 col-md-2">
    {% else %}
    <div class="align-self-center p-3 col-6 col-md-2">
    {% endif %}

        <a href="/bestia/" class="d-block">
            <div class="fourdx mb-1"><img src="/images/top/bestia_logo.svg" class="link_bestia_logo"　alt="BESTIA(ベスティア)"></div>
            <p class="mb-0 small">特設サイトはこちら</p>
        </a>
    </div>
{% endif %}

</div>
{% endif %}
