<div class="pickup bg-white mr-sm-3 p-3 border mb-md-0 mb-3 w-100">
    <h3 class="pickup-button bg-black text-white font-weight-bold mb-3 py-2 px-3">ピックアップ</h3>
    <div>
        <a href="{{ campaign.getUrl() }}" target="_blank" class="d-sm-flex">
            <div class="pickup-image mr-sm-3 pb-3">
                <img class="w-100" src="{{ file_url(campaign.getImage()) }}">
            </div>
            <div class="pickup-details">
                <p class="mb-0 font-weight-bold">{{ campaign.getName() }}</p>
            </div>
        </a>
    </div>
</div>