<div class="imax-4dx d-flex text-center justify-content-center mb-5">
{% for specialSite in specialSites %}
    <div class="align-self-center pr-md-5 pr-3">
    {% if specialSite.getId() == 1 %}
        <a href="{{ path_for('imax') }}" class="d-block">
            <div class="imax mb-1"><img src="/images/common/imax_logo.svg"></div>
            <p class="mb-0">特設サイトはこちら</p>
        </a>
    {% elseif specialSite.getId() == 2 %}
        <a href="{{ path_for('4dx') }}" class="d-block">
            <div class="fourdx mb-1"><img src="/images/common/4dx_logo.svg"></div>
            <p class="mb-0">特設サイトはこちら</p>
        </a>
    {% elseif specialSite.getId() == 3 %}
        <a href="{{ path_for('screenx') }}" class="d-block">
            <div class="fourdx mb-1"><img src="/images/common/screen-x_logo.svg"></div>
            <p class="mb-0">特設サイトはこちら</p>
        </a>
    {% endif %}
    </div>
{% endfor %}
</div>
