<div class="trailer mx-auto mx-md-0">
    <div class="trailer-inner">
        {# TODO: 設定で広告か直接動画表示を切り替えるような仕組み #}
        {# TODO: 広告表示 #}
        <iframe type="text/html" src="{{ path_for('trailer', {}, { t: theater.getId() }) }}" frameborder="0" width="336" height="280"></iframe>
    </div>
</div>
