<div class="special-sites mb-md-5 px-md-3">
    <div class="container d-md-block d-none">
        <div class="row text-white">
            
            <div class="text-center p-4 col-sm">
                <div><img src="/images/tmp/common/appli_logo.png" width="50"></div>
                <div class="font-weight-bold my-4">公式アプリ</div>
                
                <div class="button-02"><a class="text-white bg-dark-blue border-0 rounded" href="{{ path_for('official_app') }}">詳細はこちら</a></div>
                
            </div>
            <div class="text-center p-4 col-sm border-left border-right border-gray">
                
                <div><img src="/images/common/mm_icon.svg" width="50"></div>
                <div class="font-weight-bold py-4">メールマガジン</div>
                <div class="button-02"><a class="text-white bg-dark-blue border-0 rounded" href="#">詳細はこちら</a></div>
                
            </div>
            <div class="text-center p-4 col-sm">
                
                <div><img src="/images/common/sns_icon.svg" width="50"></div>
                <div class="font-weight-bold my-4">公式SNS</div>
                <div class="button-02"><a class="text-white bg-dark-blue border-0 rounded" href="{{ path_for('theater_sns') }}">詳細はこちら</a></div>
                
            </div>
        </div>
    </div>
</div>

<div class="sp-special-site d-block d-md-none pt-4">
    <div class="sp-apps text-center py-4 bg-black text-white">
        <div class="font-weight-bold">シネマサンシャイン公式アプリ</div>
        <div class="my-3"><img src="/images/tmp/common/appli_logo.png" width="80"></div>
        <div class="small mb-3">映画鑑賞をもっと便利に！</div>
        
        <div class="button-02 w-75 mx-auto rounded"><a class="bg-dark-blue text-white border-0" href="{{ path_for('official_app') }}">詳細はこちら</a></div>
        
    </div>
    <div class="d-flex my-5 text-white">
        <div class="text-center flex-fill border-right border-dark-gray">
            
            <div><img src="/images/common/mm_icon.svg" width="32"></div>
            
            <div class="font-weight-bold my-3">メールマガジン</div>
            <div><a href="#" class="border-bottom border-dark-gray text-white">詳細はこちら</a></div>
        </div>
        <div class="text-center flex-fill">
            
            <div><img src="/images/common/sns_icon.svg" width="32"></div>
            
            <div class="font-weight-bold my-3">公式SNS</div>
            <div><a href="{{ path_for('theater_sns') }}" class="border-bottom border-dark-gray text-white">アカウント一覧</a></div>
        </div>
    </div>
</div>