<header>
    <div class="fixed-top bg-black">
        <div class="header d-flex align-items-center width mx-auto pl-md-4 px-2">
            <div class="logo mr-auto">
                <a href="{{ path_for('imax') }}" class="d-block"><img class="w-100" src="/images/imax/cs_imax_logo.svg" alt="CINEMA SUNSHINE IMAX"></a>
            </div>
            <div><a class="text-white small" href="{{ path_for('homepage') }}">ポータルTOP</a></div>
        </div>
    </div>
</header>
