<div class="d-md-none">
    <div class="navigation fixed-bottom d-flex text-center shadow-01">
        <div class="flex-fill">
            <a href="{{ path_for('imax') }}" class="d-block h-100">
                <div class="active">
                    <img src="/images/common/sp_nav_scadule_act.svg">
                    <p class="x-small mb-0">TOP</p>
                </div>
                <div class="flex-fill disabled">
                    <img src="/images/common/sp_nav_scadule_noact.svg">
                    <p class="x-small mb-0">TOP</p>
                </div>
            </a>
        </div>
        <div class="flex-fill">
            <a href="{{ path_for('imax_about') }}" class="d-block h-100">
                <div class="disabled">
                    <img src="/images/common/sp_nav_news_act.svg">
                    <p class="x-small mb-0">about</p>
                </div>
                <div>
                    <img src="/images/common/sp_nav_news_noact.svg">
                    <p class="x-small mb-0">about</p>
                </div>
            </a>
        </div>
        <div class="flex-fill">
            <a href="#" class="d-block h-100">
                <div class="disabled">
                    <img src="/images/common/sp_nav_movie_act.svg">
                    <p class="x-small mb-0">news</p>
                </div>
                <div>
                    <img src="/images/common/sp_nav_movie_noact.svg">
                    <p class="x-small mb-0">news</p>
                </div>
            </a>
        </div>
        <div class="flex-fill">
            <a href="{{ path_for('imax_schedule_list') }}" class="d-block h-100">
                <div class="disabled">
                    <img src="/images/common/sp_nav_ticket_act.svg">
                    <p class="x-small mb-0">movie</p>
                </div>
                <div>
                    <img src="/images/common/sp_nav_ticket_noact.svg">
                    <p class="x-small mb-0">movie</p>
                </div>
            </a>
        </div>
        <div class="flex-fill">
            <a href="#" class="d-block h-100">
                <div class="disabled">
                    <img src="/images/common/sp_nav_food_act.svg">
                    <p class="x-small mb-0">theater</p>
                </div>
                <div>
                    <img src="/images/common/sp_nav_food_noact.svg">
                    <p class="x-small mb-0">theater</p>
                </div>
            </a>
        </div>
    </div>
</div>