<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- 旧サイト用ルール SASAKI-320 -->
                <rule name="Old Site Rule" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{URL}" pattern="^/sp$" />
                        <add input="{URL}" pattern="^/sp/.*$" />
                    </conditions>
                    <action type="Redirect" url="/" appendQueryString="false" redirectType="Permanent" />
                </rule>
                <rule name="Application Rule" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
