{% extends "layout.html.twig" %}

{% block title %}会社概要 | {{ parent() }}{% endblock %}

{% block description %}会社概要のご案内{% endblock %}

{% block keywords %}{{ parent()}},会社概要{% endblock %}

{% block contents %}
<div class="width mx-auto p-3">
    <div class="breadcrumb-list small mb-5 d-md-block d-none">
        <a href="{{ path_for('homepage') }}">ホーム　|　</a>
        <span class="font-weight-bold">会社概要</span>
    </div>

    <div class="mb-5 pjack-bg">
        <h2 class="font-weight-bold large text-center text-md-left mb-4 mt-3">会社概要</h2>
        <div>
            <h3 class="font-weight-bold mb-2">会社名</h3>
            <p>佐々木興業株式会社</p>
        </div>
        <div>
            <h3 class="font-weight-bold mb-2">電話</h3>
            <p>03-3982-6101(代表)</p>
        </div>
        <div>
            <h3 class="font-weight-bold mb-2">代表者</h3>
            <p>佐々木　伸一</p>
        </div>
        <div>
            <h3 class="font-weight-bold mb-2">事業内容</h3>
            <p>マルチプレックス方式による映画、演劇、音楽その他各種イベントの興行、映画館に付属する各種遊戯施設、飲食店、売店などの営業等。</p>
        </div>
        <div class="mb-4">
            <h3 class="font-weight-bold mb-2">所在地</h3>
            <p>〒170-0013 東京都豊島区東池袋1-14-3</p>
        </div>
        <div class="map mb-5">
            <iframe height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.jp/maps?f=q&amp;source=s_q&amp;hl=ja&amp;geocode=&amp;q=%E6%9D%B1%E4%BA%AC%E9%83%BD%E8%B1%8A%E5%B3%B6%E5%8C%BA%E6%9D%B1%E6%B1%A0%E8%A2%8B1-14-3&amp;aq=&amp;sll=34.728949,138.455511&amp;sspn=54.857824,135.263672&amp;brcurrent=3,0x60188d66480772ff:0x4136f3704e611443,0&amp;ie=UTF8&amp;hq=&amp;hnear=%E6%9D%B1%E4%BA%AC%E9%83%BD%E8%B1%8A%E5%B3%B6%E5%8C%BA%E6%9D%B1%E6%B1%A0%E8%A2%8B%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%EF%BC%94%E2%88%92%EF%BC%93&amp;t=m&amp;ll=35.729975,139.714787&amp;spn=0.004355,0.006427&amp;z=17&amp;output=embed&amp;iwloc=B"></iframe>
        </div>

    </div>

</div>
{% endblock %}
