{% extends "layout.html.twig" %}

{% block title %}{{ meta_title('about_cs_reward') }}{% endblock %}

{% block description %}{{ meta_description('about_cs_reward') }}{% endblock %}

{% block keywords %}{{ meta_keywords('about_cs_reward') }}{% endblock %}

{% block css %}
<link href="/css/cs-reward.css" rel="stylesheet">
{% endblock %}

{% block contents %}
<div class="px-3 pt-3">
    <div class="width mx-auto breadcrumb-list small mb-5 d-none d-md-block">
        <a href="{{ path_for('homepage') }}">ホーム　|　</a>
        <span class="font-weight-bold">シネマサンシャインリワード</span>
    </div>

    <div class="app-width mx-auto">
        <div class="d-lg-flex text-center text-lg-left d-lg-block d-none">
            <div class="py-lg-4">
                <h3 class="py-2 font-weight-bold headline">シネマサンシャインの会員サービス<br>「シネマサンシャインリワード」</h3>
                <p class="sentence">シネマサンシャインホームページから<br>今すぐご入会ご利用いただけます</p>
                <p class="my-3 small text-red">※2ポイント鑑賞ならびに会員鑑賞料金は、6/30まで1、100円でご鑑賞いただけます。<br>7/1からは1,200円にご鑑賞料金が変更となります。</p>
                <p class="sentence">全劇場対応<br><img src="/images/reward/mvtk_goriyou.svg" class="mvtk_goriyou pjack-bg-color-only" alt="ムビチケご利用可能です"><br><span class="small">※チケット購入は上映開始時間まで購入可能です。</span></p>
            </div>
            <div class="smp-img ml-auto mr-lg-5">
                <img src="/images/reward/smp_img.png">
            </div>
        </div>
        <div class="text-center text-lg-left d-lg-none">
            <div class="mb-4">
                <p class="py-2 font-weight-bold headline mb-0"><span class="small font-weight-bold">シネマサンシャインの会員サービス</span><br>「シネマサンシャインリワード」</p>
                <p class="sentence">シネマサンシャインホームページから<br>今すぐご入会ご利用いただけます</p>
                <p class="sentence small">全劇場対応<br><img src="/images/reward/mvtk_goriyou.svg" class="mvtk_goriyou" alt="ムビチケご利用可能です"><br><span class="small">※ チケット購入は上映開始時間まで購入可能です。</span></p>
            </div>
            <div class="smp-img ml-auto mr-lg-5">
                <img src="/images/reward/smp_img.png">
            </div>
        </div>
    </div>
</div>

<div class="apps pb-md-5 pb-4 py-4 text-center">
    <div class="my-md-5 my-3 appli-logo">
        <img src="/images/reward/csr-logo-512-512.png" alt="cinemasuhine Reward">
    </div>
    <div>
        <h3 class="headline font-weight-bold mb-md-4">シネマサンシャインリワードで<br>もっともっと映画を楽しもう</h3>
    </div>
</div>
<div class="p-3">
    <div class="app-width mx-auto">
        <div class="function-colum d-md-flex align-items-center justify-content-between my-md-4 my-4 pb-4">
            <div class="new-function-txt mb-4 mb-md-0 pr-md-3">
                <p class="font-weight-bold mb-1">ログインしてチケット購入ごとに１ポイント進呈</p>
                <p class="small text-red">※ポイントや招待券を利用した座席は対象外です。</p>
            </div>
            <div class="new-function-img">
                <img src="/images/reward/tokuten2_img.svg" width="100%">
            </div>
        </div>
    </div>
</div>

<div class="p-3">
    <div class="app-width mx-auto pjack-bg">
        <div class="benefits d-md-flex align-items-center justify-content-between my-md-4 my-4 pb-4">
            <div class="benefits-icon text-center mb-4 mb-md-0">
                <img src="/images/reward/tokuten1_icon.svg" class="py-3">
                <p class="font-weight-bold mb-1">会員限定<br>オンラインチケット早期購入</p>
                <p class="small text-red"></p>
            </div>
            <div class="benefits-img pl-md-5">
                <img src="/images/reward/tokuten7_img.svg">
            </div>
        </div>
        <div class="benefits d-md-flex align-items-center justify-content-between my-md-4 my-4 pb-4">
            <div class="benefits-icon text-center mb-4 mb-md-0">
                <img src="/images/reward/tokuten2_icon.svg" class="py-3">
                <p class="font-weight-bold mb-1">年会費500円（税込み）<br>☆ご入会時に１ポイントプレゼント</p>
                <p class="small text-red">※以降会員更新時にも1ポイント付与</p>
            </div>
            <div class="benefits-img pl-md-5">
                <img src="/images/reward/tokuten1_img.svg">
            </div>
        </div>
        <div class="benefits d-md-flex align-items-center justify-content-between my-md-4 my-4 pb-4">
            <div class="benefits-icon text-center mb-4 mb-md-0">
                <img src="/images/reward/tokuten3_icon.svg" class="py-3">
                <p class="font-weight-bold">２ポイント交換で1,200円鑑賞<br><span class="my-3 small text-red">※2ポイント鑑賞ならびに会員鑑賞料金は、6/30まで1,100円でご鑑賞いただけます。<br>7/1からは1,200円に鑑賞料金が変更となります。</span></p>
            </div>
            <div class="benefits-img pl-md-5">
                <img src="/images/reward/tokuten3_img.svg">
            </div>
        </div>
        <div class="benefits d-md-flex align-items-center justify-content-between my-md-4 my-4 pb-4">
            <div class="benefits-icon text-center mb-4 mb-md-0">
                <img src="/images/reward/tokuten4_icon.svg" class="py-3">
                <p class="font-weight-bold">６ポイント交換で1回無料鑑賞</p>
            </div>
            <div class="benefits-img pl-md-5">
                <img src="/images/app/tokuten4_img.svg">
            </div>
        </div>
        <div class="benefits d-md-flex align-items-center justify-content-between my-md-4 my-4 pb-4">
            <div class="benefits-icon text-center mb-4 mb-md-0">
                <img src="/images/reward/tokuten5_icon.svg" class="py-3">
                <p class="font-weight-bold">毎週木曜日は会員サービスデイ<br>会員ご本人様1,200円<br><span class="my-3 small text-red">※2ポイント鑑賞ならびに会員鑑賞料金は、6/30まで1,100円でご鑑賞いただけます。<br>7/1からは1,200円に鑑賞料金が変更となります。</span></p>
            </div>
            <div class="benefits-img pl-md-5">
                <img src="/images/reward/tokuten5_img.svg">
            </div>
        </div>
        <div class="benefits d-md-flex align-items-center justify-content-between my-md-4 my-4 pb-4">
            <div class="benefits-icon text-center mb-4 mb-md-0">
                <img src="/images/reward/tokuten6_icon.svg" class="py-3">
                <p class="font-weight-bold">マイページで鑑賞履歴が確認できます<br></p>
            </div>
            <div class="benefits-img pl-md-5">
                <img src="/images/reward/tokuten6_img.svg">
            </div>
        </div>
        <div class="benefits d-md-flex align-items-center justify-content-between my-md-4 my-4 pb-4">
            <div class="benefits-icon text-center mb-4 mb-md-0">
                <img src="/images/reward/tokuten7_icon.svg" class="py-3">
                <p class="font-weight-bold">マイページ内の鑑賞履歴から<br>QRコード入場が可能</p>
            </div>
            <div class="benefits-img pl-md-5">
                <img src="/images/reward/free_app_img1.svg">
            </div>
        </div>
        <div>
            <div class="app-width mx-auto csr-benefit-step function-colum pb-5">
                <h3 class="text-center headline font-weight-bold mb-md-4">ポイント交換の使い方（特典３、４の使い方）</h3>
                <div class="csr-step-bloc">
                    <div class="csr-point-step">
                        <p class="csr_step_num text-center">STEP1</p>
                        <p class="csr_step_tit font-weight-bold large">マイページで<br class="sp-disp-none">ポイント交換</p>
                        <p class="csr_step_txt">マイページから<br class="sp-disp-none"  >ポイントをクーポンに交換します</p>
                    </div>
                    <div class="csr-point-arrow sp-disp-none"><img src="/images/reward/csr-step-arrowai.svg" width="100%"></div>
                    <div class="csr-point-step">
                        <p class="csr_step_num text-center">STEP2</p>
                        <p class="csr_step_tit font-weight-bold large">ポータルサイトに<br class="sp-disp-none">ログイン</p>
                        <p class="csr_step_txt">購入する際はポータルサイトに<br class="sp-disp-none">ログインを行います</p>
                    </div>
                    <div class="csr-point-arrow sp-disp-none"><img src="/images/reward/csr-step-arrowai.svg" width="100%"></div>
                    <div class="csr-point-step">
                        <p class="csr_step_num text-center">STEP3</p>
                        <p class="csr_step_tit font-weight-bold large">クーポンを<br class="sp-disp-none">利用して購入</p>
                        <p class="csr_step_txt">券種にクーポンが追加されて<br class="sp-disp-none">いますのでご利用ください</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-5">
            <div class="text-center function-colum py-5 mb-5">
                <h3 class="font-weight-bold mb-2 mb-md-3 headline">さらに便利な機能、<br class="d-block d-md-none">会員サービスを追加予定です</h3>
                <p class="text-gray small">会員サービスの内容は変更になる場合がございます。</p>
            </div>

            <!--<div class="p-3">
                <div class="app-width mx-auto">
                    <h3 class="text-center headline font-weight-bold mb-md-4">機能追加のお知らせ</h3>
                    <div class="function-colum function-colum-first d-md-flex align-items-center justify-content-between my-md-4 my-4 py-4">
                        <div class="new-function-txt mb-4 mb-md-0 pr-md-3">
                            <p class="font-weight-bold mb-1">チケット購入者、同伴者とも会員の場合、同伴者の方へアプリ内マイページにてポイント振替ができるようになりました。<br></p>
                            <p class="small text-red">※ポイントや招待券を利用した座席は対象外です。<br>※チケット購入者、同伴者とも会員の場合に限ります。<br>※窓口・券売機でのご購入は対象外となります。<br>※未ログイン状態でのご購入は対象外となります。</p>
                        </div>
                        <div class="new-function-img">
                            <img src="/images/app/tokuten8_img.svg" width="100%">
                        </div>
                    </div>
                </div>
            </div>-->

            <div class="small">
                <h3 class="text-center headline font-weight-bold mb-md-4">注意事項</h3>
                <p class="my-3 small text-red">※2ポイント鑑賞ならびに会員鑑賞料金は、6/30まで1、100円でご鑑賞いただけます。<br>7/1からは1,200円にご鑑賞料金が変更となります。</p>
                <div>
                    <p>・チケット購入の会員サービス（2ポイント1,200円鑑賞/6ポイント無料鑑賞、会員サービスデイ鑑賞）は、ご入会の上、Webブラウザ（シネマサンシャイン公式HP）でログインすることでご利用いただけます。</p>
                    <p>・ポイントは購入枚数に関わらず決済1回につき1ポイント付与となります。<br><!--<span class="text-red">※チケット購入者、同伴者とも会員の場合、同伴者の方へアプリ内でポイント振替が可能です。</span>--></p>
                </div>
                <div>
                    <p>特典１</p>
                    <p>※早期購入は、一部作品・上映によっては対象外となる場合がございます。</p>
                </div>
                <div>
                    <p>特典２</p>
                    <p>※年会費はご登録いただいたクレジットカードでの支払いとなります。
                        <br> ※会員期間はご入会日から1年間です。
                        <br> ※会員更新料は500円（税込み）となります。<span class="text-red">（会員更新時1ポイント付与）</span></p>
                </div>
                <div>
                    <p>特典３・４</p>
                    <p>※3D作品やプレミアムシアターのチケットをご購入の場合は別途差額料金が発生します。
                        <br>※一部、特別興行等で無料鑑賞・1,200円鑑賞がご利用いただけない場合がございます。
                        <br>※ポイントを利用した券種のみでご鑑賞のチケット決済ではポイントは付与されません。
                        <br>※ポイントの有効期限は会員期間の終了までとなりますが、翌年の会員1年更新でポイント期限も同期間まで延長します。
                    </p>
                </div>
                <div>
                    <p>特典５</p>
                    <p>※会員1,200円券種は毎週木曜日の上映回をご購入いただく際に1枚お選びいただけます。
                        <br>※3D作品やプレミアムシアターのチケットをご購入の場合は、別途差額料金が発生します。
                        <br>※木曜日であっても、一部特別興行等で1,200円鑑賞がご利用いただけない場合がございます。
                    </p>
                </div>
                <div>
                    <p>特典６</p>
                    <p>※会員登録により、チケット購入の度にお客様情報・クレジット情報の入力をする手続きが不要となります。</p>
                </div>
            </div>
        </div>

        <!--<div>
            <h3 class="text-center large font-weight-bold mb-4">もちろん、無料版アプリの<br class="d-block d-md-none">基本機能もご利用可能</h3>
            <div class="p-md-3">
                <ul class="free-app d-md-flex flex-wrap">
                    <li class="mb-4">
                        <div class="free-app-item py-md-5 py-4 mx-0 mx-md-3 text-center h-100">
                            <p class="large font-weight-bold">スマホがチケットに</p>
                            <p class="mb-4">アプリ内のチケット（QR）を入場ゲートの<br>スタッフに見せるだけで入場できる。</p>
                            <img src="/images/app/free_app_img1.svg">
                        </div>
                    </li>
                    <li class="mb-4">
                        <div class="free-app-item py-md-5 py-4 mx-0 mx-md-3 text-center h-100">
                            <p class="large font-weight-bold">アプリでチケット管理</p>
                            <p class="mb-4">アプリで購入したチケットは、<br>アプリ内のチケットホルダーに見やすく収納</p>
                            <img src="/images/app/free_app_img2.svg">
                        </div>
                    </li>
                    <li class="mb-4">
                        <div class="free-app-item py-md-5 py-4 mx-0 mx-md-3 text-center h-100">
                            <p class="large font-weight-bold">お知らせ機能で焦らず安心</p>
                            <p class="mb-4">鑑賞当日、上映３０分前に<br>プッシュ通知でお知らせ。</p>
                            <img src="/images/app/free_app_img3.svg">
                        </div>
                    </li>
                    <li class="mb-md-4 mb-2">
                        <div class="free-app-item py-md-5 py-4 mx-0 mx-md-3 text-center h-100 d-flex align-items-center justify-content-center">
                            <div>
                                <p class="large font-weight-bold">２日前からチケット購入</p>
                                <p class="mb-4">当日まで待たなくても事前に購入できる。</p>
                                <img src="/images/app/free_app_img4.svg">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>-->
        <div class="py-5 text-center">
            <div>
                <a href="https://member.cinemasunshine.co.jp" class="csr-entry-btn mb-5" target="_blank">会員登録を行う</a>
                <!--<a href="" class="csr-rtf-btn">アプリ会員移行手続き方法はこちら</a>-->
            </div>
            <a href="/app/" class="csr-app-link">旧アプリ会員の特典ページはこちら</a>
        </div>
    </div>
</div>

<!--<div class="apps py-5 text-center">
    <div class="appli-logo">
        <img src="/images/tmp/common/appli_logo.png" alt="シネマサンシャイン公式アプリのダウンロードは下記から">
    </div>
    <div>
        <h3 class="headline font-weight-bold py-3 py-md-4 mb-0">シネマサンシャイン公式アプリ</h3>
        <div class="d-md-flex justify-content-center align-items-center mb-2">
            <div class="app-button ios">
                <a href="https://itunes.apple.com/jp/app/%E3%82%B7%E3%83%8D%E3%83%9E%E3%82%B5%E3%83%B3%E3%82%B7%E3%83%A3%E3%82%A4%E3%83%B3%E5%85%AC%E5%BC%8F%E3%82%A2%E3%83%97%E3%83%AA/id1328731976?l=ja&amp;ls=1&amp;mt=8">
                    <img alt="App Storeからダウンロード" src="https://linkmaker.itunes.apple.com/assets/shared/badges/ja-jp/appstore-lrg.svg">
                </a>
            </div>
            <div class="app-button android ml-md-3">
                <a href="https://play.google.com/store/apps/details?id=jp.co.cinemasunshine&amp;pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1">
                    <img alt="Google Play で手に入れよう" src="https://play.google.com/intl/ja/badges/images/generic/ja_badge_web_generic.png">
                </a>
            </div>
        </div>
        <img src="/images/app/seach.svg" class="search mx-3 mb-4">
        <p class="small mb-0">全劇場対応</p>
    </div>
</div>-->
{% endblock %}
