{% extends "layout.html.twig" %}

{% block title %}よくあるご質問(Q&A) | {{ parent() }}{% endblock %}

{% block description %}シネサンシャインのよくあるご質問(Q&A)ページです。お客様からいただいたご質問などをご案内{% endblock %}

{% block keywords %}{{ parent()}},サイトマップ{% endblock %}

{% block css %}
<link href="/css/question.css" rel="stylesheet">
{% endblock %}

{% block contents %}
<div class="width mx-auto p-3">
    <div class="breadcrumb-list small mb-5 d-none d-md-block">
        <a href="{{ path_for('homepage') }}">ホーム　|　</a>
        <span class="font-weight-bold">よくあるご質問(Q＆A)</span>
    </div>
    
    <div class="mb-5">
        <h2 class="font-weight-bold large text-center text-md-left mb-4 mt-2">よくあるご質問（Q＆A）</h2>
        <div class="headline d-lg-flex mb-4">
            <a href="#01" data-scroll-target="#01" class="d-block mr-4 mb-3">
                チケットについて</a>
            <a href="#02" data-scroll-target="#02" class="d-block mr-4 mb-3">
                e-Box（インターネットチケット購入）について</a>
            <a href="#03" data-scroll-target="#03" class="d-block mr-4 mb-3">
                ムビチケについて</a>
            <a href="#04" data-scroll-target="#04" class="d-block mr-4 mb-3">
                劇場について</a>
            <a href="#05" data-scroll-target="#05" class="d-block mb-3">
                3D作品の上映について</a>
        </div>
        <div class="mb-5">
            <h3 class="font-weight-bold large text-center text-md-left mb-4" id="01">チケットについて</h3>
            <div class="border-top border-bottom py-3">
                <p class="pickup-button bg-light-gray py-2 px-3"><span class="q font-weight-bold pr-1">Q</span>チケットはいつから購入できますか。</p>
                <p class="mb-0 px-3"><span class="font-weight-bold">A</span>：ご鑑賞日の2日前から購入できます。（作品によっては2日より前から購入できる場合もあります。）</p>
            </div>
            <div class="border-top border-bottom py-3">
                <p class="pickup-button bg-light-gray mb-3 py-2 px-3"><span class="q font-weight-bold pr-1">Q</span>前売券・特別鑑賞券を持っている場合は？</p>
                <p class="mb-0 px-3"><span class="font-weight-bold">A</span>：窓口で座席指定券とのお引換えが必要です。通常、ご鑑賞日の２日前からお引換え可能ですが、作品によっては早まる場合がございますのでご了承下さい。
                    <br>※「ムビチケ」タイプの前売券は、オンラインで座席予約が可能です。詳しくは当ページの「ムビチケについて」をご覧ください。
                </p>
            </div>
            <div class="border-top border-bottom py-3">
                <p class="pickup-button bg-light-gray mb-3 py-2 px-3"><span class="q font-weight-bold pr-1">Q</span>チケットは何歳から必要ですか。</p>
                <p class="mb-0 px-3"><span class="font-weight-bold">A</span>：3歳のお子様から必要です。（作品によっては2歳のお子様から必要になる場合もあります。）3歳未満のお子様は、保護者の方のお膝の上でご鑑賞の場合は料金をいただいておりませんが、座席をご利用になる場合は料金をいただきます。但し、3Ｄ作品をご覧になりますお客様は2歳以下のお子様でも3Ｄメガネを利用される場合、鑑賞料金をいただきます。予めご了承ください。なお、2歳以下のお子様の3Ｄ鑑賞料金は1,400円です。</p>
            </div>
            <div class="border-top border-bottom py-3">
                <p class="pickup-button bg-light-gray mb-3 py-2 px-3"><span class="q font-weight-bold pr-1">Q</span>購入したチケットの払い戻しや日時、作品、座席の変更はできますか。</p>
                <p class="mb-0 px-3"><span class="font-weight-bold">A</span>：ご購入後のチケットの払い戻しや日時、作品、座席の変更はできませんので、予めご了承ください。</p>
            </div>
            <div class="border-top border-bottom py-3">
                <p class="pickup-button bg-light-gray mb-3 py-2 px-3"><span class="q font-weight-bold pr-1">Q</span>学生のチケット購入は証明書が必要ですか。</p>
                <p class="mb-0 px-3"><span class="font-weight-bold">A</span>：高校生、大学生の方はチケット購入時に、学生証など証明できるものをご提示ください。<br>小学生、中学生の方は自己申告制となります。チケット購入時にスタッフにお申し付けください。</p>
            </div>
            <div class="border-top border-bottom py-3">
                <p class="pickup-button bg-light-gray mb-3 py-2 px-3"><span class="q font-weight-bold pr-1">Q</span>シニア、夫婦50割引のチケット購入は証明書が必要ですか。</p>
                <p class="mb-0 px-3"><span class="font-weight-bold">A</span>：シニアの方は自己申告制となっております。チケット購入時、スタッフにお申し付けください。<br>夫婦50割引はどちらかが50歳以上であることが確認できる証明書をご提示ください。</p>
            </div>
            <div class="border-top border-bottom py-3">
                <p class="pickup-button bg-light-gray mb-3 py-2 px-3"><span class="q font-weight-bold pr-1">Q</span>チケットの電話予約はできますか。</p>
                <p class="mb-0 px-3"><span class="font-weight-bold">A</span>：電話予約はできません。</p>
            </div>
        </div>

        <div class="mb-5">
            <h3 class="font-weight-bold large text-center text-md-left mb-4" id="02">e-Box（インターネットチケット購入）について</h3>
            <div class="border-top border-bottom py-3">
                <p class="pickup-button bg-light-gray mb-3 py-2 px-3"><span class="q font-weight-bold pr-1">Q</span>インターネットでチケット購入できる劇場はどこですか。</p>
                <p class="mb-0 px-3"><span class="font-weight-bold">A</span>：全ての劇場でご利用いただけます。</p>
            </div>
            <div class="border-top border-bottom py-3">
                <p class="pickup-button bg-light-gray mb-3 py-2 px-3"><span class="q font-weight-bold pr-1">Q</span>携帯からは購入できますか。</p>
                <p class="mb-0 px-3"><span class="font-weight-bold">A</span>：スマートフォンでの購入が可能です。<br>（フィーチャーフォンでの購入は2018年5月27日（日）をもって全館にて対応を終了とさせていただきます。PC、窓口または劇場設置の自動券売機にてお求めください。）</p>
            </div>
            <div class="border-top border-bottom py-3">
                <p class="pickup-button bg-light-gray mb-3 py-2 px-3"><span class="q font-weight-bold pr-1">Q</span>パソコンと携帯からのチケット購入方法を教えて下さい。</p>
                <p class="blue px-3 mb-0"><span class="font-weight-bold">A</span>：e-Box購入方法は<a href="#">こちら</a>をご確認ください。<br>池袋・北島・下関・姶良は<a href="/online-ticket">こちら</a><br>その他の劇場は各劇場の「上映スケジュール/チケット購入」のページよりご購入いただけます。</p>
            </div>
            <div class="border-top border-bottom py-3">
                <p class="pickup-button bg-light-gray mb-3 py-2 px-3"><span class="q font-weight-bold pr-1">Q</span>支払い方法を教えてください。</p>
                <p class="mb-0 px-3"><span class="font-weight-bold">A</span>：インターネットで予約された場合、お支払いはクレジットカード決済のみとなります。</p>
            </div>
            <div class="border-top border-bottom py-3">
                <p class="pickup-button bg-light-gray mb-3 py-2 px-3"><span class="q font-weight-bold pr-1">Q</span>購入したチケットの払い戻しや日時、作品、座席の変更はできますか。</p>
                <p class="mb-0 px-3"><span class="font-weight-bold">A</span>：ご購入後のチケットの払い戻しや日時、作品、座席の変更はできませんので、予めご了承ください。</p>
            </div>
            <div class="border-top border-bottom py-3">
                <p class="pickup-button bg-light-gray mb-3 py-2 px-3"><span class="q font-weight-bold pr-1">Q</span>何枚まで購入できますか。</p>
                <p class="mb-0 px-3"><span class="font-weight-bold">A</span>：一度のご購入で4枚まで可能です。</p>
            </div>
            <div class="border-top border-bottom py-3">
                <p class="pickup-button bg-light-gray mb-3 py-2 px-3"><span class="q font-weight-bold pr-1">Q</span>座席は指定できますか。</p>
                <p class="mb-0 px-3"><span class="font-weight-bold">A</span>：座席はピンポイントで指定いただけます。  ※大街道、大洲、重信のみ、全席自由席のためご予約時に席の指定はできません。</p>
            </div>
            <div class="border-top border-bottom py-3">
                <p class="pickup-button bg-light-gray mb-3 py-2 px-3"><span class="q font-weight-bold pr-1">Q</span>前売券、各種割引券、招待券は使えますか。</p>
                <p class="mb-0 px-3"><span class="font-weight-bold">A</span>：前売券、各種割引券、招待券はインターネット予約ではご利用頂けません。ご利用になる場合は直接劇場のチケット窓口にお越しください。</p>
            </div>
            <div class="border-top border-bottom py-3">
                <p class="pickup-button bg-light-gray mb-3 py-2 px-3"><span class="q font-weight-bold pr-1">Q</span>学生料金、夫婦50割引、障がい者割引は利用できますか。</p>
                <p class="mb-0 px-3"><span class="font-weight-bold">A</span>：利用できます。入場時にチケットと一緒に証明書をご提示ください。</p>
            </div>
            <div class="border-top border-bottom py-3">
                <p class="pickup-button bg-light-gray mb-3 py-2 px-3"><span class="q font-weight-bold pr-1">Q</span>チケットはどこで受け取れますか。</p>
                <p class="mb-0 px-3"><span class="font-weight-bold">A</span>：劇場設置の自動発券機(e-Box)で発券できます。<br>※大街道、大洲、重信のみ、チケット窓口での発券となります。<br>※池袋・北島・姶良はスマートフォンでのQRコードスマート入場が可能ですので発券いただく必要はございません。</p>
            </div>
            <div class="border-top border-bottom py-3">
                <p class="pickup-button bg-light-gray mb-3 py-2 px-3"><span class="q font-weight-bold pr-1">Q</span>発券する際に必要なものは何ですか。</p>
                <p class="mb-0 px-3"><span class="font-weight-bold">A</span>：池袋・北島・姶良は予約番号と電話番号です。その他の劇場は予約番号と暗証番号です。</p>
            </div>
            <div class="border-top border-bottom py-3">
                <p class="pickup-button bg-light-gray mb-3 py-2 px-3"><span class="q font-weight-bold pr-1">Q</span>インターネットでチケットを購入した場合、メンバーズカードの割引とポイント加算はできますか。</p>
                <p class="mb-0 px-3"><span class="font-weight-bold">A</span>：メンバーズカードによる割引はできませんが、ポイントの加算はできます。チケットとメンバーズカードを一緒にチケット窓口にご提示ください。<br>※劇場によってはチケット窓口以外でもポイント加算を行っている場合がありますので、詳しくは劇場スタッフにお問い合わせください。</p>
            </div>
        </div>

        <div class="mb-5">
            <h3 class="font-weight-bold large text-center text-md-left mb-4" id="03">ムビチケについて</h3>
            <div class="border-top border-bottom py-3">
                <p class="pickup-button bg-light-gray mb-3 py-2 px-3"><span class="q font-weight-bold pr-1">Q</span>ムビチケとは何ですか。</p>
                <p class="blue px-3 mb-0"><span class="font-weight-bold">A</span>：オンラインで購入・座席予約できる電子前売券です。詳しくは<a
                        href="{{ path_for('mvtk') }}">こちら</a>をご確認ください。</p>
            </div>
            <div class="border-top border-bottom py-3">
                <p class="pickup-button bg-light-gray mb-3 py-2 px-3"><span class="q font-weight-bold pr-1">Q</span>ムビチケを利用できる劇場はどこですか。</p>
                <p class="mb-0 px-3"><span class="font-weight-bold">A</span>：シネマサンシャインの全劇場でご利用いただけます。</p>
            </div>
            <div class="border-top border-bottom py-3">
                <p class="pickup-button bg-light-gray mb-3 py-2 px-3"><span class="q font-weight-bold pr-1">Q</span>ムビチケでの座席指定の方法を教えてください。</p>
                <p class="mb-0 px-3"><span class="font-weight-bold">A</span>：座席指定はe-Box、劇場窓口でご利用いただけます。<br>劇場ホームページの”スケジュール・チケット購入”ページで、ご希望の日時・作品をお選びください。※大街道、大洲、重信のみ、全席自由席のためご予約時に席の指定はできません。</p>
            </div>
            <div class="border-top border-bottom py-3">
                <p class="pickup-button bg-light-gray mb-3 py-2 px-3"><span class="q font-weight-bold pr-1">Q</span>携帯からは座席指定できますか。</p>
                <p class="mb-0 px-3"><span class="font-weight-bold">A</span>：スマートフォンからの座席指定が可能です。<br>（フィーチャーフォンでの座席予約は2018年5月27日（日）をもって全館にて対応を終了とさせていただきます。PC、窓口または劇場施設の自動券売機にてご予約ください。）</p>
            </div>
            <div class="border-top border-bottom py-3">
                <p class="pickup-button bg-light-gray mb-3 py-2 px-3"><span class="q font-weight-bold pr-1">Q</span>Q座席指定はいつからできますか。</p>
                <p class="mb-0 px-3"><span class="font-weight-bold">A</span>：ご鑑賞日の2日前から座席指定できます。（作品によっては2日より前から購入できる場合もあります。）</p>
            </div>
            <div class="border-top border-bottom py-3">
                <p class="pickup-button bg-light-gray mb-3 py-2 px-3"><span class="q font-weight-bold pr-1">Q</span>先行上映でも座席指定できますか。</p>
                <p class="mb-0 px-3"><span class="font-weight-bold">A</span>：公開日前の先行上映に関してもムビチケで座席予約ができます。但し、ムビチケご購入日当日はご利用頂けません。また、舞台挨拶等の特別</p>
            </div>
        </div>

        <div class="mb-5">
            <h3 class="font-weight-bold large text-center text-md-left mb-4" id="04">劇場について</h3>
            <div class="border-top border-bottom py-3">
                <p class="pickup-button bg-light-gray mb-3 py-2 px-3"><span class="q font-weight-bold pr-1">Q</span>営業時間について教えてください。</p>
                <p class="mb-0 px-3"><span class="font-weight-bold">A</span>：劇場によって営業時間が異なります。お手数ですが、直接劇場にお問い合わせください。</p>
            </div>
            <div class="border-top border-bottom py-3">
                <p class="pickup-button bg-light-gray mb-3 py-2 px-3"><span class="q font-weight-bold pr-1">Q</span>定休日はありますか。</p>
                <p class="mb-0 px-3"><span class="font-weight-bold">A</span>：定休日はありません。</p>
            </div>
            <div class="border-top border-bottom py-3">
                <p class="pickup-button bg-light-gray mb-3 py-2 px-3"><span class="q font-weight-bold pr-1">Q</span>劇場内で飲食できますか。</p>
                <p class="mb-0 px-3"><span class="font-weight-bold">A</span>：当劇場の売店でご購入いただいた商品のみ、劇場内にお持込みいただけます。それ以外の飲食物のお持込みはご遠慮ください。</p>
            </div>
            <div class="border-top border-bottom py-3">
                <p class="pickup-button bg-light-gray mb-3 py-2 px-3"><span class="q font-weight-bold pr-1">Q</span>ブランケット、チャイルドシートはありますか。</p>
                <p class="mb-0 px-3"><span class="font-weight-bold">A</span>：無料で貸し出ししております。</p>
            </div>
            <div class="border-top border-bottom py-3">
                <p class="pickup-button bg-light-gray mb-3 py-2 px-3"><span class="q font-weight-bold pr-1">Q</span>子どもだけで映画を観ることは可能ですか。</p>
                <p class="mb-0 px-3"><span class="font-weight-bold">A</span>：就学前のお子様のご鑑賞は安全面を考慮し、保護者同伴でのご鑑賞をお願い申し上げます。</p>
            </div>
            <div class="border-top border-bottom py-3">
                <p class="pickup-button bg-light-gray mb-3 py-2 px-3"><span class="q font-weight-bold pr-1">Q</span>映画館に駐車場はありますか。</p>
                <p class="mb-0 px-3"><span class="font-weight-bold">A</span>：劇場によって駐車場の有無と駐車料金のサービス内容が異なります。お手数ですが、直接劇場にお問い合わせください。</p>
            </div>
        </div>

        <div class="mb-5">
            <h3 class="font-weight-bold large text-center text-md-left mb-4" id="05">3D作品の上映について</h3>
            <div class="border-top border-bottom py-3">
                <p class="pickup-button bg-light-gray mb-3 py-2 px-3"><span class="q font-weight-bold pr-1">Q</span>3D作品はシネマサンシャインの全劇場で鑑賞できますか。</p>
                <p class="mb-0 px-3"><span class="font-weight-bold">A</span>：全国のシネマサンシャインでご鑑賞いただけます。</p>
            </div>
            <div class="border-top border-bottom py-3">
                <p class="pickup-button bg-light-gray mb-3 py-2 px-3"><span class="q font-weight-bold pr-1">Q</span>3D作品の鑑賞料金はいくらですか。</p>
                <p class="mb-0 px-3"><span class="font-weight-bold">A</span>：通常の鑑賞料金プラス400円です。（3Dメガネ費100円含む）<br>サービスデイ、レイトショーもプラス400円でご鑑賞いただけます。また、割引券もご利用いただけます。但し、サービスデイ、レイトショーに割引券を利用することはできませんので、ご注意ください。<br>(例)一般1,800円＋3D鑑賞料金400円＝2,200円<br>(例)ファーストデイ1,100円＋3D鑑賞料金400円=1,500円<br>(例)レイトショー1,300円+3D鑑賞料金400円＝1,700円<br>(例)一般1,800円－200円の割引券+3D鑑賞料金400円＝2,000円<br>※池袋、大和郡山、大街道、姶良のみ、3Dメガネ（MASTER
                    IMAGE用）はお持ち帰り頂けます。<br>次回鑑賞時にお持ち頂ければ、3D鑑賞料金を100円引き（3D鑑賞料金400円→300円）させて頂きます。</p>
            </div>
            <div class="border-top border-bottom py-3">
                <p class="pickup-button bg-light-gray mb-3 py-2 px-3"><span class="q font-weight-bold pr-1">Q</span>前売券、シネマサンシャインCINEMA
                    TICKET、シネマサンシャインINVITATION TICKET（招待券）、メンバーズカードのポイントによる無料鑑賞は利用できますか。</p>
                <p class="mb-0 px-3"><span class="font-weight-bold">A</span>：3D鑑賞料金400円を別途お支払いただくことでご利用いただけます。</p>
            </div>
            <div class="border-top border-bottom py-3">
                <p class="pickup-button bg-light-gray mb-3 py-2 px-3"><span class="q font-weight-bold pr-1">Q</span>2歳の子どもはチケットが必要ですか。</p>
                <p class="mb-0 px-3"><span class="font-weight-bold">A</span>：3D作品をご覧になりますお客様は2歳以下のお子様でも3Dメガネを利用される場合、鑑賞料金をいただきます。予めご了承ください。なお2歳以下のお子様の3D鑑賞料金は1,400円です。</p>
            </div>
        </div>

    </div>
</div>
{% endblock %}