{% extends "layout.html.twig" %}

{% block title %}{{ meta_title('about_reward') }}{% endblock %}

{% block description %}{{ meta_description('about_reward') }}{% endblock %}

{% block keywords %}{{ meta_keywords('about_reward') }}{% endblock %}

{% block contents %}
<div class="width mx-auto p-3">
    <div class="breadcrumb-list small mb-5 d-md-block d-none">
        <a href="{{ path_for('homepage') }}">ホーム　|　</a>
        <span class="font-weight-bold">プライバシーポリシー</span>
    </div>

    <div class="mb-5 pjack-bg">
        <h2 class="font-weight-bold large text-center text-md-left mb-4 mt-3">プライバシーポリシー（個人情報保護方針）</h2>
        <p class="mb-4">佐々木興業株式会社（以下、「当社」といいます。）は、シネマサンシャインに係る事業について、お客様、採用応募者及び従業員の個人情報を、以下に定めるプライバシーポリシーに従い、適正に取り扱います。<br>なお、本プライバシーポリシーにおける「個人情報」「個人データ」「保有個人データ」「匿名加工情報」の定義は、個人情報の保護に関する法律（平成１５年法律第５７号、以下「個人情報保護法」といいます。）に従います。</p>
        <p class="mb-4">1. 事業者情報<br>法人名：佐々木興業株式会社<br>住　所：東京都豊島区東池袋一丁目１４番３号<br>代表者：佐々木武彦</p>
        <p class="mb-4">２．法令等の遵守・個人データの安全管理措置<br>
            （１）当社は、個人情報保護法その他関係法令及び各種ガイドラインに従い、個人情報を適正に取り扱います。<br>
            （２）当社は、個人データの漏えい、滅失又は毀損の防止その他の個人データの安全管理に務めており、そのために、次の措置を講じています。
        </p>
        <table class="mb-4 px-3" style="line-height: 1.5;">
            <tbody>
                <tr>
                    <th>①&nbsp;</th><td>個人データ取扱規程の策定</td>
                </tr>
                <tr>
                    <th>②&nbsp;</th><td>個人データの取扱いに関する責任者の設置、個人データを取り扱う従業員及びその役割の明確化、個人データの取扱状況等の責任者への報告連絡体制の整備、個人データの取扱状況に関する定期点検等の組織的安全管理措置</td>
                </tr>
                <tr>
                    <th>③&nbsp;</th><td>当社の全従業員及び全役員に対して個人データの取扱いに関する研修を実施する等の人的安全管理措置</td>
                </tr>
                <tr>
                    <th>④&nbsp;</th><td>個人データを取り扱う区域の管理、個人データを取り扱う機器・電子媒体・書類等の盗難・紛失等の予防等の物理的安全管理措置</td>
                </tr>
                <tr>
                    <th>⑤&nbsp;</th><td>個人データを取り扱う情報システムに対するアクセス制御、不正アクセスの防止等の技術的安全管理措置</td>
                </tr>
            </tbody>
        </table>
        <p class="mb-4">（３）当社は、個人情報の取扱いに関する社会環境の変化に的確に対応し、改善をするよう努めます。</p>
        <p class="mb-4">３．個人情報の利用目的
            <br>（１）当社は、個人情報を取得するにあたっては、利用目的を通知又は公表し、当該利用目的の範囲内で個人情報を取り扱います。当該利用目的の範囲を超えて個人情報を取り扱う場合は、あらかじめ、ご本人の同意を得るものとします。
            <br>（２）当社は、お客様の個人情報を、次の利用目的の範囲内で取り扱います。
        </p>
        <table class="mb-4 px-3" style="line-height: 1.5;">
            <tbody>
                <tr>
                    <th>①&nbsp;</th><td>お客様のご本人確認・個人認証</td>
                </tr>
                <tr>
                    <th>②&nbsp;</th><td>映画・イベントのチケット等の当社の商品・サービスの販売、お届け、代金の回収、その他の当社の商品・サービスの提供、及びアフターサービスの提供</td>
                </tr>
                <tr>
                    <th>③&nbsp;</th><td>登録制・会員制サービスへのご登録の確認、当該サービスの提供</td>
                </tr>
                <tr>
                    <th>④&nbsp;</th><td>お客様からのお問い合わせ、ご相談への回答</td>
                </tr>
                <tr>
                    <th>⑤&nbsp;</th><td>ご利用サービスの停止・中止等の通知</td>
                </tr>
                <tr>
                    <th>⑥&nbsp;</th><td>電子メール等による当社又は当社提携先の提供する商品・サービス・イベント等に関する情報提供、アンケート調査の実施</td>
                </tr>
                <tr>
                    <th>⑦&nbsp;</th><td>各種キャンペーンのご案内、実施、当選のご連絡、景品等の送付</td>
                </tr>
                <tr>
                    <th>⑧&nbsp;</th><td>当社の商品・サービスの改善又は新たな商品・サービスの開発</td>
                </tr>
                <tr>
                    <th>⑨&nbsp;</th><td>施設内の防犯管理</td>
                </tr>
                <tr>
                    <th>⑩&nbsp;</th><td>当社の提供するデジタル・サービス（ウェブサイト・モバイルアプリなど）におけるお客様の体験の改善・向上</td>
                </tr>
                <tr>
                    <th>⑪&nbsp;</th><td>広告配信事業者を利用した行動ターゲティング広告の配信</td>
                </tr>
                <tr>
                    <th>⑫&nbsp;</th><td>当社が取得したお客様の属性情報、ウェブサイトの閲覧履歴、行動履歴、購買履歴等の分析、及びこれに基づくサービスの提供、広告配信等</td>
                </tr>
                <tr>
                    <th>⑬&nbsp;</th><td>当社及び当社企業グループの事業に関する経営分析・市場調査等</td>
                </tr>
                <tr>
                    <th>⑭&nbsp;</th><td>個人を特定することができない形態に加工した統計データを作成したうえでの各種分析</td>
                </tr>
                <tr>
                    <th>⑮&nbsp;</th><td>利用規約等に違反している利用者の発見と当該利用者への通知、当社のサービス等を悪用した詐欺や不正アクセス等の不正行為の調査・検出・予防、及びこれらの事象への対応</td>
                </tr>
                <tr>
                    <th>⑯&nbsp;</th><td>上記①から⑮の業務に伴う業務の実施</td>
                </tr>
            </tbody>
        </table>
        <p class="mb-4">（３）当社は、採用応募者の個人情報を、次の利用目的の範囲内で取り扱います。</p>
        <table class="mb-4 px-3" style="line-height: 1.5;">
            <tbody>
                <tr>
                    <th>①&nbsp;</th><td>採用活動、選考及び採用応募者への諸連絡・情報提供</td>
                </tr>
                <tr>
                    <th>②&nbsp;</th><td>その他採用活動に必要な業務等</td>
                </tr>
            </tbody>
        </table>
        <p class="mb-4">４．個人データの第三者提供<br>
            当社は、ご本人の同意を得た場合にのみ、個人データを第三者に提供します。ただし、次の各号の場合は、ご本人の同意を得ずに個人データを第三者に提供することがあります。
        </p>
        <table class="mb-4 px-3" style="line-height: 1.5;">
            <tbody>
                <tr>
                    <th>①&nbsp;</th><td>個人情報保護法が、ご本人の同意を得ずに個人データを第三者に提供することを許容している場合</td>
                </tr>
                <tr>
                    <th>②&nbsp;</th><td>次に掲げる事項について、あらかじめ、ご本人に通知し、又はご本人が容易に知り得る状態に置くとともに、個人情報保護委員会に届け出た場合<br>ア,&nbsp;第三者への提供を利用目的とすること<br>イ,&nbsp;第三者に提供される個人データの項目<br>ウ,&nbsp;第三者に提供される個人データの取得の方法<br>エ,&nbsp;第三者への提供の方法<br>オ,&nbsp;ご本人の求めに応じて当該ご本人が識別される個人データの第三者への提供を停止すること<br>カ,&nbsp;ご本人の求めを受け付ける方法<br>キ,&nbsp;提供される個人データの更新の方法及び第三者への提供開始予定日</td>
                </tr>
            </tbody>
        </table>
        <p class="mb-4">５．個人データの共同利用<br>
            当社は、上記３記載の利用目的の範囲内で、個人データを共同利用する場合があります。その場合の、共同して利用される個人データの項目、共同して利用する者の範囲、共同して利用する者の利用目的、及び当該個人データの管理について責任を有する者は、次のとおりです。
        </p>
        <table class="mb-4 px-3" style="line-height: 1.5;">
            <tbody>
                <tr>
                    <th>①&nbsp;</th><td>共同して利用される個人データの項目<br>氏名、生年月日、住所、性別、電話番号、メールアドレス、サービス利用状況</td>
                </tr>
                <tr>
                    <th>②&nbsp;</th><td>共同して利用する者の範囲<br>当社企業グループを構成する企業</td>
                </tr>
                <tr>
                    <th>③&nbsp;</th><td>共同して利用する者の利用目的<br>上記３記載の内容と同様</td>
                </tr>
                <tr>
                    <th>④&nbsp;</th><td>当該個人データの管理について責任を有する者　上記１記載の者</td>
                </tr>
            </tbody>
        </table>
        <p class="mb-4">６．委託先の監督<br>
            当社は、個人データの取扱いの全部又は一部を委託する場合は、その取扱いを委託された個人データの安全管理が図られるよう、委託を受けた者に対する必要かつ適切な監督（次の①から③の措置を含みます）を行います。
        </p>
        <table class="mb-4 px-3" style="line-height: 1.5;">
            <tbody>
                <tr>
                    <th>①&nbsp;</th><td>適切な委託先の選定</td>
                </tr>
                <tr>
                    <th>②&nbsp;</th><td>個人情報の適切な取扱いを内容に含む委託契約の締結</td>
                </tr>
                <tr>
                    <th>③&nbsp;</th><td>委託先における個人情報の取扱状況の把握</td>
                </tr>
            </tbody>
        </table>
        <p class="mb-4">７．匿名加工情報に関する取扱い<br>
            （１）当社において匿名加工情報を作成する場合は、特定の個人を識別すること及びその作成に用いる個人情報を復元することができないようにするため、個人情報保護法その他関係法令の定めに則り、当社は加工基準を設定し、これに従い当該個人情報を加工します。<br>
            （２）当社において匿名加工情報を作成する場合は、その作成に用いた個人情報から削除した記述・個人識別符号や具体的に選択された加工方法に関する情報の安全管理のために、これらの情報を取り扱う者の権限・責任を明確化し、権限のない者がこれらの情報を取り扱うことを禁止します。<br>
            （３）当社において匿名加工情報を作成する場合は、当該匿名加工情報に含まれる個人に関する情報の項目を、当社において匿名加工情報を第三者に提供する場合は、当該匿名加工情報に含まれる個人に関する情報の項目及びその提供の方法を、それぞれ公表します。<br>
            （４）当社において匿名加工情報を作成・利用する場合は、当該匿名加工情報を他の情報と照合せず、当該匿名加工情報の作成に用いられた個人情報に係る本人を識別しません。
        </p>
        <p class="mb-4">８．保有個人データの開示等の請求<br>
            当社は、ご本人から保有個人データの開示、訂正、追加、削除、利用停止、第三者提供停止、第三者提供記録の開示を請求された場合は、所定の手続でご本人であることを確認のうえ、個人情報保護法その他関係法令の定めに従い、合理的な期間内に対応します。これらの請求をされる場合は、下記の窓口にご連絡ください。<br>
            (記)<br>
            住所:〒170-0013&nbsp;&nbsp;東京都豊島区東池袋一丁目１４番３号<br>
            佐々木興業株式会社<br>
            電話番号（受付時間&nbsp;&nbsp;10:00～17:00）:03-3982-6101(代表)<br>
            メールアドレス:cin-sun_mail@cinemasunshine.co.jp
        </p>
        <p class="mb-4">９．お問い合わせ窓口、苦情のお申し出<br>
            当社における個人情報の取扱いに関するご質問や苦情のお申し出については、下記の窓口にご連絡ください。<br>
            (記)<br>
            住所:〒170-0013&nbsp;&nbsp;東京都豊島区東池袋一丁目１４番３号<br>
            佐々木興業株式会社<br>
            電話番号（受付時間&nbsp;&nbsp;10:00～17:00）:03-3982-6101(代表)<br>
            メールアドレス:cin-sun_mail@cinemasunshine.co.jp
        </p>
        <p class="mb-4">10. クッキー（cookie）について<br>
            （１）クッキーとは、ウェブサイト（ウェブサーバー）から個々のユーザーのウェブブラウザに送信されるデータのことです。ウェブサイト（ウェブサーバー）は、クッキーを参照することにより、ユーザーのパソコン等を識別することができるため、クッキーを利用することにより、ユーザーは効率的にウェブサイトを利用することができ、ウェブサイト運営者は、ウェブサイト内でのユーザーの行動を把握することができます。<br>
            （２）当社のウェブサイトの一部では、当社又は当社が委託する第三者によるターゲティング広告の配信、当社のウェブサイトの改善やお客様に提供するサービスの向上を目的として、クッキーによる情報収集を行なうことがあります（ただし、当社のウェブサイトがクッキーとして送信するデータは、個人を特定することができる情報は含んでいません。）。<br>
            （３）クッキーの利用（受け入れ）を望まないお客様は、ウェブブラウザの設定により、クッキーの利用（受け入れ）を拒否することができます。<br>
            （２）当社が委託する第三者のプライバシーポリシーや、クッキーに関する説明については、次に掲げる第三者のサイトをご覧ください。これらのサイトにおいて、クッキーの機能を無効にすること（オプトアウト）が可能です。
        </p>
        <ol>
            <li>
                <p>&#9134;&nbsp;Google<br><a href="https://policies.google.com/reward?hl=ja" target="_blank">https://policies.google.com/reward?hl=ja</a></p>
            </li>
            <li>
                <p>&#9134;&nbsp;Yahoo！<br><a href="https://reward.yahoo.co.jp/" target="_blank">https://reward.yahoo.co.jp/</a></p>
            </li>
            <li>
                <p>&#9134;&nbsp;the Trade Desk<br><a href="https://www.thetradedesk.com/jp/reward" target="_blank">https://www.thetradedesk.com/jp/reward</a></p>
            </li>
            <li>
                <p>&#9134;&nbsp;Twitter<br><a href="https://business.twitter.com/ja/help/troubleshooting/how-twitter-ads-work.html" target="_blank">https://business.twitter.com/ja/help/troubleshooting/how-twitter-ads-work.html</a></p>
            </li>
            <li>
                <p>&#9134;&nbsp;Instagram<br><a href="https://www.facebook.com/help/instagram/155833707900388" target="_blank">https://www.facebook.com/help/instagram/155833707900388</a></p>
            </li>
            <li>
                <p>&#9134;&nbsp;LINE<br><a href="https://line.me/ja/terms/policy/" target="_blank">https://line.me/ja/terms/policy/</a></p>
            </li>
            <li>
                <p>&#9134;&nbsp;SMN株式会社<br><a href="https://www.so-netmedia.jp/rewardpolicy/" target="_blank">https://www.so-netmedia.jp/rewardpolicy/</a></p>
            </li>
            <li>
                <p>&#9134;&nbsp;株式会社ジオロジック<br><a href="https://www.geologic.co.jp/rewardpolicy" target="_blank">https://www.geologic.co.jp/rewardpolicy</a></p>
            </li>
            <li>
                <p>&#9134;&nbsp;GMOペイメントゲートウェイ<br><a href="https://www.gmo-pg.com/corp/security/reward-policy/" target="_blank">https://www.gmo-pg.com/corp/security/reward-policy/</a></p>
            </li>
            <li>
                <p>&#9134;&nbsp;株式会ブログウォッチャー<br><a href="https://www.blogwatcher.co.jp/reward/" target="_blank">https://www.blogwatcher.co.jp/reward/</a></p>
            </li>
            <li>
                <p>&#9134;&nbsp;Supership株式会社<br><a href="https://supership.jp/reward/" target="_blank">https://supership.jp/reward/</a></p>
            </li>
        </ol>
        <p class="mb-4">11. SSL（Secure Socket Layer）について<br>
            当社のウェブサイトはSSLに対応しており、ウェブブラウザとウェブサーバーとの通信を暗号化しています。お客様が入力する氏名や住所、電話番号等の個人情報は、自動的に暗号化されます。
        </p>
        <p class="mb-4">12. プライバシーポリシーの制定日及び改定日<br>
            制定&nbsp;:&nbsp;2009年4月15日<br>
            改定&nbsp;:&nbsp;2022年8月1日<br><br><br>以上
        </p>
    </div>
</div>
{% endblock %}
