body{
    background-image: url(/images/pagejack/anayuki_2/bg.jpg);
    background-repeat: repeat;
}

.schedule .schedule-sort-film .performances{
    background-color: #fff!important;
}
.area-select li a{
    background-color: #fff;
}

.pjack-bg{
    background: rgba(255,255,255,.7);
    padding:15px;
}
.pj-mb-5{
    margin-bottom: 3rem;
}
@media (max-width: 767.98px) {
    .schedule .schedule-sort-film-sp .collapse,.schedule .schedule-sort-film-sp .rounded{
        background-color: #fff!important;
    }
}
