body{
    background-image: url(/images/pagejack/portal_bg/bg_test.jpg);
    background-repeat: repeat;
}

.schedule .schedule-sort-film .performances{
    background-color: #fff!important;
}

@media (max-width: 767.98px) {
    .schedule .schedule-sort-film-sp .collapse,.schedule .schedule-sort-film-sp .rounded{
        background-color: #fff!important;
    }
}
