<div class="width mx-auto footer-bnr mb-5">
    <ul class="d-md-flex justify-content-center">
    {% if theater.getId() == 1 %}{# 池袋 #}
        <li class="mb-3 mb-md-0"><a href="#" class="d-block mx-3"><img src="https://placehold.jp/680x120.png?text=池袋" class="w-100"></a></li>
    {% elseif theater.getId() == 2 %}{# 平和島 #}
        <li class="mb-3 mb-md-0"><a href="#" class="d-block mx-3"><img src="https://placehold.jp/680x120.png?text=平和島" class="w-100"></a></li>
    {% elseif theater.getId() == 6 %}{# 沼津 #}
        <li class="mb-3 mb-md-0"><a href="#" class="d-block mx-3"><img src="https://placehold.jp/680x120.png?text=沼津" class="w-100"></a></li>
    {% elseif theater.getId() == 7 %}{# 北島 #}
        <li class="mb-3 mb-md-0"><a href="#" class="d-block mx-3"><img src="https://placehold.jp/680x120.png?text=北島" class="w-100"></a></li>
    {% elseif theater.getId() == 8 %}{# 衣山 #}
        <li class="mb-3 mb-md-0"><a href="#" class="d-block mx-3"><img src="https://placehold.jp/680x120.png?text=衣山" class="w-100"></a></li>
    {% elseif theater.getId() == 9 %}{# 大街道 #}
        <li class="mb-3 mb-md-0"><a href="#" class="d-block mx-3"><img src="https://placehold.jp/680x120.png?text=大街道" class="w-100"></a></li>
    {% elseif theater.getId() == 11 %}{# 大洲 #}
        <li class="mb-3 mb-md-0"><a href="#" class="d-block mx-3"><img src="https://placehold.jp/680x120.png?text=大洲" class="w-100"></a></li>
    {% elseif theater.getId() == 12 %}{# 重信 #}
        <li class="mb-3 mb-md-0"><a href="#" class="d-block mx-3"><img src="https://placehold.jp/680x120.png?text=重信" class="w-100"></a></li>
    {% elseif theater.getId() == 13 %}{# 土浦 #}
        <li class="mb-3 mb-md-0"><a href="#" class="d-block mx-3"><img src="https://placehold.jp/680x120.png?text=土浦" class="w-100"></a></li>
    {% elseif theater.getId() == 14 %}{# かほく #}
        <li class="mb-3 mb-md-0"><a href="#" class="d-block mx-3"><img src="https://placehold.jp/680x120.png?text=かほく" class="w-100"></a></li>
    {% elseif theater.getId() == 15 %}{# エミフルMASAKI #}
        <li class="mb-3 mb-md-0"><a href="#" class="d-block mx-3"><img src="https://placehold.jp/680x120.png?text=エミフルMASAKI" class="w-100"></a></li>
    {% elseif theater.getId() == 16 %}{# 大和郡山 #}
        <li class="mb-3 mb-md-0"><a href="#" class="d-block mx-3"><img src="https://placehold.jp/680x120.png?text=大和郡山" class="w-100"></a></li>
    {% elseif theater.getId() == 17 %}{# 下関 #}
        <li class="mb-3 mb-md-0"><a href="#" class="d-block mx-3"><img src="https://placehold.jp/680x120.png?text=下関" class="w-100"></a></li>
    {% elseif theater.getId() == 18 %}{# 姶良 #}
        <li class="mb-3 mb-md-0"><a href="#" class="d-block mx-3"><img src="https://placehold.jp/680x120.png?text=姶良" class="w-100"></a></li>
    {% elseif theater.getId() == 19 %}{# ユーカリが丘 #}
        <li class="mb-3 mb-md-0"><a href="#" class="d-block mx-3"><img src="https://placehold.jp/680x120.png?text=ユーカリが丘" class="w-100"></a></li>
    {% endif %}
    </ul>
</div>