<div class="theater-sns mb-5 mx-auto">
    <h5 class="py-4 text-center font-weight-bold">劇場SNSアカウント</h5>
    <div class="d-flex py-2 align-items-center justify-content-center">
    {% if meta.getFacebook() %}
        <div class="border-right pr-md-5 pr-4">
            <a class="d-block" href="{{ facebook(meta.getFacebook()) }}" target="_blank">
                <img src="/images/common/sns_fb.svg" class="w-100">
            </a>
        </div>
    {% endif %}
    {% if meta.getTwitter() %}
        <div class="border-right px-md-5 px-4">
            <a class="d-block" href="{{ twitter(meta.getTwitter()) }}" target="_blank">
                <img src="/images/common/sns_twitter.svg" class="w-100">
            </a>
        </div>
    {% endif %}
        <div class="youtube pl-md-5 pl-4">
            <a class="d-block" href="https://www.youtube.com/user/CINEMASUNSHINEch/" target="_blank">
                <img src="/images/common/youtube_logo.svg" class="w-100">
            </a>
        </div>
    </div>
</div>
<!-- Adsense/css -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<style>
    @media (max-width: 767px){
    .cs_portal_rpad{display:inline-block;width:320px!important;height:50px;margin: 0 auto;}
    }
    @media (min-width:768px)and(max-width: 979px) {
        .cs_portal_rpad{display:inline-block;max-width:728px!important;height:90px;margin: 0 auto;}
    }
    @media (min-width:980px) {
        .cs_portal_rpad{display:inline-block;width:970px!important;height:90px!important;margin: 0 auto;}
    }
</style>
<!-- Adsense/css -->
<!-- CS_ポータル共通_レスポンシブ横長(フッター部) -->
    <!-- Adsense code-->
    <ins class="adsbygoogle cs_portal_rpad my-5"
    style="display:block"
    data-ad-client="ca-pub-3891476404601512"
    data-ad-slot="1692053214"
    data-ad-format="horizontal"
    data-full-width-responsive="false"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
<!-- Adsense code-->