<div class="pickup">
    <div class="position-relative ml-md-4">
        <div class="pickup-badge position-absolute d-inline-block bg-red text-white py-1 py-md-2 px-3 line-height-1">PICK
            UP!</div>
        <div class="video">
            <iframe type="text/html" src="https://www.youtube.com/embed/{{ trailer.getYoutube() }}?rel=0&loop=1&playsinline=1&rel=0&mute=1&autoplay=1&showinfo=0&disablekb=1&modestbranding=1&color=white"
                frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
