<li class="bg-black px-2 py-3 mb-3">
    <h3 class="text-center text-md-left mb-3">シネマサンシャイン土浦</h3>
    <div class="mb-3">
        <img class="w-100" src="/images/imax/theater/tsuchiura_img.jpg">
    </div>
    <table class="mb-3 w-100 theater-table small">
        <tbody>
            <tr>
                <th class="border border-black p-2 bg-dark-gray">劇場名</th>
                <td class="border border-black p-2 bg-light-gray text-black">シネマサンシャイン土浦</td>
            </tr>
            <tr>
                <th class="border border-black p-2 bg-dark-gray">住所</th>
                <td class="border border-black p-2 bg-light-gray text-black">茨城県土浦市上高津367番　イオンモール土浦3F</td>
            </tr>
            <tr>
                <th class="border border-black p-2 bg-dark-gray">TEL</th>
                <td class="border border-black p-2 bg-light-gray text-black">029-835-6611</td>
            </tr>
            <tr>
                <th class="border border-black p-2 bg-dark-gray">スクリーン数</th>
                <td class="border border-black p-2 bg-light-gray text-black">9スクリーン</td>
            </tr>
        </tbody>
    </table>

    <!--<h4 class="mb-3">スクリーン情報</h4>

    <table class="mb-3 w-100 screen-table small">
        <thead>
            <tr>
                <th class="border border-black p-2 bg-gray">スクリーン名</th>
                <td class="border border-black p-2 bg-gray">観客数 / 車椅子</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="border border-black p-2 bg-dark-gray">IMAX&reg;</th>
                <td class="border border-black p-2 bg-light-gray text-black">257席 / 2</td>
            </tr>
            <tr>
                <th class="border border-black p-2 bg-dark-gray">シネマ2</th>
                <td class="border border-black p-2 bg-light-gray text-black">153席 / 2</td>
            </tr>
            <tr>
                <th class="border border-black p-2 bg-dark-gray">シネマ3</th>
                <td class="border border-black p-2 bg-light-gray text-black">148席 / 2</td>
            </tr>
            <tr>
                <th class="border border-black p-2 bg-dark-gray">シネマ4</th>
                <td class="border border-black p-2 bg-light-gray text-black">115席 / 2</td>
            </tr>
            <tr>
                <th class="border border-black p-2 bg-dark-gray">シネマ5</th>
                <td class="border border-black p-2 bg-light-gray text-black">137席 / 2</td>
            </tr>
            <tr>
                <th class="border border-black p-2 bg-dark-gray">シネマ6</th>
                <td class="border border-black p-2 bg-light-gray text-black">106席 / 2</td>
            </tr>
            <tr>
                <th class="border border-black p-2 bg-dark-gray">シネマ7</th>
                <td class="border border-black p-2 bg-light-gray text-black">106席 / 2</td>
            </tr>
            <tr>
                <th class="border border-black p-2 bg-dark-gray">シネマ8</th>
                <td class="border border-black p-2 bg-light-gray text-black">205席 / 2</td>
            </tr>
            <tr>
                <th class="border border-black p-2 bg-dark-gray">シネマ9</th>
                <td class="border border-black p-2 bg-light-gray text-black">205席 / 2</td>
            </tr>
        </tbody>
    </table>-->
    <div class="theater-button mx-auto">
        <a href="{{ path_for('theater', { name: theater.getName() }) }}" class="d-block text-center bg-dark-blue text-white py-3">土浦劇場TOP</a>
    </div>
</li>