{% extends "theater_layout.html.twig" %}

{% block css %}
<link href="/css/theater/facility.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
{% include 'theater/include/navbar.html.twig' with {
    theater: theater,
    active: 'floor-guide',
} only %}
{% endblock %}

{% block contents %}
<div class="width mx-auto p-3">
    <div class="breadcrumb-list small mb-5 d-none d-md-block">
        <a href="{{ path_for('theater', { name: theater.getName() }) }}" class="mr-3">ホーム | {{ theater.getNameJa() }}</a>|
        <span class="font-weight-bold mx-3">劇場施設</span>
    </div>
    
    {% include 'theater/include/floor_guide/' ~ theater.getName() ~ '.html.twig' %}
</div>
{% endblock %}
