{% extends "4dx_screen/layout.html.twig" %}

{% block title %}劇場情報 | {{ parent() }}4DX SCREEN特設サイト{% endblock %}

{% block description %}TODO{% endblock %}

{% block keywords %}TODO{% endblock %}

{% block css %}
{% endblock %}

{% block javascript %}
{% endblock %}

{% block navbar %}
{% include '4dx_screen/include/navbar.html.twig' with {
    active: 'theater'
} only %}
{% endblock %}

{% block sp_navbar %}
{% include '4dx_screen/include/sp_navbar.html.twig' with {
    active: 'theater'
} only %}
{% endblock %}

{% block contents %}
<div class="breadcrumb-list d-none d-md-block small width mx-auto mb-5 px-2 text-white">
    <a class="text-white" href="{{ path_for('homepage') }}">ホーム</a>
    <span class="font-weight-bold mx-md-3 h-100"> | </span>
    <a class="text-white" href="{{ path_for('4dx_screen') }}">4DX SCREEN</a>
    <span class="font-weight-bold mx-2"> | </span>
    <span>劇場情報<span>
</div>

<div class="width mx-auto mb-3 px-2 text-white">
    <h2 class="font-weight-bold large text-center text-md-left py-4">劇場情報</h2>
    <ul>
    {% for theater in theaters %}
        {# 追加漏れが分かりやすいようにignore missingは入れない #}
        {% include '4dx_screen/include/theater/' ~ theater.getName() ~ '.html.twig' with {
            theater: theater,
        } only %}
    {% endfor %}
    </ul>
</div>
{% endblock %}
