<div class="mb-4">
        <h3 class="font-weight-bold border-bottom py-3">通常料金</h3>
        <div class="border-bottom p-3">
            <div class="d-flex font-weight-bold">
                <p class="mb-0">一般</p>
                <p class="ml-auto mb-0">￥1,900</p>
            </div>
        </div>
        <div class="border-bottom p-3">
            <div class="d-flex font-weight-bold pb-1">
                <p class="mb-0">大学生</p>
                <p class="ml-auto mb-0">￥1,500</p>
            </div>
            <p class="mb-0 small">※要学生証</p>
        </div>
        <div class="border-bottom p-3">
            <div class="d-flex font-weight-bold pb-1">
                <p class="mb-0">高校生・中学生・小学生</p>
                <p class="ml-auto mb-0">￥1,000</p>
            </div>
            <p class="mb-0 small">※高校生は要学生証</p>
        </div>
        <div class="border-bottom p-3">
            <div class="d-flex font-weight-bold pb-1">
                <p class="mb-0">幼児(3歳以上)</p>
                <p class="ml-auto mb-0">￥1,000</p>
            </div>
            <p class="mb-0 small">※作品によっては2歳以上の場合がございます。</p>
        </div>
        <div class="border-bottom p-3">
            <div class="d-flex font-weight-bold">
                <p class="mb-0">シニア(60歳以上)</p>
                <p class="ml-auto mb-0">￥1,200</p>
            </div>
        </div>
        <div class="border-bottom p-3">
            <div class="d-flex font-weight-bold pb-1">
                <p class="mb-0">ハンディキャップ</p>
                <p class="ml-auto mb-0">￥1,000</p>
            </div>
            <p class="mb-0 small">※障がい者手帳をお持ちのご本人様。<br>※付き添いの方1名様まで同じ料金になります。</p>
        </div>
    </div>
    <!--SPシート料金-->
    <div class="mb-4">
        <h3 class="font-weight-bold border-bottom py-3">スペシャルシート料金</h3>
        <div class="border-bottom p-3">
            <div class="d-flex font-weight-bold pb-1">
                <p class="mb-0">プレミアムクラス</p>
                <p class="ml-auto mb-0">通常料金 + ￥1,500</p>
            </div>
            <p class="mb-0 small text-red">
                ミールクーポン 700円分が含まれます
            </p>
        </div>
        <div class="border-bottom p-3">
            <div class="d-flex font-weight-bold pb-1">
                <p class="mb-0">グランドクラス</p>
                <p class="ml-auto mb-0">通常料金 + ￥3,000</p>
            </div>
            <p class="mb-0 small text-red">
                ミールクーポン 1,200円分が含まれます
            </p>
        </div>
        <div class="border-bottom p-3">
            <div class="d-flex font-weight-bold pb-1">
                <p class="mb-0">フラットシート</p>
                <p class="ml-auto mb-0">追加料金なし</p>
            </div>
        </div>
        <p class="small mb-0 py-3">
            ● ミールクーポンは5Fクラッパーズダイナー、12F バール パノーラマ、劇場売店でのみご利用いただけます。<br>
            ● お支払い金額がクーポンの額面に満たない場合は、おつりが出ませんのご了承ください。<br>
            ● ミールクーポンはご鑑賞日当日のみ有効となります。<br>
            <!--<span class="text-red">※20:00以降開始の上映回のミールクーポン（プレミアムクラス:700円、グランドクラス:1,200円）は払い戻しをいたします。（上映開始時刻前までに手続きをお願い致します。）2021/5/11まで。</span>-->
        </p>
    </div>
    <!--4DXwSCX鑑賞料金-->
    <!--3D鑑賞料金-->
    <div class="mb-4">
        <h3 class="font-weight-bold border-bottom py-3">3D鑑賞料金</h3>
        <div class="border-bottom p-3">
            <div class="d-flex font-weight-bold pb-1">
                <p class="mb-0">3D鑑賞料金</p>
                <p class="ml-auto mb-0">通常料金 + ￥400</p>
            </div>
        </div>
        <p class="small mb-0 py-3">
            ● 3Dメガネ（RealD用）はお持ち帰り頂けます。<br>
            ● 次回鑑賞時にお持ち頂ければ、3D鑑賞料金を100円引き（3D鑑賞料金400円→300円）させて頂きます。<br>
            ● ご持参していただける3Dメガネは当劇場で配布した物に限ります。<br>
            ● IMAX3Dの料金は下記の「IMAX鑑賞料金」をご確認ください。<br>
            ● 前売券、シネマサンシャインCINEMA TICKET（特別鑑賞券）、シネマサンシャインINVITATION TICKET（招待券）、アプリのポイントによる無料鑑賞、各種割引券もプラス400円でご利用頂けます。<br>
            ● 3D作品をご覧になりますお客様は2歳以下のお子様でも3Ｄメガネを利用される場合、鑑賞料金をいただきます。予めご了承ください。 なお、2歳以下のお子様の3D鑑賞料金は1,400円です。
        </p>
    </div>
    <!--3D鑑賞料金-->
    <!--IMAX鑑賞料金-->
    <div class="mb-4">
        <h3 class="font-weight-bold border-bottom py-3">IMAX鑑賞料金</h3>
        <div class="border-bottom p-3">
            <div class="d-flex font-weight-bold pb-1">
                <p class="mb-0">IMAX</p>
                <p class="ml-auto mb-0">通常料金 + ￥700</p>
            </div>
            <p class="mb-0 small">
                ＜一般の場合＞<br>
                一般￥1,900 + IMAX鑑賞料金￥700<br>
                ＜サービスデイの場合＞<br>
                一般￥1,200 + IMAX鑑賞料金￥700
            </p>
        </div>
        <div class="border-bottom p-3">
            <div class="d-flex font-weight-bold pb-1">
                <p class="mb-0">IMAX3D</p>
                <p class="ml-auto mb-0">通常料金 + ￥1,100</p>
            </div>
            <p class="mb-0 small text-red font-weight-bold">
                (IMAX3D専用メガネ代込)
            </p>
        </div>
        <p class="small mb-0 py-3">
            <span class="text-red font-weight-bold">
            ● なおIMAX3D専用メガネはお持ち帰りいただくことができません、上映終了後に回収させていただきます。</span><br>
            ● 各種サービスデイはサービス料金＋IMAX鑑賞料金となります。<br>
            ● 前売券、シネマサンシャインCINEMATICKET（特別鑑賞券）、シネマサンシャインINVITATION TICKET（招待券）、アプリのポイントによる無料鑑賞、各種割引券も＋IMAX鑑賞料金でご利用いただけます。<br>
        </p>
    </div>
    <!--IMAX鑑賞料金-->
    <!--4DXwSCX鑑賞料金-->
    <div class="mb-4">
        <h3 class="font-weight-bold border-bottom py-3">4DX SCREEN鑑賞料金</h3>
        <div class="border-bottom p-3">
            <div class="d-flex font-weight-bold pb-1">
                <p class="mb-0">4DX SCREEN鑑賞料金</p>
                <p class="ml-auto mb-0">通常料金 + ￥1,500</p>
            </div>
            <p class="mb-0 small">
                ＜2D作品・一般の場合＞<br>
                一般￥1,900 + 4DX SCREEN鑑賞料金￥1,500<br>
                ＜サービスデイ・一般の場合＞<br>
                〈シネマサンシャインデイ〉一般￥1,200 + 4DX SCREEN鑑賞料金￥1,500
            </p>
        </div>
        <p class="small mb-0 py-3">
            ● 身長100cm未満の方、妊娠中の方、ご高齢の方、心臓・背中・腰・首などに障害のある方、特別な疾患のある方、乗り物酔いしやすい方、その他体調に不安のある方などは、4DXをご利用いただけません。また、身長120cm未満のお子様は保護者の方と一緒にご鑑賞ください。<br>
            ● 前売券、シネマサンシャインCINEMA TICKET（特別鑑賞券）、シネマサンシャインINVITATION TICKET（招待券）、アプリのポイントによる無料鑑賞、各種割引券もプラス1,500円でご利用頂けます。
        </p>
    </div>
    <!--4DXwSCX鑑賞料金-->
    <!--4DX鑑賞料金-->
    <div class="mb-4">
        <h3 class="font-weight-bold border-bottom py-3">4DX鑑賞料金</h3>
        <div class="border-bottom p-3">
            <div class="d-flex font-weight-bold pb-1">
                <p class="mb-0">4DX鑑賞料金</p>
                <p class="ml-auto mb-0">通常料金 + ￥1,100</p>
            </div>
            <p class="mb-0 small">
                ＜2D作品・一般の場合＞<br>
                一般￥1,900 + 4DX鑑賞料金￥1,100<br>
                ＜3D作品・一般の場合＞<br>
                一般￥1,900 + 3D鑑賞料金￥400 + 4DX鑑賞料金￥1,100
            </p>
        </div>
        <p class="small mb-0 py-3">
            ● 身長100cm未満の方、妊娠中の方、ご高齢の方、心臓・背中・腰・首などに障害のある方、特別な疾患のある方、乗り物酔いしやすい方、その他体調に不安のある方などは、4DXをご利用いただけません。また、身長120cm未満のお子様は保護者の方と一緒にご鑑賞ください。<br>
            ● 前売券、シネマサンシャインCINEMA TICKET（特別鑑賞券）、シネマサンシャインINVITATION TICKET（招待券）、アプリのポイントによる無料鑑賞、各種割引券もプラス1,100円でご利用頂けます。<br>
            ● 3Dメガネ（RealD用）はお持ち帰り頂けます。次回鑑賞時にお持ち頂ければ、3D鑑賞料金を100円引き（3D鑑賞料金400円→300円）させて頂きます。
        </p>
    </div>
    <!--4DX鑑賞料金-->
    <!--ScreenX鑑賞料金-->
    <div class="mb-4">
        <h3 class="font-weight-bold border-bottom py-3">SCREEN X鑑賞料金</h3>
        <div class="border-bottom p-3">
            <div class="d-flex font-weight-bold pb-1">
                <p class="mb-0">SCREEN X鑑賞料金</p>
                <p class="ml-auto mb-0">通常料金 + ￥600</p>
            </div>
        </div>
        <p class="small mb-0 py-3">
            ● 通常の鑑賞料金プラス600円でスクリーンＸ作品をご鑑賞頂けます。<br>
            ● ムビチケ、前売券、シネマサンシャインCINEMA TICKET（特別鑑賞券）、シネマサンシャインINVITATION TICKET（招待券）、アプリのポイントによる無料鑑賞、各種割引券もプラス600円でご利用頂けます。
        </p>
    </div>
    <!--ScreenX鑑賞料金-->
    <!--BESTIA鑑賞料金-->
    <div class="mb-4">
            <h3 class="font-weight-bold border-bottom py-3">BESTIA鑑賞料金</h3>
            <div class="border-bottom p-3">
                <div class="d-flex font-weight-bold pb-1">
                    <p class="mb-0">BESTIA鑑賞料金</p>
                    <p class="ml-auto mb-0">通常料金 + ￥200</p>
                </div>
                <p class="mb-0 small">
                    ＜2D作品・一般の場合＞<br>
                    一般￥1,900 + BESTIA鑑賞料金￥200<br>
                    ＜3D作品・一般の場合＞<br>
                    一般￥1,900 + 3D鑑賞料金￥400 + BESTIA鑑賞料金￥200<br>
                    ＜サービスデーの場合＞<br>
                    サービスデー料金 + BESTIA鑑賞料金￥200
                </p>
            </div>
            <p class="small mb-0 py-3">
                ● 前売券、シネマサンシャインCINEMA TICKET（特別鑑賞券）、シネマサンシャインINVITATION TICKET（招待券）、アプリのポイントによる無料鑑賞、各種割引券もプラス200円でご利用頂けます。
            </p>
        </div>
        <!--BESTIA鑑賞料金-->
    <div class="mb-4">
        <h3 class="font-weight-bold border-bottom py-3">サービスデイ・割引料金<br/><span class="mb-0 small text-red">● 7/1(木)より割引サービスの一部変更がございました。詳細は<a href="https://www.cinemasunshine.co.jp/news/2332.php">こちら</a></span></h3>
        <div class="border-bottom p-3">
            <div class="d-flex font-weight-bold pb-1">
                <p class="mb-0">ファーストデイ</p>
                <p class="ml-auto mb-0">￥1,200</p>
            </div>
            <p class="mb-0 small">※毎月1日</p>
        </div>
        <div class="border-bottom p-3">
            <div class="d-flex font-weight-bold pb-1">
                <p class="mb-0">シネマサンシャインデイ</p>
                <p class="ml-auto mb-0">￥1,200</p>
            </div>
            <p class="mb-0 small">※毎週水曜日</p>
        </div>
        <div class="border-bottom p-3">
            <div class="d-flex font-weight-bold pb-1">
                <p class="mb-0">シネマサンシャインリワード<br class="d-md-none">会員サービスデイ</p>
                <p class="ml-auto mb-0">ご本人様 ¥1,100</p>
            </div>
            <p class="mb-0 small">
                ※毎週木曜日(アプリのみ対象)<br>
                ※有料会員且つ、アプリでの購入に限ります。
            </p>
        </div>
        <div class="border-bottom p-3">
            <div class="d-flex font-weight-bold pb-1">
                <p class="mb-0">ペア50割</p>
                <p class="ml-auto mb-0">お二人で ￥2,600</p>
            </div>
            <p class="mb-0 small">
                ※性別問わずどちらかが50歳以上で同一の作品の同一時間の回をご覧になる場合に限ります。<br>
                ※要年齢証明書<br>
                ※どちらか一方の方が無料鑑賞の場合、同伴のお客様は通常料金となります。<br>
            </p>
        </div>
    </div>
    <div class="width mx-auto news pt-4">
            <h3 class="font-weight-bold large mb-4 text-center text-md-left">グランドシネマサンシャインの劇場サービス</h3>
            <div class="container w-100 mw-100 m-0 mb-4 px-1">
                <ul class="row mb-0">
                    <li class="col-md-3 col-6 py-2 mb-4">
                        <a href="{{ path_for('theater', { name: theater.getName() }) }}" class="d-block">
                            <div class="border mb-2 image border-gray" style="background-image: url(/images/tmp/theater/facility/facility_02.jpg)"></div>
                            <p class="mb-0"><span class="font-weight-bold">e-box</span><br>当館はe-boxによるインターネットチケット購入に対応しております</p>
                        </a>
                    </li>
                    <li class="col-md-3 col-6 py-2 mb-4">
                        <a href="http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=3005179&pid=881385431&vc_url=http%3A%2F%2Fwww" target="_blank" class="d-block">
                            <div class="border mb-2 image border-gray" style="background-image: url(/images/tmp/theater/facility/facility_04.jpg)"></div>
                            <p class="mb-0"><span class="font-weight-bold">ムビチケ</span><br>オンラインで購入して座席予約できる電子前売券</p>
                        </a>
                    </li>
                    <li class="col-md-3 col-6 py-2 mb-4">
                        <a href="{{ path_for('mail_magazine') }}" class="d-block">
                            <div class="border mb-2 image border-gray" style="background-image: url(/images/tmp/theater/facility/facility_05.jpg)"></div>
                            <p class="mb-0"><span class="font-weight-bold">メールマガジン</span><br>お得な情報がいっぱいの無料メール配信サービス</p>
                        </a>
                    </li>
                    <li class="col-md-3 col-6 py-2 mb-4">
                        <a href="{{ path_for('official_app') }}" class="d-block">
                            <div class="border mb-2 image border-gray" style="background-image: url(/images/tmp/theater/facility/facility_08.jpg)"></div>
                            <p class="mb-0"><span class="font-weight-bold">シネマサンシャインリワード</span><br>シネマサンシャイン公式アプリからご入会いただける会員サービス</p>
                        </a>
                    </li>
                </ul>
                <ul class="row">
                </ul>
            </div>
        </div>
