<div class="mb-4">
    <h3 class="font-weight-bold border-bottom py-3">通常料金</h3>
    <div class="border-bottom p-3">
        <div class="d-flex font-weight-bold">
            <p class="mb-0">一般</p>
            <p class="ml-auto mb-0">￥xxxx</p>
        </div>
    </div>
</div>
