<div class="mb-4">
    <h3 class="font-weight-bold border-bottom py-3">通常料金</h3>
    <div class="border-bottom p-3">
        <div class="d-flex font-weight-bold">
            <p class="mb-0">一般</p>
            <p class="ml-auto mb-0">￥1,800</p>
        </div>
    </div>
    <div class="border-bottom p-3">
        <div class="d-flex font-weight-bold pb-1">
            <p class="mb-0">大学生</p>
            <p class="ml-auto mb-0">￥1,500</p>
        </div>
        <p class="mb-0 small">※要学生証</p>
    </div>
    <div class="border-bottom p-3">
        <div class="d-flex font-weight-bold pb-1">
            <p class="mb-0">高校生・中学生・小学生</p>
            <p class="ml-auto mb-0">￥1,000</p>
        </div>
        <p class="mb-0 small">※高校生は要学生証</p>
    </div>
    <div class="border-bottom p-3">
        <div class="d-flex font-weight-bold pb-1">
            <p class="mb-0">幼児(3歳以上)</p>
            <p class="ml-auto mb-0">￥1,000</p>
        </div>
        <p class="mb-0 small">※作品によっては2歳以上の場合がございます。</p>
    </div>
    <div class="border-bottom p-3">
        <div class="d-flex font-weight-bold">
            <p class="mb-0">シニア(60歳以上)</p>
            <p class="ml-auto mb-0">￥1,100</p>
        </div>
    </div>
    <div class="border-bottom p-3">
        <div class="d-flex font-weight-bold pb-1">
            <p class="mb-0">ハンディキャップ</p>
            <p class="ml-auto mb-0">￥1,000</p>
        </div>
        <p class="mb-0 small">※障がい者手帳をお持ちのご本人様。<br>※付き添いの方1名様まで同じ料金になります。</p>
    </div>
</div>
<div class="mb-4">
    <h3 class="font-weight-bold border-bottom py-3">4DX&reg;鑑賞料金</h3>
    <div class="border-bottom p-3">
        <div class="d-flex font-weight-bold pb-1">
            <p class="mb-0">4DX&reg;鑑賞料金</p>
            <p class="ml-auto mb-0">通常料金 + ￥1,000</p>
        </div>
        <p class="mb-0 small">
            ＜2D作品・一般の場合＞<br>
            一般￥1,800 + 4DX&reg;鑑賞料金￥1,000<br>
            ＜3D作品・一般の場合＞<br>
            一般￥1,800 + 3D鑑賞料金￥400 + 4DX&reg;鑑賞料金￥1,000
        </p>
    </div>
    <p class="small mb-0 py-3">
        ● 身長100cm未満の方、妊娠中の方、ご高齢の方、心臓・背中・腰・首などに障害のある方、特別な疾患のある方、乗り物酔いしやすい方、その他体調に不安のある方などは、4DX&reg;をご利用いただけません。また、身長120cm未満のお子様は保護者の方と一緒にご鑑賞ください。<br>
        ● 3Dメガネ（MASTER IMAGE用）はお持ち帰り頂けます。次回鑑賞時にお持ち頂ければ、3D鑑賞料金を100円引き（3D鑑賞料金400円→300円）させて頂きます。
    </p>
</div>
<div class="mb-4">
    <h3 class="font-weight-bold border-bottom py-3">IMAX鑑賞料金</h3>
    <div class="border-bottom p-3">
        <div class="d-flex font-weight-bold pb-1">
            <p class="mb-0">IMAX版</p>
            <p class="ml-auto mb-0">通常料金 + ￥400</p>
        </div>
        <p class="mb-0 small">
            ＜一般の場合＞<br>
            一般￥1,800 + IMAX鑑賞料金￥400<br>
            ＜サービスデイの場合＞<br>
            一般￥1,100 + IMAX鑑賞料金￥400
        </p>
    </div>
    <div class="border-bottom p-3">
        <div class="d-flex font-weight-bold pb-1">
            <p class="mb-0">IMAX3D版</p>
            <p class="ml-auto mb-0">通常料金 + ￥700</p>
        </div>
        <p class="mb-0 small text-red font-weight-bold">
            ( + IMAX3D専用メガネ代￥100)
        </p>
    </div>
    <p class="small mb-0 py-3">
        <span class="text-red font-weight-bold">● なおIMAX3D専用メガネはお客様がお持ち帰りいただくことが可能で、次回、IMAX3D作品をご鑑賞いただく際にご持参いただきましたらメガネ代100円はいただきません。</span><br>
        ● 各種サービスデイはサービス料金＋IMAX鑑賞料金となります。<br>
        ● 前売券、シネマサンシャインCINEMATICKET（特別鑑賞券）、シネマサンシャインINVITATION TICKET（招待券）、メンバーズカードのポイントによる無料鑑賞、各種割引券も＋IMAX鑑賞料金でご利用いただけます。<br>
        ● ハンディキャップ料金は障がい者手帳をお持ちのご本人様と付き添いの方1名まで同じ料金になります。
    </p>
</div>
<div class="mb-4">
    <h3 class="font-weight-bold border-bottom py-3">3D鑑賞料金</h3>
    <div class="border-bottom p-3">
        <div class="d-flex font-weight-bold pb-1">
            <p class="mb-0">3D鑑賞料金</p>
            <p class="ml-auto mb-0">通常料金 + ￥400</p>
        </div>
    </div>
    <p class="small mb-0 py-3">
        ● 3Dメガネ（MASTER IMAGE用）はお持ち帰り頂けます。<br>
        ● 次回鑑賞時にお持ち頂ければ、3D鑑賞料金を100円引き（3D鑑賞料金400円→300円）させて頂きます。<br>
        ● ご持参していただける3Dメガネは当劇場で配布した物に限ります。<br>
        ● IMAX3D版は対象外です。<br>
        ● IMAX3D版料金は上記の「IMAX鑑賞料金」をご確認ください。<br>
        ● 前売券、シネマサンシャインCINEMA TICKET（特別鑑賞券）、シネマサンシャインINVITATION TICKET（招待券）、メンバーズカードのポイントによる無料鑑賞、各種割引券もプラス400円でご利用頂けます。<br>
        ● 3D作品をご覧になりますお客様は2歳以下のお子様でも3Ｄメガネを利用される場合、鑑賞料金をいただきます。予めご了承ください。 なお、2歳以下のお子様の3D鑑賞料金は1,400円です。
    </p>
</div>
<div class="mb-4">
    <h3 class="font-weight-bold border-bottom py-3">サービスデイ・割引料金</h3>
    <div class="border-bottom p-3">
        <div class="d-flex font-weight-bold pb-1">
            <p class="mb-0">ファーストデイ</p>
            <p class="ml-auto mb-0">￥1,100</p>
        </div>
        <p class="mb-0 small">※毎月1日</p>
    </div>
    <div class="border-bottom p-3">
        <div class="d-flex font-weight-bold pb-1">
            <p class="mb-0">レディースデイ</p>
            <p class="ml-auto mb-0">女性 ￥1,100</p>
        </div>
        <p class="mb-0 small">※毎週水曜日</p>
    </div>
    <div class="border-bottom p-3">
        <div class="d-flex font-weight-bold pb-1">
            <p class="mb-0">シネマサンシャインデイ</p>
            <p class="ml-auto mb-0">￥1,100</p>
        </div>
        <p class="mb-0 small">※毎月15日</p>
    </div>
    <div class="border-bottom p-3">
        <div class="d-flex font-weight-bold pb-1">
            <p class="mb-0">レイトショー</p>
            <p class="ml-auto mb-0">￥1,300</p>
        </div>
        <p class="mb-0 small">
            ※連日20時以降に上映する回<br>
            ※上映終了が23時を過ぎる回は、18歳未満の方はご入場頂けません。<br>
            ※特別興行には適用されません。<br>
        </p>
    </div>
    <div class="border-bottom p-3">
        <div class="d-flex font-weight-bold pb-1">
            <p class="mb-0">夫婦50割引</p>
            <p class="ml-auto mb-0">お二人で ￥2,200</p>
        </div>
        <p class="mb-0 small">
            ※夫婦どちらかが50歳以上で同一の作品の同一時間の回をご覧になる場合に限ります。<br>
            ※要年齢証明書<br>
            ※どちらか一方の方が無料鑑賞の場合、同伴のお客様は通常料金となります。<br>
        </p>
    </div>
    <div class="border-bottom p-3">
        <div class="d-flex font-weight-bold pb-1">
            <p class="mb-0">メンバーズカード</p>
            <div class="ml-auto text-right">
                <p class="mb-0">一般 ￥300引</p>
                <p class="mb-0">学生・幼児 ￥200引</p>
            </div>
        </div>
        <p class="mb-0 small">※カード提示で本人を含む4名様まで。</p>
    </div>
    <div class="border-bottom p-3">
        <div class="d-flex font-weight-bold pb-1">
            <p class="mb-0">キッズメンバーズカード</p>
            <div class="ml-auto text-right">
                <p class="mb-0">会員様 ￥200引</p>
            </div>
        </div>
        <p class="mb-0 small">※3歳~12歳の方。<br>※会員様ご本人様のみ</p>
    </div>
    <div class="border-bottom p-3">
        <div class="d-flex font-weight-bold pb-1">
            <p class="mb-0">メンバーズデイ</p>
            <p class="ml-auto mb-0">￥1,300</p>
        </div>
        <p class="mb-0 small">※毎週木曜日<br>メンバーズカードご提示のご本人様</p>
    </div>
    <div class="border-bottom p-3">
        <div class="d-flex font-weight-bold pb-1">
            <p class="mb-0">誕生月割引</p>
            <p class="ml-auto mb-0">￥1,100</p>
        </div>
        <p class="mb-0 small">
            ※誕生月にご来店のご本人様に限ります。<br>
            ※要誕生日確認証明書<br>
            ※誕生日当日はポップコーンセットプレゼント<br>
        </p>
    </div>
    <div class="border-bottom p-3">
        <div class="d-flex font-weight-bold pb-1">
            <p class="mb-0">イオンカード割引</p>
            <div class="ml-auto text-right">
                <p class="mb-0">一般 ￥300引</p>
                <p class="mb-0">学生・幼児 ￥200引</p>
            </div>
        </div>
        <p class="mb-0 small">※毎月20日、30日にイオンカードご提示のご本人様のみ。</p>
    </div>
</div>
<div class="width mx-auto news pt-4">
        <h3 class="font-weight-bold large mb-4 text-center text-md-left">シネマサンシャイン大和郡山の劇場サービス</h3>
        <div class="container w-100 mw-100 m-0 mb-4 px-1">
            <ul class="row mb-0">
                <li class="col-md-3 col-6 py-2 mb-4">
                    <a href="#" class="d-block">
                        <div class="border mb-2 image border-gray" style="background-image: url(/images/tmp/theater/facility/facility_02.jpg)"></div>
                        <p class="mb-0"><span class="font-weight-bold">特別鑑賞券</span><br>シネマサンシャイン全館でご利用頂ける特別鑑賞券絶賛販売中！</p>
                    </a>
                </li>
                <li class="col-md-3 col-6 py-2 mb-4">
                    <a href="#" class="d-block">
                        <div class="border mb-2 image border-gray" style="background-image: url(/images/tmp/theater/facility/facility_02.jpg)"></div>
                        <p class="mb-0"><span class="font-weight-bold">ムビチケ</span><br>オンラインで購入して座席予約できる電子前売券</p>
                    </a>
                </li>
                <li class="col-md-3 col-6 py-2 mb-4">
                    <a href="#" class="d-block">
                        <div class="border mb-2 image border-gray" style="background-image: url(/images/tmp/theater/facility/facility_02.jpg)"></div>
                        <p class="mb-0"><span class="font-weight-bold">メールマガジン</span><br>お得な情報がいっぱいの無料メール配信サービス</p>
                    </a>
                </li>
            </ul>
            <ul class="row">
                <li class="col-md-3 col-6 py-2 mb-4">
                    <a href="https://www.facebook.com/sunshineehime" targer="_blank" class="d-block">
                        <div class="border mb-2 image border-gray" style="background-image: url(/images/tmp/theater/facility/facility_02.jpg)"></div>
                        <p class="mb-0"><span class="font-weight-bold">facebook</span><br>当劇場のFacebookに「いいね！」を押して最新情報をゲット！</p>
                    </a>
                </li>
                <li class="col-md-3 col-6 py-2 mb-4">
                    <a href="https://twitter.com/cs_ehime" target="_blank" class="d-block">
                        <div class="border mb-2 image border-gray" style="background-image: url(/images/tmp/theater/facility/facility_02.jpg)"></div>
                        <p class="mb-0"><span class="font-weight-bold">Twitter</span><br>当劇場のTwitterをフォローして最新情報をゲット！</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>