<div class="mb-5">
    <h2 class="font-weight-bold large text-center text-md-left mb-4 mt-2">劇場施設＆サービス</h2>
    <h3 class="mb-3">シネマサンシャイン姶良の設備一覧</h3>
    <div class="mb-4">
        <table class="table table-striped small border-bottom">
            <thead>
                <tr>
                    <td scope="col" class="w-25 ">スクリーン</td>
                    <td scope="col" class="w-25">座席(車椅子)</td>
                    <td scope="col" class="w-25">音響システム</td>
                    <td scope="col" class="w-25">スクリーンサイズ</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">シネマ1</td>
                    <td>250(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W13.4m×H5.9m</td>
                    <td class="d-md-none">W13.4m<br>H5.9m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ2</td>
                    <td>155(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W11.1m×H5.3m</td>
                    <td class="d-md-none">W11.1m<br>H5.3m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ3</td>
                    <td>81(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W7.4m×H4.2m</td>
                    <td class="d-md-none">W7.4m<br>H4.2m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ4</td>
                    <td>81(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W7.4m×H4.2m</td>
                    <td class="d-md-none">W7.4m<br>H4.2m</td>
                </tr>
                <tr>
                    <td scope="row">BESTIA</td>
                    <td>301(2)</td>
                    <td>DTS:X</td>
                    <td class="d-md-block d-none">W16.5m×H7.1m</td>
                    <td class="d-md-none">W16.5m<br>H7.1m</td>
                </tr>
                <tr>
                    <td scope="row">4DX®シアター</td>
                    <td>92(-)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W12.1m×H5.7m</td>
                    <td class="d-md-none">W12.1m<br>H5.7m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ7</td>
                    <td>104(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W7.7m×H4.2m</td>
                    <td class="d-md-none">W7.7m<br>H4.2m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ8</td>
                    <td>104(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W7.4m×H4.2m</td>
                    <td class="d-md-none">W7.4m<br>H4.2m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ9</td>
                    <td>104(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W7.6m×H4.3m</td>
                    <td class="d-md-none">W7.6m<br>H4.3m</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="special-facility">
        <div class="py-3 border-bottom">
            <div class="font-weight-bold mb-3">BESTIA</div>
            <div class="d-md-flex">
                <div class="mr-md-4 mb-md-0 mb-4"><img src="/images/tmp/theater/facility/facility_01.jpg"></div>
                <div>
                    <p><a href="#">BESTIA</a></p>
                    <p>リアルで鮮明な映像を映しだすことが可能な4K・9Pレーザープロジェクションシステムと、あらゆるサウンドをチャンネルの制限がない独立したオブジェクトとして存在させることができる3Dサウンドフォーマット（dts-X produced by GDC）の２つのシステムにより、観客がまるで映画の中に入ったような臨場感を生み出すことができるプレミアムシアターです。</p>
                </div>
            </div>
        </div>
        <div class="py-3 border-bottom">
            <div class="font-weight-bold mb-3">4DX&reg;シアター</div>
            <div class="d-md-flex">
                <div class="mr-md-4 mb-md-0 mb-4"><img src="/images/tmp/theater/facility/facility_01.jpg"></div>
                <div>
                    <p><a href="#">4DX&reg;シアター</a></p>
                    <p>3Dの先の次元の4D技術の概念に則り多様な機能を搭載した最新上映システム。上映作品の様々なシーン・シチュエーションと連動した座席可動・ミスト・香り・フラッシュ・バブル・煙などの19のエフェクトにより、劇中の登場人物になったような一体感を得ることができます。</p>
                </div>
            </div>
        </div>
        <div class="py-3 border-bottom">
            <div class="font-weight-bold mb-3">3D上映</div>
            <div class="d-md-flex">
                <div class="mr-md-4 mb-md-0 mb-4"><img src="/images/tmp/theater/facility/facility_01.jpg"></div>
                <div>
                    <p><a href="#">masterimage</a></p>
                    <p>当劇場は3Dシステムとしてmasterimageを採用しております。<br>通常の鑑賞料金プラス400円で3D作品をご鑑賞頂けます。<br>3Dメガネ（MASTER IMAGE用）はお持ち帰り頂けます。<br>次回鑑賞時にお持ち頂ければ、3D鑑賞料金を100円引き（3D鑑賞料金400円→300円）させて頂きます。</p>
                </div>
            </div>
        </div>
    </div>
</div>