<div class="mb-5">
    <h2 class="font-weight-bold large text-center text-md-left mb-4 mt-2">劇場設備</h2>
    <h3 class="mb-3">シネマサンシャイン平和島の設備一覧</h3>
    <div class="mb-4">
        <table class="table table-striped small border-bottom">
            <thead>
                <tr>
                    <td scope="col" class="w-25 ">スクリーン</td>
                    <td scope="col" class="w-25">座席(車椅子)</td>
                    <td scope="col" class="w-25">音響システム</td>
                    <td scope="col" class="w-25">スクリーンサイズ</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">アメイジング・サウンドシアター</td>
                    <td>289(2)</td>
                    <td>デジタル6ch&ensp;/&ensp;<br class="d-md-none">DOLBY ATMOS</td>
                    <td class="d-md-block d-none">W13.7m×H6.1m</td>
                    <td class="d-md-none">W13.7m<br>H6.1m</td>
                </tr>
                <tr>
                    <td scope="row">4DX®シアター</td>
                    <td>128(-)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W12.0m×H5.0m</td>
                    <td class="d-md-none">W12.0m<br>H5.0m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ3</td>
                    <td>143(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W7.1m×H3.8m</td>
                    <td class="d-md-none">W7.1m<br>H3.8m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ4</td>
                    <td>380(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W11.9m×H4.9m</td>
                    <td class="d-md-none">W11.9m<br>H4.9m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ5</td>
                    <td>106(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W9.2m×H3.8m</td>
                    <td class="d-md-none">W9.2m<br>H3.8m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ6</td>
                    <td>106(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W9.2m×H3.8m</td>
                    <td class="d-md-none">W9.2m<br>H3.8m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ7</td>
                    <td>143(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W7.1m×H3.8m</td>
                    <td class="d-md-none">W7.1m<br>H3.8m</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="special-facility">
        <div class="py-3 border-bottom ">
            <div class="font-weight-bold mb-3">音響設備</div>
            <div class="d-md-flex">
                <div class="mr-md-4 mb-md-0 mb-4"><img src="/images/tmp/theater/facility/facility_ast.jpg"></div>
                <div>
                    <p>アメイジング・サウンドシアター</p>
                    <p>客席を取り囲んで配置されたスピーカーにより、これまでに体験したことのないような迫力で体感できる「DOLBY ATMOS」の音響システムを兼ね備えた音響環境に特化したシアターです。</p>
                </div>
            </div>
        </div>
        <div class="py-3 border-bottom">
            <div class="font-weight-bold mb-3">4DXシアター</div>
            <div class="d-md-flex">
                <div class="mr-md-4 mb-md-0 mb-4"><img src="/images/tmp/theater/facility/facility_4dx.jpg"></div>
                <div>
                    <p><a href="{{ path_for('4dx') }}">4DXシアター</a></p>
                    <p>3Dの先の次元の4D技術の概念に則り多様な機能を搭載した最新上映システム。上映作品の様々なシーン・シチュエーションと連動した座席可動・ミスト・香り・フラッシュ・バブル・煙などの9つのエフェクトにより、劇中の登場人物になったような一体感を得ることができます。</p>
                </div>
            </div>
        </div>
        <div class="py-3 border-bottom">
            <div class="font-weight-bold mb-3">3D上映</div>
            <div class="d-md-flex">
                <div class="mr-md-4 mb-md-0 mb-4"><img src="/images/tmp/theater/facility/facility_xpand.jpg"></div>
                <div>
                    <p>XPAND</p>
                    <p>当劇場は3DシステムとしてXPANDを採用しております。<br>通常の鑑賞料金プラス500円で3D作品をご鑑賞頂けます。</p>
                </div>
            </div>
        </div>
    </div>
</div>
