<div class="mb-5">
    <h2 class="font-weight-bold large text-center text-md-left mb-4 mt-2">劇場施設＆サービス</h2>
    <h3 class="mb-3">シネマサンシャイン池袋の設備一覧</h3>
    <div class="mb-4">
        <table class="table table-striped small border-bottom">
            <thead>
                <tr>
                    <td scope="col" class="w-25 ">スクリーン</td>
                    <td scope="col" class="w-25">座席(車椅子)</td>
                    <td scope="col" class="w-25">音響システム</td>
                    <td scope="col" class="w-25">スクリーンサイズ</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">シネマ1</td>
                    <td>137(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W9.6m×H5.1m</td>
                    <td class="d-md-none">W9.6m<br>H5.1m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ2</td>
                    <td>165(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W9.6m×H5.1m</td>
                    <td class="d-md-none">W9.6m<br>H5.1m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ3</td>
                    <td>279(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W12.9m×H7.0m</td>
                    <td class="d-md-none">W12.9m<br>H7.0m</td>
                </tr>
                <tr>
                    <td scope="row">IMAX</td>
                    <td>378(2)</td>
                    <td>IMAX<br class="d-md-none">デジタル<br class="d-md-none">サウンド</td>
                    <td>IMAX</td>
                </tr>
                <tr>
                    <td scope="row">シネマ5</td>
                    <td>204(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W12.0m×H6.5m</td>
                    <td class="d-md-none">W12.0m<br>H6.5m</td>
                </tr>
                <tr>
                    <td scope="row">4DX&reg;<br class="d-md-none">シアター</td>
                    <td>48(-)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W7.1m×H3.8m</td>
                    <td class="d-md-none">W7.1m<br>H3.8m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ7</td>
                    <td>138(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W9.8m×H5.3m</td>
                    <td class="d-md-none">W9.8m<br>H5.3m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ8</td>
                    <td>95(1)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W7.1m×H3.8m</td>
                    <td class="d-md-none">W7.1m<br>H3.8m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ9</td>
                    <td>95(1)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W7.1m×H3.8m</td>
                    <td class="d-md-none">W7.1m<br>H3.8m</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="special-facility">
        <div class="py-3 border-bottom ">
            <div class="font-weight-bold mb-3">4DX&reg;</div>
            <div class="d-md-flex">
                <div class="mr-md-4 mb-md-0 mb-4"><img src="/images/tmp/theater/facility/facility_01.jpg"></div>
                <div>
                    <p><a href="#">4DX&reg;シアター</a></p>
                    <p>3Dの先の次元の4D技術の概念に則り多様な機能を搭載した最新上映システム。上映作品の様々なシーン・シチュエーションと連動した座席可動・ミスト・香り・フラッシュ・バブル・煙など19のエフェクトにより、劇中の登場人物になったような一体感を得ることができます。通所の鑑賞料金プラス1,000円で4DX作品をご鑑賞頂けます。</p>
                </div>
            </div>
        </div>
        <div class="py-3 border-bottom">
            <div class="font-weight-bold mb-3">IMAX</div>
            <div class="d-md-flex">
                <div class="mr-md-4 mb-md-0 mb-4"><img src="/images/tmp/theater/facility/facility_01.jpg"></div>
                <div>
                    <p><a href="#">IMAXデジタルシアター</a></p>
                    <p>IMAXデジタルシアターで、世界を揺るがす驚異の臨場感を体感せよ！</p>
                </div>
            </div>
        </div>
        <div class="py-3 border-bottom">
            <div class="font-weight-bold mb-3">3D上映</div>
            <div class="d-md-flex">
                <div class="mr-md-4 mb-md-0 mb-4"><img src="/images/tmp/theater/facility/facility_01.jpg"></div>
                <div>
                    <p><a href="#">4DX&reg;シアター</a></p>
                    <p>当劇場は3Dシステムとしてmasterimageを採用しております。<br>通常の鑑賞料金プラス400円で3D作品をご鑑賞いただけます。<br>当劇場は3Dシステムとしてmasterimageを採用しております。<br>通常の鑑賞料金プラス400円で3D作品をご鑑賞いただけます。</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="width mx-auto news">
    <h3 class="font-weight-bold large mb-4 text-center text-md-left">シネマサンシャイン池袋の劇場サービス</h3>
    <div class="container w-100 mw-100 m-0 mb-4 px-1">
        <ul class="row mb-0">
            <li class="col-md-3 col-6 py-2 mb-4">
                <a href="#" class="d-block">
                    <div class="border mb-2 image border-gray" style="background-image: url(/images/tmp/theater/facility/facility_02.jpg)"></div>
                    <p class="mb-0"><span class="font-weight-bold">e-box</span><br>当館はe-boxによるインターネットチケット購入に対応しております</p>
                </a>
            </li>
            <li class="col-md-3 col-6 py-2 mb-4">
                <a href="#" class="d-block">
                    <div class="border mb-2 image border-gray" style="background-image: url(/images/tmp/theater/facility/facility_02.jpg)"></div>
                    <p class="mb-0"><span class="font-weight-bold">特別鑑賞券</span><br>シネマサンシャイン全館でご利用頂ける特別鑑賞券絶賛販売中！</p>
                </a>
            </li>
            <li class="col-md-3 col-6 py-2 mb-4">
                <a href="#" class="d-block">
                    <div class="border mb-2 image border-gray" style="background-image: url(/images/tmp/theater/facility/facility_02.jpg)"></div>
                    <p class="mb-0">アントマン</p>
                </a>
            </li>
            <li class="col-md-3 col-6 py-2 mb-4">
                <a href="#" class="d-block">
                    <div class="border mb-2 image border-gray" style="background-image: url(/images/tmp/theater/facility/facility_02.jpg)"></div>
                    <p class="mb-0">アントマン</p>
                </a>
            </li>
        </ul>
        <ul class="row">
            <li class="col-md-3 col-6 py-2 mb-4">
                <a href="#" class="d-block">
                    <div class="border mb-2 image border-gray" style="background-image: url(/images/tmp/theater/facility/facility_02.jpg)"></div>
                    <p class="mb-0">11/4（日）東京凱旋公演大千秋楽のライブビューイング　当劇場にて実施決定！</p>
                </a>
            </li>
            <li class="col-md-3 col-6 py-2 mb-4">
                <a href="#" class="d-block">
                    <div class="border mb-2 image border-gray" style="background-image: url(/images/tmp/theater/facility/facility_02.jpg)"></div>
                    <p class="mb-0">アントマン</p>
                </a>
            </li>
        </ul>
    </div>
</div>