<div class="mb-5">
    <h2 class="font-weight-bold large text-center text-md-left mb-4 mt-2">劇場設備</h2>
    <h3 class="mb-3">グランドシネマサンシャインの設備一覧</h3>
    <div class="mb-4">
        <table class="table table-striped small border-bottom">
            <thead>
                <tr>
                    <td scope="col" class="w-25 ">スクリーン</td>
                    <td scope="col" class="w-25">座席(車椅子)</td>
                    <td scope="col" class="w-25">音響システム</td>
                    <td scope="col" class="w-25">スクリーン<br class="d-md-none">サイズ</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">シネマ1</td>
                    <td>204(2)</td>
                    <td>デジタル<br class="d-md-none">7.1ch</td>
                    <td class="d-md-block d-none">W13.3m×H7.2m</td>
                    <td class="d-md-none">W13.3m<br>H7.2m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ2</td>
                    <td>198(2)</td>
                    <td>デジタル<br class="d-md-none">7.1ch</td>
                    <td class="d-md-block d-none">W12.4m×H6.7m</td>
                    <td class="d-md-none">W12.4m<br>H6.7m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ3</td>
                    <td>112(2)</td>
                    <td>デジタル<br class="d-md-none">7.1ch</td>
                    <td class="d-md-block d-none">W6.9m×H3.75m</td>
                    <td class="d-md-none">W6.9m<br>H3.75m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ4<br class="d-md-none">(4DXwithScreenX)</td>
                    <td>120(-)</td>
                    <td>デジタル<br class="d-md-none">7.1ch</td>
                    <td class="d-md-block d-none">W12.4m×H6.7m</td>
                    <td class="d-md-none">W12.4m<br>H6.7m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ5</td>
                    <td>90(1)</td>
                    <td>デジタル<br class="d-md-none">7.1ch</td>
                    <td class="d-md-block d-none">W5.9m×H3.19m</td>
                    <td class="d-md-none">W5.9m<br>H3.19m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ6<br class="d-md-none">(BESTIA)</td>
                    <td>346(2)</td>
                    <td>DTS-X</td>
                    <td class="d-md-block d-none">W18.4m×H7.7m</td>
                    <td class="d-md-none">W18.4m<br>H7.7m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ7</td>
                    <td>204(2)</td>
                    <td>デジタル<br class="d-md-none">7.1ch</td>
                    <td class="d-md-block d-none">W13.3m×H6.8m</td>
                    <td class="d-md-none">W13.3m<br>H6.8m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ8</td>
                    <td>112(2)</td>
                    <td>デジタル<br class="d-md-none">7.1ch</td>
                    <td class="d-md-block d-none">W6.9m×H3.75m</td>
                    <td class="d-md-none">W6.9m<br>H3.75m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ9</td>
                    <td>96(2)</td>
                    <td>デジタル<br class="d-md-none">7.1ch</td>
                    <td class="d-md-block d-none">W6.9m×H3.75m</td>
                    <td class="d-md-none">W6.9m<br>H3.75m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ10<br class="d-md-none">(IMAX)</td>
                    <td>328(2)</td>
                    <td>12ch sound system</td>
                    <td class="d-md-block d-none">-</td>
                    <td class="d-md-none">-</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--上映設備-->
    <div class="special-facility mb-4">
        <div class="py-3 border-bottom">
            <div class="font-weight-bold mb-3">IMAX&reg;</div>
            <div class="d-md-flex">
                <div class="mr-md-4 mb-md-0 mb-4"><img src="/images/tmp/theater/facility/facility_imax_laser.jpg"></div>
                <div>
                    <p><a href="{{ path_for('imax') }}">IMAX&reg;レーザー</a></p>
                    <p>革新的な4Kレーザー投影システムを採用し、より鮮やかで明るく、深みあるコントラストの超高解像度映像を実現。IMAXならではの大スクリーンに映し出すことで、従来とは一線を画す劇的な体験をもたらします。さらに12chサウンドシステムを採用。圧倒的な臨場感で客席を包みます。</p>
                    <small class="x-small">IMAX&reg; is a registered trademark of IMAX Corporation.</small>
                </div>
            </div>
        </div>
        <div class="py-3 border-bottom">
            <div class="font-weight-bold mb-3">4DX&thinsp;with&thinsp;ScreenX</div>
            <div class="d-md-flex">
                <div class="mr-md-4 mb-md-0 mb-4"><img src="/images/tmp/theater/facility/facility_4dxwscx.jpg"></div>
                <div>
                    <p><a href="{{ path_for('4dx_with_screenx') }}">4DX&thinsp;with&thinsp;ScreenX</a></p>
                    <p>「4DX with ScreenX」シアターは、体感型アトラクションシアター「4DX&reg;」と、3面マルチプロジェクション上映システム「ScreenX」が融合した体感型シアターです。革新的なスペシャルエフェクトと、視野270度の3面マルチプロジェクション上映システムによって、今までにないダイナミックな映画体験をご提供します。</p>
                </div>
            </div>
        </div>
        <div class="py-3 border-bottom">
            <div class="font-weight-bold mb-3">4DX&reg;</div>
            <div class="d-md-flex">
                <div class="mr-md-4 mb-md-0 mb-4"><img src="/images/tmp/theater/facility/facility_4dx.jpg"></div>
                <div>
                    <p><a href="{{ path_for('4dx') }}">4DX&reg;</a></p>
                    <p>3Dの先の次元の4D技術の概念に則り多様な機能を搭載した最新上映システム。上映作品の様々なシーン・シチュエーションと連動した座席可動・ミスト・香り・フラッシュ・バブル・煙などの19のエフェクトにより、劇中の登場人物になったような一体感を得ることができます。</p>
                </div>
            </div>
        </div>
        <div class="py-3 border-bottom">
            <div class="font-weight-bold mb-3">Screen X</div>
            <div class="d-md-flex">
                <div class="mr-md-4 mb-md-0 mb-4"><img src="/images/tmp/theater/facility/facility_scx.jpg"></div>
                <div>
                    <p><a href="/screen-x/">Screen X</a></p>
                    <p>ScreenXは従来の正面スクリーンに加え、左右の壁面にも映画のシーンが映し出される世界初のマルチプロジェクション映画上映システムです。<br>目の前の視界いっぱいに270度まで広がる3面ワイドスクリーンはまるで映画に包み込まれるような感覚を与え、深い没入感を味わうことができます。</p>
                </div>
            </div>
        </div>
        <div class="py-3 border-bottom">
            <div class="font-weight-bold mb-3">BESTIA</div>
            <div class="d-md-flex">
                <div class="mr-md-4 mb-md-0 mb-4"><img src="/images/tmp/theater/facility/facility_bestia.jpg"></div>
                <div>
                    <p><a href="/bestia/">BESTIA</a></p>
                    <p>リアルで鮮明な映像を映しだすことが可能な4Kレーザープロジェクションシステムと、あらゆるサウンドをチャンネルの制限がない独立したオブジェクトとして存在させることができる3D音響システムの２つのシステムにより、観客がまるで映画の中に入ったような臨場感を生み出すことができるプレミアムシアターです。</p>
                </div>
            </div>
        </div>
        <div class="py-3 border-bottom">
            <div class="font-weight-bold mb-3">3D上映</div>
            <div class="d-md-flex">
                <div class="mr-md-4 mb-md-0 mb-4"><img src="/images/tmp/theater/facility/facility_reald.jpg"></div>
                <div>
                    <p>RealD</p>
                    <p>当劇場は3DシステムとしてRealDを採用しております。<br>通常の鑑賞料金プラス400円で3D作品をご鑑賞頂けます。<br>3Dメガネ（RealD用）はお持ち帰り頂けます。<br>次回鑑賞時にお持ち頂ければ、3D鑑賞料金を100円引き（3D鑑賞料金400円→300円）にさせて頂きます。</p>
                </div>
            </div>
        </div>
    </div>
    <!--上映設備-->

    <!--シート-->
    <div class="facility-seat mb-4">
        <h3 class="mb-3">シート</h3>
        <div class="py-3 border-bottom">
            <!--<div class="font-weight-bold mb-3">シート</div>-->
            <ul class="d-md-flex flex-wrap">
                <li>
                    <div class="d-flex">
                        <div class="faci_sheat_pic"><img src="/images/tmp/theater/facility/facility_seat_grnd.jpg"></div>
                        <div class="faci_sheat_txt">
                            <p><strong>おやこペアシート</strong><br>親子で一緒に座れるペアシートです。</p>
                            <small class="small">シアター9に設置</small>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--シート-->
</div>
