<div class="mb-5">
    <h2 class="font-weight-bold large text-center text-md-left mb-4 mt-2">劇場設備</h2>
    <h3 class="mb-3">シネマサンシャイン沼津の設備一覧</h3>
    <div class="mb-4">
        <table class="table table-striped small border-bottom">
            <thead>
                <tr>
                    <td scope="col" class="w-25">スクリーン</td>
                    <td scope="col" class="w-25">座席(車椅子)</td>
                    <td scope="col" class="w-25">音響システム</td>
                    <td scope="col" class="w-25">スクリーンサイズ</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">シネマ1</td>
                    <td>157(1)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W8.5m×H4.9m</td>
                    <td class="d-md-none">W8.5m<br>H4.9m</td>
                </tr>
                <tr>
                    <td scope="row">4DX&reg;シアター</td>
                    <td>120(-)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W11.3m×H4.9m</td>
                    <td class="d-md-none">W11.3m<br>H4.9m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ3</td>
                    <td>144(1)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W8.4m×H3.7m</td>
                    <td class="d-md-none">W8.4m<br>H3.7m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ4</td>
                    <td>298(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W13.0m×H5.6m</td>
                    <td class="d-md-none">W13.0m<br>H5.6m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ5</td>
                    <td>124(1)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W8.5m×H3.7m</td>
                    <td class="d-md-none">W8.5m<br>H3.7m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ6</td>
                    <td>124(1)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W8.5m×H3.6m</td>
                    <td class="d-md-none">W8.5m<br>H3.6m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ7</td>
                    <td>81(1)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W6.5m×H3.7m</td>
                    <td class="d-md-none">W6.5m<br>H3.7m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ8</td>
                    <td>91(1)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W6.6m×H3.7m</td>
                    <td class="d-md-none">W6.6m<br>H3.7m</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="special-facility">
        <div class="py-3 border-bottom">
            <div class="font-weight-bold mb-3">4DX&reg;シアター</div>
            <div class="d-md-flex">
                <div class="mr-md-4 mb-md-0 mb-4"><img src="/images/tmp/theater/facility/facility_4dx.jpg"></div>
                <div>
                    <p><a href="{{ path_for('4dx') }}">4DX&reg;シアター</a></p>
                    <p>3Dの先の次元の4D技術の概念に則り多様な機能を搭載した最新上映システム。上映作品の様々なシーン・シチュエーションと連動した座席可動・ミスト・香り・フラッシュ・バブル・煙などの19のエフェクトにより、劇中の登場人物になったような一体感を得ることができます。</p>
                </div>
            </div>
        </div>
        <div class="py-3 border-bottom">
            <div class="font-weight-bold mb-3">3D上映</div>
            <div class="d-md-flex">
                <div class="mr-md-4 mb-md-0 mb-4"><img src="/images/tmp/theater/facility/facility_xpand.jpg"></div>
                <div>
                    <p>XPAND</p>
                    <p>当劇場は3DシステムとしてXPANDを採用しております。<br>通常の鑑賞料金プラス400円で3D作品をご鑑賞頂けます。</p>
                </div>
            </div>
        </div>
    </div>
</div>