<div class="mb-5">
    <h2 class="font-weight-bold large text-center text-md-left mb-4 mt-2">劇場施設＆サービス</h2>
    <h3 class="mb-3">シネマサンシャイン大街道の設備一覧</h3>
    <div class="mb-4">
        <table class="table table-striped small border-bottom">
            <thead>
                <tr>
                    <td scope="col" class="w-25 ">スクリーン</td>
                    <td scope="col" class="w-25">座席(車椅子)</td>
                    <td scope="col" class="w-25">音響システム</td>
                    <td scope="col" class="w-25">スクリーンサイズ</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">シネマ1</td>
                    <td>110(-)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W4.3m×H1.8m</td>
                    <td class="d-md-none">W4.3m<br>H1.8m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ2</td>
                    <td>110(-)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W4.3m×H1.8m</td>
                    <td class="d-md-none">W4.3m<br>H1.8m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ3</td>
                    <td>42(-)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W4.6m×H2.5m</td>
                    <td class="d-md-none">W4.6m<br>H2.5m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ4</td>
                    <td>144(-)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W7.0m×H3.2m</td>
                    <td class="d-md-none">W7.0m<br>H3.2m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ5</td>
                    <td>88(-)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W6.2m×H2.7m</td>
                    <td class="d-md-none">W6.2m<br>H2.7m</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="special-facility">
        <div class="py-3 border-bottom">
            <div class="font-weight-bold mb-3">3D上映</div>
            <div class="d-md-flex">
                <div class="mr-md-4 mb-md-0 mb-4"><img src="/images/tmp/theater/facility/facility_01.jpg"></div>
                <div>
                    <p><a href="#">masterimage</a></p>
                    <p>当劇場は3Dシステムとしてmasterimageを採用しております。<br>通常の鑑賞料金プラス400円で3D作品をご鑑賞頂けます。<br>3Dメガネ（MASTER IMAGE用）はお持ち帰り頂けます。<br>次回鑑賞時にお持ち頂ければ、3D鑑賞料金を100円引き（3D鑑賞料金400円→300円）させて頂きます。</p>
                </div>
            </div>
        </div>
    </div>
</div>