<div class="mb-5">
    <h2 class="font-weight-bold large text-center text-md-left mb-4 mt-2">劇場設備</h2>
    <h3 class="mb-3">シネマサンシャイン大州の設備一覧</h3>
    <div class="mb-4">
        <table class="table table-striped small border-bottom">
            <thead>
                <tr>
                    <td scope="col" class="w-25 ">スクリーン</td>
                    <td scope="col" class="w-25">座席(車椅子)</td>
                    <td scope="col" class="w-25">音響システム</td>
                    <td scope="col" class="w-25">スクリーンサイズ</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">シネマ1</td>
                    <td>266(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W8.7m×H4.7m</td>
                    <td class="d-md-none">W8.7m<br>H4.7m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ2</td>
                    <td>195(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W7.9m×H4.3m</td>
                    <td class="d-md-none">W7.9m<br>H4.3m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ3</td>
                    <td>176(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W6.7m×H3.6m</td>
                    <td class="d-md-none">W6.7m<br>H3.6m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ4</td>
                    <td>111(1)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W5.8m×H4.5m</td>
                    <td class="d-md-none">W5.8m<br>H4.5m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ5</td>
                    <td>100(1)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W7.1m×H3.2m</td>
                    <td class="d-md-none">W7.1m<br>H3.2m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ6</td>
                    <td>88(1)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W7.3m×H3.9m</td>
                    <td class="d-md-none">W7.3m<br>H3.9m</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="special-facility">
        <div class="py-3 border-bottom">
            <div class="font-weight-bold mb-3">3D上映</div>
            <div class="d-md-flex">
                <div class="mr-md-4 mb-md-0 mb-4"><img src="/images/tmp/theater/facility/facility_xpand.jpg"></div>
                <div>
                    <p><a href="#">XPAND</a></p>
                    <p>当劇場は3DシステムとしてXPANDを採用しております。<br>通常の鑑賞料金プラス400円で3D作品をご鑑賞頂けます。</p>
                </div>
            </div>
        </div>
    </div>
</div>