<div class="mb-5">
    <h2 class="font-weight-bold large text-center text-md-left mb-4 mt-2">劇場設備</h2>
    <h3 class="mb-3">シネマサンシャイン下関の設備一覧</h3>
    <div class="mb-4">
        <table class="table table-striped small border-bottom">
            <thead>
                <tr>
                    <td scope="col" class="w-25 ">スクリーン</td>
                    <td scope="col" class="w-25">座席(車椅子)</td>
                    <td scope="col" class="w-25">音響システム</td>
                    <td scope="col" class="w-25">スクリーンサイズ</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">シネマ1</td>
                    <td>104(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W7.55m×H4.22m</td>
                    <td class="d-md-none">W7.55m<br>H4.22m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ2</td>
                    <td>104(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W7.55m×H4.22m</td>
                    <td class="d-md-none">W7.55m<br>H4.22m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ3</td>
                    <td>95(1)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W7.1m×H3.98m</td>
                    <td class="d-md-none">W7.1m<br>H3.98m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ4</td>
                    <td>50(1)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W5.5m×H3.11m</td>
                    <td class="d-md-none">W5.5m<br>H3.11m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ5</td>
                    <td>201(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W11.7m×H6.46m</td>
                    <td class="d-md-none">W11.7m<br>H6.46m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ6</td>
                    <td>302(2)</td>
                    <td>デジタル<br class="d-md-none">6ch（DOLBY <br class="d-md-none">ATMOS）</td>
                    <td class="d-md-block d-none">W11.7m×H6.46m</td>
                    <td class="d-md-none">W11.7m<br>H6.46m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ7/SCREEN X</td>
                    <td>141(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W8.70m×H4.90m</td>
                    <td class="d-md-none">W8.70m<br>H4.90m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ8</td>
                    <td>106(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W7.65m×H4.27m</td>
                    <td class="d-md-none">W7.65m<br>H4.27m</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="special-facility">
        <div class="py-3 border-bottom">
            <div class="font-weight-bold mb-3">3D上映</div>
            <div class="d-md-flex">
                <div class="mr-md-4 mb-md-0 mb-4"><img src="/images/tmp/theater/facility/facility_xpand.jpg"></div>
                <div>
                    <p>XPAND</p>
                    <p>当劇場は3DシステムとしてXPANDを採用しております。<br>通常の鑑賞料金プラス400円で3D作品をご鑑賞頂けます。</p>
                </div>
            </div>
        </div>
        <div class="py-3 border-bottom">
                <div class="font-weight-bold mb-3">SCREEN X</div>
                <div class="d-md-flex">
                    <div class="mr-md-4 mb-md-0 mb-4"><img src="/images/tmp/theater/facility/facility_scx.jpg"></div>
                    <div>
                        <p><a href="/screen-x/">SCREEN X</a></p>
                        <p>ScreenXは従来の正面スクリーンに加え、左右の壁面にも映画のシーンが映し出される世界初のマルチプロジェクション映画上映システムです。<br>目の前の視界いっぱいに270度まで広がる3面ワイドスクリーンはまるで映画に包み込まれるような感覚を与え、深い没入感を味わうことができます。</p>
                    </div>
                </div>
            </div>
        <div class="py-3 border-bottom">
            <div class="font-weight-bold mb-3">音響設備</div>
            <div class="d-md-flex">
                <div class="mr-md-4 mb-md-0 mb-4"><img src="/images/tmp/theater/facility/facility_dolby.jpg"></div>
                <div>
                    <p>DOLBY ATMOS</p>
                    <p>ドルビー社の最新音響システム“ドルビーアトモス”は、自然でリアルな音場を実現し、より感覚を刺激する映画体験を可能にします。<br>スクリーン前までサイド・サラウンド・スピーカーを設置することで客席を360°取り囲み、音の移動がスムーズに感じられます。<br>さらに天井にもサラウンド・スピーカーを設置することで、これまでにないシネマサウンドをご体験いただけます。</p>
                </div>
            </div>
        </div>
    </div>
</div>
