<div class="mb-5">
    <h2 class="font-weight-bold large text-center text-md-left mb-4 mt-2">劇場施設＆サービス</h2>
    <h3 class="mb-3">シネマサンシャイン下関の設備一覧</h3>
    <div class="mb-4">
        <table class="table table-striped small border-bottom">
            <thead>
                <tr>
                    <td scope="col" class="w-25 ">スクリーン</td>
                    <td scope="col" class="w-25">座席(車椅子)</td>
                    <td scope="col" class="w-25">音響システム</td>
                    <td scope="col" class="w-25">スクリーンサイズ</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">シネマ1</td>
                    <td>104(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W7.55m×H4.22m</td>
                    <td class="d-md-none">W7.55m<br>H4.22m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ2</td>
                    <td>104(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W7.55m×H4.22m</td>
                    <td class="d-md-none">W7.55m<br>H4.22m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ3</td>
                    <td>95(1)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W7.1m×H3.98m</td>
                    <td class="d-md-none">W7.1m<br>H3.98m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ4</td>
                    <td>50(1)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W5.5m×H3.11m</td>
                    <td class="d-md-none">W5.5m<br>H3.11m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ5</td>
                    <td>201(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W11.7m×H6.46m</td>
                    <td class="d-md-none">W11.7m<br>H6.46m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ6</td>
                    <td>302(2)</td>
                    <td>デジタル<br class="d-md-none">6ch（DOLBY <br class="d-md-none">ATMOS）</td>
                    <td class="d-md-block d-none">W11.7m×H6.46m</td>
                    <td class="d-md-none">W11.7m<br>H6.46m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ7</td>
                    <td>141(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W8.1m×H4.52m</td>
                    <td class="d-md-none">W8.1m<br>H4.52m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ8</td>
                    <td>106(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W7.65m×H4.27m</td>
                    <td class="d-md-none">W7.65m<br>H4.27m</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="special-facility">
        <div class="py-3 border-bottom">
            <div class="font-weight-bold mb-3">3D上映</div>
            <div class="d-md-flex">
                <div class="mr-md-4 mb-md-0 mb-4"><img src="/images/tmp/theater/facility/facility_01.jpg"></div>
                <div>
                    <p><a href="#">XPAND</a></p>
                    <p>当劇場は3DシステムとしてXPANDを採用しております。<br>通常の鑑賞料金プラス400円で3D作品をご鑑賞頂けます。</p>
                </div>
            </div>
        </div>
        <div class="py-3 border-bottom">
            {# <div class="font-weight-bold mb-3"></div> #}
            <div class="d-md-flex">
                <div class="mr-md-4 mb-md-0 mb-4"><img src="/images/tmp/theater/facility/facility_01.jpg"></div>
                <div>
                    <p><a href="#">dts-X&trade;</a></p>
                    <p>DTS:X&trade;は、チャンネルではなく、オブジェクトをベースにしたオーディオフォーマットです。オブジェクトベースによって自然な音場を形成する事で、よりリアルな音響空間が再現されます。<br>更にサウンドがシアター内を縦横無尽に動き回り、観客を包み込むような新次元サラウンドの体験を実現可能にします。</p>
                </div>
            </div>
        </div>
        <div class="py-3 border-bottom">
            {# <div class="font-weight-bold mb-3">4DX&reg;</div> #}
            <div class="d-md-flex">
                <div class="mr-md-4 mb-md-0 mb-4"><img src="/images/tmp/theater/facility/facility_01.jpg"></div>
                <div>
                    <p><a href="#">DOLBY ATMOS</a></p>
                    <p>ドルビー社の最新音響システム“ドルビーアトモス”は、自然でリアルな音場を実現し、より感覚を刺激する映画体験を可能にします。<br>スクリーン前までサイド・サラウンド・スピーカーを設置することで客席を360°取り囲み、音の移動がスムーズに感じられます。<br>さらに天井にもサラウンド・スピーカーを設置することで、これまでにないシネマサウンドをご体験いただけます。</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="width mx-auto news">
    <h3 class="font-weight-bold large mb-4 text-center text-md-left">シネマサンシャイン下関の劇場サービス</h3>
    <div class="container w-100 mw-100 m-0 mb-4 px-1">
        <ul class="row mb-0">
            <li class="col-md-3 col-6 py-2 mb-4">
                <a href="#" class="d-block">
                    <div class="border mb-2 image border-gray" style="background-image: url(/images/tmp/theater/facility/facility_02.jpg)"></div>
                    <p class="mb-0"><span class="font-weight-bold">e-box</span><br>当館はe-boxによるインターネットチケット購入に対応しております</p>
                </a>
            </li>
            <li class="col-md-3 col-6 py-2 mb-4">
                <a href="#" class="d-block">
                    <div class="border mb-2 image border-gray" style="background-image: url(/images/tmp/theater/facility/facility_02.jpg)"></div>
                    <p class="mb-0"><span class="font-weight-bold">特別鑑賞券</span><br>シネマサンシャイン全館でご利用頂ける特別鑑賞券絶賛販売中！</p>
                </a>
            </li>
            <li class="col-md-3 col-6 py-2 mb-4">
                <a href="#" class="d-block">
                    <div class="border mb-2 image border-gray" style="background-image: url(/images/tmp/theater/facility/facility_02.jpg)"></div>
                    <p class="mb-0"><span class="font-weight-bold">ムビチケ</span><br>オンラインで購入して座席予約できる電子前売券</p>
                </a>
            </li>
            <li class="col-md-3 col-6 py-2 mb-4">
                <a href="#" class="d-block">
                    <div class="border mb-2 image border-gray" style="background-image: url(/images/tmp/theater/facility/facility_02.jpg)"></div>
                    <p class="mb-0"><span class="font-weight-bold">メールマガジン</span><br>お得な情報がいっぱいの無料メール配信サービス</p>
                </a>
            </li>
        </ul>
    </div>
</div>