<div class="mb-5">
    <h2 class="font-weight-bold large text-center text-md-left mb-4 mt-2">劇場施設＆サービス</h2>
    <h3 class="mb-3">シネマサンシャイン土浦の設備一覧</h3>
    <div class="mb-4">
        <table class="table table-striped small border-bottom">
            <thead>
                <tr>
                    <td scope="col" class="w-25 ">スクリーン</td>
                    <td scope="col" class="w-25">座席(車椅子)</td>
                    <td scope="col" class="w-25">音響システム</td>
                    <td scope="col" class="w-25">スクリーンサイズ</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">IMAX</td>
                    <td>257(2)</td>
                    <td>IMAX<br class="d-md-none">デジタル<br class="d-md-none">サウンド</td>
                    <td>IMAX</td>
                </tr>
                <tr>
                    <td scope="row">シネマ2</td>
                    <td>153(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W10.9m×H4.5m</td>
                    <td class="d-md-none">W10.9m<br>H4.5m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ3</td>
                    <td>148(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W9.4m×H3.9m</td>
                    <td class="d-md-none">W9.4m<br>H3.9m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ4</td>
                    <td>115(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W7.7m×H4.1m</td>
                    <td class="d-md-none">W7.7m<br>H4.1m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ5</td>
                    <td>137(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W8.3m×H4.5m</td>
                    <td class="d-md-none">W8.3m<br>H4.5m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ6</td>
                    <td>106(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W7.1m×H3.8m</td>
                    <td class="d-md-none">W7.1m<br>H3.8m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ7</td>
                    <td>106(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W7.1m×H3.8m</td>
                    <td class="d-md-none">W7.1m<br>H3.8m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ8</td>
                    <td>205(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W10.8m×H4.5m</td>
                    <td class="d-md-none">W10.8m<br>H4.5m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ9</td>
                    <td>205(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W10.8m×H4.5m</td>
                    <td class="d-md-none">W10.8m<br>H4.5m</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="special-facility">
        <div class="py-3 border-bottom">
            <div class="font-weight-bold mb-3">IMAX</div>
            <div class="d-md-flex">
                <div class="mr-md-4 mb-md-0 mb-4"><img src="/images/tmp/theater/facility/facility_01.jpg"></div>
                <div>
                    <p><a href="#">IMAXデジタルシアター</a></p>
                    <p>IMAXデジタルシアターで、世界を揺るがす驚異の臨場感を体感せよ！</p>
                </div>
            </div>
        </div>
        <div class="py-3 border-bottom">
            <div class="font-weight-bold mb-3">3D上映</div>
            <div class="d-md-flex">
                <div class="mr-md-4 mb-md-0 mb-4"><img src="/images/tmp/theater/facility/facility_01.jpg"></div>
                <div>
                    <p><a href="#">XPAND</a></p>
                    <p>当劇場は3DシステムとしてXPANDを採用しております。<br>通常の鑑賞料金プラス400円で3D作品をご鑑賞頂けます。</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="width mx-auto news">
    <h3 class="font-weight-bold large mb-4 text-center text-md-left">シネマサンシャイン土浦の劇場サービス</h3>
    <div class="container w-100 mw-100 m-0 mb-4 px-1">
        <ul class="row mb-0">
            <li class="col-md-3 col-6 py-2 mb-4">
                <a href="#" class="d-block">
                    <div class="border mb-2 image border-gray" style="background-image: url(/images/tmp/theater/facility/facility_02.jpg)"></div>
                    <p class="mb-0"><span class="font-weight-bold">e-box</span><br>当館はe-boxによるインターネットチケット購入に対応しております</p>
                </a>
            </li>
            <li class="col-md-3 col-6 py-2 mb-4">
                <a href="#" class="d-block">
                    <div class="border mb-2 image border-gray" style="background-image: url(/images/tmp/theater/facility/facility_02.jpg)"></div>
                    <p class="mb-0"><span class="font-weight-bold">特別鑑賞券</span><br>シネマサンシャイン全館でご利用頂ける特別鑑賞券絶賛販売中！</p>
                </a>
            </li>
            <li class="col-md-3 col-6 py-2 mb-4">
                <a href="#" class="d-block">
                    <div class="border mb-2 image border-gray" style="background-image: url(/images/tmp/theater/facility/facility_02.jpg)"></div>
                    <p class="mb-0"><span class="font-weight-bold">ムビチケ</span><br>オンラインで購入して座席予約できる電子前売券</p>
                </a>
            </li>
            <li class="col-md-3 col-6 py-2 mb-4">
                <a href="#" class="d-block">
                    <div class="border mb-2 image border-gray" style="background-image: url(/images/tmp/theater/facility/facility_02.jpg)"></div>
                    <p class="mb-0"><span class="font-weight-bold">メールマガジン</span><br>お得な情報がいっぱいの無料メール配信サービス</p>
                </a>
            </li>
        </ul>
        <ul class="row">
            <li class="col-md-3 col-6 py-2 mb-4">
                <a href="http://www.facebook.com/pages/%E3%82%B7%E3%83%8D%E3%83%9E%E3%82%B5%E3%83%B3%E3%82%B7%E3%83%A3%E3%82%A4%E3%83%B3%E5%9C%9F%E6%B5%A6/340536766033858" targer="_blank" class="d-block">
                    <div class="border mb-2 image border-gray" style="background-image: url(/images/tmp/theater/facility/facility_02.jpg)"></div>
                    <p class="mb-0"><span class="font-weight-bold">facebook</span><br>当劇場のFacebookに「いいね！」を押して最新情報をゲット！</p>
                </a>
            </li>
            <li class="col-md-3 col-6 py-2 mb-4">
                <a href="http://twitter.com/cs_tsuchiura" target="_blank" class="d-block">
                    <div class="border mb-2 image border-gray" style="background-image: url(/images/tmp/theater/facility/facility_02.jpg)"></div>
                    <p class="mb-0"><span class="font-weight-bold">Twitter</span><br>当劇場のTwitterをフォローして最新情報をゲット！</p>
                </a>
            </li>
        </ul>
    </div>
</div>