<div class="mb-5">
    <h2 class="font-weight-bold large text-center text-md-left mb-4 mt-2">劇場施設＆サービス</h2>
    <h3 class="mb-3">シネマサンシャイン土浦の設備一覧</h3>
    <div class="mb-4">
        <table class="table table-striped small border-bottom">
            <thead>
                <tr>
                    <td scope="col" class="w-25 ">スクリーン</td>
                    <td scope="col" class="w-25">座席(車椅子)</td>
                    <td scope="col" class="w-25">音響システム</td>
                    <td scope="col" class="w-25">スクリーンサイズ</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">IMAX</td>
                    <td>257(2)</td>
                    <td>IMAX<br class="d-md-none">デジタル<br class="d-md-none">サウンド</td>
                    <td>IMAX</td>
                </tr>
                <tr>
                    <td scope="row">シネマ2</td>
                    <td>153(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W10.9m×H4.5m</td>
                    <td class="d-md-none">W10.9m<br>H4.5m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ3</td>
                    <td>148(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W9.4m×H3.9m</td>
                    <td class="d-md-none">W9.4m<br>H3.9m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ4</td>
                    <td>115(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W7.7m×H4.1m</td>
                    <td class="d-md-none">W7.7m<br>H4.1m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ5</td>
                    <td>137(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W8.3m×H4.5m</td>
                    <td class="d-md-none">W8.3m<br>H4.5m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ6</td>
                    <td>106(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W7.1m×H3.8m</td>
                    <td class="d-md-none">W7.1m<br>H3.8m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ7</td>
                    <td>106(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W7.1m×H3.8m</td>
                    <td class="d-md-none">W7.1m<br>H3.8m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ8</td>
                    <td>205(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W10.8m×H4.5m</td>
                    <td class="d-md-none">W10.8m<br>H4.5m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ9</td>
                    <td>205(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W10.8m×H4.5m</td>
                    <td class="d-md-none">W10.8m<br>H4.5m</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="special-facility">
        <div class="py-3 border-bottom">
            <div class="font-weight-bold mb-3">IMAX</div>
            <div class="d-md-flex">
                <div class="mr-md-4 mb-md-0 mb-4"><img src="/images/tmp/theater/facility/facility_imax.jpg"></div>
                <div>
                    <p><a href="{{ path_for('imax') }}">IMAXデジタルシアター</a></p>
                    <p>IMAXデジタルシアターで、世界を揺るがす驚異の臨場感を体感せよ！</p>
                </div>
            </div>
        </div>
        <div class="py-3 border-bottom">
            <div class="font-weight-bold mb-3">3D上映</div>
            <div class="d-md-flex">
                <div class="mr-md-4 mb-md-0 mb-4"><img src="/images/tmp/theater/facility/facility_xpand.jpg"></div>
                <div>
                    <p>XPAND</p>
                    <p>当劇場は3DシステムとしてXPANDを採用しております。<br>通常の鑑賞料金プラス500円で3D作品をご鑑賞頂けます。</p>
                </div>
            </div>
        </div>
    </div>
</div>