<div class="mb-5">
    <h2 class="font-weight-bold large text-center text-md-left mb-4 mt-2">劇場設備</h2>
    <h3 class="mb-3">シネマサンシャイン大和郡山の設備一覧</h3>
    <div class="mb-4">
        <table class="table table-striped small border-bottom">
            <thead>
                <tr>
                    <td scope="col" class="w-25 ">スクリーン</td>
                    <td scope="col" class="w-25">座席(車椅子)</td>
                    <td scope="col" class="w-25">音響システム</td>
                    <td scope="col" class="w-25">スクリーンサイズ</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">シネマ1</td>
                    <td>137(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W9.6m×H5.1m</td>
                    <td class="d-md-none">W9.6m<br>H5.1m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ2</td>
                    <td>165(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W9.6m×H5.1m</td>
                    <td class="d-md-none">W9.6m<br>H5.1m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ3</td>
                    <td>279(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W12.9m×H7.0m</td>
                    <td class="d-md-none">W12.9m<br>H7.0m</td>
                </tr>
                <tr>
                    <td scope="row">IMAX</td>
                    <td>372(2)</td>
                    <td>12ch sound system</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td scope="row">シネマ5</td>
                    <td>204(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W12.0m×H6.5m</td>
                    <td class="d-md-none">W12.0m<br>H6.5m</td>
                </tr>
                <tr>
                    <td scope="row">4DX<br class="d-md-none">シアター</td>
                    <td>48(-)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W7.1m×H3.8m</td>
                    <td class="d-md-none">W7.1m<br>H3.8m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ7</td>
                    <td>138(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W9.8m×H5.3m</td>
                    <td class="d-md-none">W9.8m<br>H5.3m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ8</td>
                    <td>95(1)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W7.1m×H3.8m</td>
                    <td class="d-md-none">W7.1m<br>H3.8m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ9</td>
                    <td>95(1)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W7.1m×H3.8m</td>
                    <td class="d-md-none">W7.1m<br>H3.8m</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="special-facility">
        <div class="py-3 border-bottom">
            <div class="font-weight-bold mb-3">IMAX&reg;</div>
            <div class="d-md-flex">
                <div class="mr-md-4 mb-md-0 mb-4"><img src="/images/tmp/theater/facility/facility_imax_laser1.jpg"></div>
                <div>
                    <p><a href="{{ path_for('imax') }}">IMAX&reg;レーザー</a></p>
                    <p>革新的な4Kレーザー投影システムを採用し、より鮮やかで明るく、深みあるコントラストの超高解像度映像を実現。IMAXならではの大スクリーンに映し出すことで、従来とは一線を画す劇的な体験をもたらします。さらに12chサウンドシステムを採用。圧倒的な臨場感で客席を包みます。</p>
                    <small class="x-small">IMAX&reg; is a registered trademark of IMAX Corporation.</small>
                </div>
            </div>
        </div>
        <div class="py-3 border-bottom">
            <div class="font-weight-bold mb-3">4DX</div>
            <div class="d-md-flex">
                <div class="mr-md-4 mb-md-0 mb-4"><img src="/images/tmp/theater/facility/facility_4dx.jpg"></div>
                <div>
                    <p><a href="{{ path_for('4dx') }}">4DXシアター</a></p>
                    <p>3Dの先の次元の4D技術の概念に則り多様な機能を搭載した最新上映システム。上映作品の様々なシーン・シチュエーションと連動した座席可動・ミスト・香り・フラッシュ・バブル・煙など19のエフェクトにより、劇中の登場人物になったような一体感を得ることができます。通所の鑑賞料金プラス1,000円で4DX作品をご鑑賞頂けます。</p>
                </div>
            </div>
        </div>
        <div class="py-3 border-bottom">
            <div class="font-weight-bold mb-3">3D上映</div>
            <div class="d-md-flex">
                <div class="mr-md-4 mb-md-0 mb-4"><img src="/images/tmp/theater/facility/facility_masterimage.jpg"></div>
                <div>
                    <p>masterimage</p>
                    <p>当劇場は3Dシステムとしてmasterimageを採用しております。<br>通常の鑑賞料金プラス400円で3D作品をご鑑賞頂けます。<br>3Dメガネ（MASTER IMAGE用）はお持ち帰り頂けます。<br>次回鑑賞時にお持ち頂ければ、3D鑑賞料金を100円引き（3D鑑賞料金400円→300円）させて頂きます。</p>
                </div>
            </div>
        </div>
    </div>
</div>
