<div class="mb-5">
    <h2 class="font-weight-bold large text-center text-md-left mb-4 mt-2">劇場施設＆サービス</h2>
    <h3 class="mb-3">シネマサンシャインユーカリが丘の設備一覧</h3>
    <div class="mb-4">
        <table class="table table-striped small border-bottom">
            <thead>
                <tr>
                    <td scope="col" class="w-25 ">スクリーン</td>
                    <td scope="col" class="w-25">座席(車椅子)</td>
                    <td scope="col" class="w-25">音響システム</td>
                    <td scope="col" class="w-25">スクリーンサイズ</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">シネマ1</td>
                    <td>182(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W11.41m×H4.73m</td>
                    <td class="d-md-none">W11.41m<br>H4.73m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ2</td>
                    <td>121(1)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W8.01m×H4.54m</td>
                    <td class="d-md-none">W8.01m<br>H4.54m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ3</td>
                    <td>148(1)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W9.48m×H5.06m</td>
                    <td class="d-md-none">W9.48m<br>H5.06m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ4</td>
                    <td>105(1)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W7.35m×H3.95m</td>
                    <td class="d-md-none">W7.35m<br>H3.95m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ5</td>
                    <td>102(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W8.29m×H4.46m</td>
                    <td class="d-md-none">W8.29m<br>H4.46m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ6</td>
                    <td>158(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W9.8m×H5.16m</td>
                    <td class="d-md-none">W9.8m<br>H5.16m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ7</td>
                    <td>84(1)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W6.89m×H3.84m</td>
                    <td class="d-md-none">W6.89m<br>H3.84m</td>
                </tr>
                <tr>
                    <td scope="row">シネマ8</td>
                    <td>346(2)</td>
                    <td>デジタル<br class="d-md-none">6ch</td>
                    <td class="d-md-block d-none">W13.8m×H5.77m</td>
                    <td class="d-md-none">W13.8m<br>H5.77m</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="special-facility">
        <div class="py-3 border-bottom">
            <div class="font-weight-bold mb-3">3D上映</div>
            <div class="d-md-flex">
                <div class="mr-md-4 mb-md-0 mb-4"><img src="/images/tmp/theater/facility/facility_01.jpg"></div>
                <div>
                    <p><a href="#">XPAND</a></p>
                    <p>当劇場は3DシステムとしてXPANDを採用しております。<br>通常の鑑賞料金プラス400円で3D作品をご鑑賞頂けます。</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="width mx-auto news">
    <h3 class="font-weight-bold large mb-4 text-center text-md-left">シネマサンシャイン平和島の劇場サービス</h3>
    <div class="container w-100 mw-100 m-0 mb-4 px-1">
        <ul class="row mb-0">
            <li class="col-md-3 col-6 py-2 mb-4">
                <a href="#" class="d-block">
                    <div class="border mb-2 image border-gray" style="background-image: url(/images/tmp/theater/facility/facility_02.jpg)"></div>
                    <p class="mb-0"><span class="font-weight-bold">e-box</span><br>当館はe-boxによるインターネットチケット購入に対応しております</p>
                </a>
            </li>
            <li class="col-md-3 col-6 py-2 mb-4">
                <a href="#" class="d-block">
                    <div class="border mb-2 image border-gray" style="background-image: url(/images/tmp/theater/facility/facility_02.jpg)"></div>
                    <p class="mb-0"><span class="font-weight-bold">特別鑑賞券</span><br>シネマサンシャイン全館でご利用頂ける特別鑑賞券絶賛販売中！</p>
                </a>
            </li>
            <li class="col-md-3 col-6 py-2 mb-4">
                <a href="#" class="d-block">
                    <div class="border mb-2 image border-gray" style="background-image: url(/images/tmp/theater/facility/facility_02.jpg)"></div>
                    <p class="mb-0"><span class="font-weight-bold">ムビチケ</span><br>オンラインで購入して座席予約できる電子前売券</p>
                </a>
            </li>
            <li class="col-md-3 col-6 py-2 mb-4">
                <a href="#" class="d-block">
                    <div class="border mb-2 image border-gray" style="background-image: url(/images/tmp/theater/facility/facility_02.jpg)"></div>
                    <p class="mb-0"><span class="font-weight-bold">メールマガジン</span><br>お得な情報がいっぱいの無料メール配信サービス</p>
                </a>
            </li>
        </ul>
        <ul class="row">
            <li class="col-md-3 col-6 py-2 mb-4">
                <a href="https://mobile.twitter.com/cs_yukarigaoka" target="_blank" class="d-block">
                    <div class="border mb-2 image border-gray" style="background-image: url(/images/tmp/theater/facility/facility_02.jpg)"></div>
                    <p class="mb-0"><span class="font-weight-bold">Twitter</span><br>当劇場のTwitterをフォローして最新情報をゲット！</p>
                </a>
            </li>
        </ul>
    </div>
</div>