{% extends "4dx/layout.html.twig" %}

{% block css %}
<link href="/css/theaters.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
{% include '4dx/include/navbar.html.twig' with {
    active: 'theater'
} only %}
{% endblock %}

{% block contents %}
<div class="breadcrumb-list d-none d-md-block small width mx-auto mb-5 px-2 text-white">
    <a class="text-white" href="{{ path_for('homepage') }}">ホーム</a>
    <span class="font-weight-bold bg-black mx-md-3 h-100"> | </span>
    <a class="text-white" href="{{ path_for('4dx') }}">4DX</a>
    <span class="font-weight-bold mx-2"> | </span>
    <span>劇場情報<span>
</div>

<div class="width mx-auto mb-3 px-2 text-white">
    <h2 class="font-weight-bold large text-center text-md-left mb-4">劇場情報</h2>
    <ul>
        
        <li class="bg-black px-2 py-3 mb-3">
            <h3 class="text-center text-md-left mb-3">シネマサンシャイン平和島</h3>
            <div class="mb-3">
                <img class="w-100" src="/images/4dx/theater/heiwajima_img.jpg">
            </div>
            <table class="mb-3 w-100 theater-table small">
                <tbody>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">劇場名</th>
                        <td class="border border-black p-2 bg-light-gray text-black">シネマサンシャイン平和島</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">住所</th>
                        <td class="border border-black p-2 bg-light-gray text-black">東京都大田区平和島1-1-1 ビッグファン平和島４Ｆ</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">TEL</th>
                        <td class="border border-black p-2 bg-light-gray text-black">03-5764-8803</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">スクリーン数</th>
                        <td class="border border-black p-2 bg-light-gray text-black">7スクリーン</td>
                    </tr>
                </tbody>
            </table>

            <h4 class="mb-3">スクリーン情報</h4>

            <table class="mb-3 w-100 screen-table small">
                <thead>
                    <tr>
                        <th class="border border-black p-2 bg-gray">スクリーン名</th>
                        <td class="border border-black p-2 bg-gray">観客数 / 車椅子</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">アメイジング・サウンドシアター</th>
                        <td class="border border-black p-2 bg-light-gray text-black">289席 / 2</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">4DX&reg;シアター</th>
                        <td class="border border-black p-2 bg-light-gray text-black">128席</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">シネマ3</th>
                        <td class="border border-black p-2 bg-light-gray text-black">143席 / 2</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">シネマ4</th>
                        <td class="border border-black p-2 bg-light-gray text-black">380席 / 2</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">シネマ5</th>
                        <td class="border border-black p-2 bg-light-gray text-black">106席 / 2</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">シネマ6</th>
                        <td class="border border-black p-2 bg-light-gray text-black">106席 / 2</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">シネマ7</th>
                        <td class="border border-black p-2 bg-light-gray text-black">143席 / 2</td>
                    </tr>
                </tbody>
            </table>
            <div class="theater-button mx-auto">
                <a href="../theater/heiwajima" class="d-block text-center bg-dark-red text-white py-3">平和島劇場TOP</a>
            </div>
        </li>
        
        <li class="bg-black px-2 py-3 mb-3">
            <h3 class="text-center text-md-left mb-3">シネマサンシャイン沼津</h3>
            <div class="mb-3">
                <img class="w-100" src="/images/4dx/theater/numazu_img.jpg">
            </div>
            <table class="mb-3 w-100 theater-table small">
                <tbody>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">劇場名</th>
                        <td class="border border-black p-2 bg-light-gray text-black">シネマサンシャイン沼津</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">住所</th>
                        <td class="border border-black p-2 bg-light-gray text-black">静岡県沼津市大手町1-1-5 BiVi沼津4F</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">TEL</th>
                        <td class="border border-black p-2 bg-light-gray text-black">055-926-7712</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">スクリーン数</th>
                        <td class="border border-black p-2 bg-light-gray text-black">8スクリーン</td>
                    </tr>
                </tbody>
            </table>

            <h4 class="mb-3">スクリーン情報</h4>

            <table class="mb-3 w-100 screen-table small">
                <thead>
                    <tr>
                        <th class="border border-black p-2 bg-gray">スクリーン名</th>
                        <td class="border border-black p-2 bg-gray">観客数 / 車椅子</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">シネマ1</th>
                        <td class="border border-black p-2 bg-light-gray text-black">157席 / 1</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">4DX&reg;シアター</th>
                        <td class="border border-black p-2 bg-light-gray text-black">120席</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">シネマ3</th>
                        <td class="border border-black p-2 bg-light-gray text-black">144席 / 1</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">シネマ4</th>
                        <td class="border border-black p-2 bg-light-gray text-black">298席 / 2</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">シネマ5</th>
                        <td class="border border-black p-2 bg-light-gray text-black">124席 / 1</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">シネマ6</th>
                        <td class="border border-black p-2 bg-light-gray text-black">124席 / 1</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">シネマ7</th>
                        <td class="border border-black p-2 bg-light-gray text-black">81席 / 1</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">シネマ8</th>
                        <td class="border border-black p-2 bg-light-gray text-black">91席 / 1</td>
                    </tr>
                </tbody>
            </table>
            <div class="theater-button mx-auto">
                <a href="../theater/numazu" class="d-block text-center bg-dark-red text-white py-3">沼津劇場TOP</a>
            </div>
        </li>

        <li class="bg-black px-2 py-3 mb-3">
            <h3 class="text-center text-md-left mb-3">シネマサンシャイン大和郡山</h3>
            <div class="mb-3">
                <img class="w-100" src="/images/4dx/theater/yamatokoriyama_img.jpg">
            </div>
            <table class="mb-3 w-100 theater-table small">
                <tbody>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">劇場名</th>
                        <td class="border border-black p-2 bg-light-gray text-black">シネマサンシャイン大和郡山</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">住所</th>
                        <td class="border border-black p-2 bg-light-gray text-black">奈良県大和郡山市下三橋町741 イオンモール大和郡山3F</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">TEL</th>
                        <td class="border border-black p-2 bg-light-gray text-black">0743-58-5111</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">スクリーン数</th>
                        <td class="border border-black p-2 bg-light-gray text-black">9スクリーン</td>
                    </tr>
                </tbody>
            </table>

            <h4 class="mb-3">スクリーン情報</h4>

            <table class="mb-3 w-100 screen-table small">
                <thead>
                    <tr>
                        <th class="border border-black p-2 bg-gray">スクリーン名</th>
                        <td class="border border-black p-2 bg-gray">観客数 / 車椅子</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">シネマ1</th>
                        <td class="border border-black p-2 bg-light-gray text-black">137席 / 2</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">シネマ2</th>
                        <td class="border border-black p-2 bg-light-gray text-black">165席 / 2</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">シネマ3</th>
                        <td class="border border-black p-2 bg-light-gray text-black">279席 / 2</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">IMAX&reg;</th>
                        <td class="border border-black p-2 bg-light-gray text-black">378席 / 2</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">シネマ5</th>
                        <td class="border border-black p-2 bg-light-gray text-black">204席 / 2</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">4DX&reg;シアター</th>
                        <td class="border border-black p-2 bg-light-gray text-black">48席</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">シネマ7</th>
                        <td class="border border-black p-2 bg-light-gray text-black">138席 / 2</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">シネマ8</th>
                        <td class="border border-black p-2 bg-light-gray text-black">95席 / 1</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">シネマ9</th>
                        <td class="border border-black p-2 bg-light-gray text-black">95席 / 1</td>
                    </tr>
                </tbody>
            </table>
            <div class="theater-button mx-auto">
                <a href="../theater/yamatokoriyama" class="d-block text-center bg-dark-red text-white py-3">大和郡山劇場TOP</a>
            </div>
        </li>
        
        <li class="bg-black px-2 py-3 mb-3">
            <h3 class="text-center text-md-left mb-3">シネマサンシャインエミフルMASAKI</h3>
            <div class="mb-3">
                <img class="w-100" src="/images/4dx/theater/masaki_img.jpg">
            </div>
            <table class="mb-3 w-100 theater-table small">
                <tbody>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">劇場名</th>
                        <td class="border border-black p-2 bg-light-gray text-black">シネマサンシャインエミフルMASAKI</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">住所</th>
                        <td class="border border-black p-2 bg-light-gray text-black">愛媛県伊予郡松前町筒井850番 エミフルMASAKIアミューズ棟2Ｆ</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">TEL</th>
                        <td class="border border-black p-2 bg-light-gray text-black">089-984-2211</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">スクリーン数</th>
                        <td class="border border-black p-2 bg-light-gray text-black">9スクリーン</td>
                    </tr>
                </tbody>
            </table>

            <h4 class="mb-3">スクリーン情報</h4>

            <table class="mb-3 w-100 screen-table small">
                <thead>
                    <tr>
                        <th class="border border-black p-2 bg-gray">スクリーン名</th>
                        <td class="border border-black p-2 bg-gray">観客数 / 車椅子</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">シネマ1</th>
                        <td class="border border-black p-2 bg-light-gray text-black">119席 / 2</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">シネマ2</th>
                        <td class="border border-black p-2 bg-light-gray text-black">200席 / 2</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">シネマ3</th>
                        <td class="border border-black p-2 bg-light-gray text-black">153席 / 2</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">シネマ4</th>
                        <td class="border border-black p-2 bg-light-gray text-black">153席 / 2</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">シネマ5</th>
                        <td class="border border-black p-2 bg-light-gray text-black">153席 / 2</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">シネマ6</th>
                        <td class="border border-black p-2 bg-light-gray text-black"> 153席 / 2</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">シネマ7</th>
                        <td class="border border-black p-2 bg-light-gray text-black">338席 / 2</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">4DX&reg;シアター</th>
                        <td class="border border-black p-2 bg-light-gray text-black">128席</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">シネマ9</th>
                        <td class="border border-black p-2 bg-light-gray text-black">119席 / 2</td>
                    </tr>
                </tbody>
            </table>
            <div class="theater-button mx-auto">
                <a href="../theater/masaki" class="d-block text-center bg-dark-red text-white py-3">エミフルMASAKI劇場TOP</a>
            </div>
        </li>
        
        <li class="bg-black px-2 py-3 mb-3">
            <h3 class="text-center text-md-left mb-3">シネマサンシャイン北島</h3>
            <div class="mb-3">
                <img class="w-100" src="/images/4dx/theater/kitajima_img.jpg">
            </div>
            <table class="mb-3 w-100 theater-table small">
                <tbody>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">劇場名</th>
                        <td class="border border-black p-2 bg-light-gray text-black">シネマサンシャイン北島</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">住所</th>
                        <td class="border border-black p-2 bg-light-gray text-black">徳島県板野郡北島町鯛浜字西ノ須174 フジグラン北島3F</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">TEL</th>
                        <td class="border border-black p-2 bg-light-gray text-black">088-697-3113</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">スクリーン数</th>
                        <td class="border border-black p-2 bg-light-gray text-black">8スクリーン</td>
                    </tr>
                </tbody>
            </table>

            <h4 class="mb-3">スクリーン情報</h4>

            <table class="mb-3 w-100 screen-table small">
                <thead>
                    <tr>
                        <th class="border border-black p-2 bg-gray">スクリーン名</th>
                        <td class="border border-black p-2 bg-gray">観客数 / 車椅子</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">シネマ1</th>
                        <td class="border border-black p-2 bg-light-gray text-black">101席 / 1</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">4DX&reg;シアター</th>
                        <td class="border border-black p-2 bg-light-gray text-black">96席</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">シネマ3</th>
                        <td class="border border-black p-2 bg-light-gray text-black">197席 / 2</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">シネマ4</th>
                        <td class="border border-black p-2 bg-light-gray text-black">269席 / 2</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">シネマ5</th>
                        <td class="border border-black p-2 bg-light-gray text-black">298席 / 2</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">シネマ6</th>
                        <td class="border border-black p-2 bg-light-gray text-black">143席 / 2</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">シネマ7</th>
                        <td class="border border-black p-2 bg-light-gray text-black">84席 / 1</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">シネマ8</th>
                        <td class="border border-black p-2 bg-light-gray text-black">84席 / 1</td>
                    </tr>
                </tbody>
            </table>
            <div class="theater-button mx-auto">
                <a href="../theater/kitajima" class="d-block text-center bg-dark-red text-white py-3">北島劇場TOP</a>
            </div>
        </li>
        <li class="bg-black px-2 py-3 mb-3">
            <h3 class="text-center text-md-left mb-3">シネマサンシャイン姶良</h3>
            <div class="mb-3">
                <img class="w-100" src="/images/4dx/theater/aira_img.jpg">
            </div>
            <table class="mb-3 w-100 theater-table small">
                <tbody>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">劇場名</th>
                        <td class="border border-black p-2 bg-light-gray text-black">シネマサンシャイン姶良</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">住所</th>
                        <td class="border border-black p-2 bg-light-gray text-black">鹿児島県姶良市東餅田336(イオンタウン姶良 東街区3F)</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">TEL</th>
                        <td class="border border-black p-2 bg-light-gray text-black">0995-55-0333</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">スクリーン数</th>
                        <td class="border border-black p-2 bg-light-gray text-black">9スクリーン</td>
                    </tr>
                </tbody>
            </table>

            <h4 class="mb-3">スクリーン情報</h4>

            <table class="mb-3 w-100 screen-table small">
                <thead>
                    <tr>
                        <th class="border border-black p-2 bg-gray">スクリーン名</th>
                        <td class="border border-black p-2 bg-gray">観客数 / 車椅子</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">シネマ1</th>
                        <td class="border border-black p-2 bg-light-gray text-black">250席 / 2</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">シネマ2</th>
                        <td class="border border-black p-2 bg-light-gray text-black">155席 / 2</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">シネマ3</th>
                        <td class="border border-black p-2 bg-light-gray text-black">81席 / 2</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">シネマ4</th>
                        <td class="border border-black p-2 bg-light-gray text-black">81席 / 2</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">BESTIA</th>
                        <td class="border border-black p-2 bg-light-gray text-black">301席 / 2</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">4DX&reg;シアター</th>
                        <td class="border border-black p-2 bg-light-gray text-black">92席</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">シネマ7</th>
                        <td class="border border-black p-2 bg-light-gray text-black">104席 / 2</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">シネマ8</th>
                        <td class="border border-black p-2 bg-light-gray text-black">104席 / 2</td>
                    </tr>
                    <tr>
                        <th class="border border-black p-2 bg-dark-gray">シネマ9</th>
                        <td class="border border-black p-2 bg-light-gray text-black">104席 / 2</td>
                    </tr>
                </tbody>
            </table>
            <div class="theater-button mx-auto">
                <a href="../theater/aira" class="d-block text-center bg-dark-red text-white py-3">姶良劇場TOP</a>
            </div>
        </li>
        
    </ul>
</div>
{% endblock %}