<img id="news-4dx-inview" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
<div id="news-4dx" class="width mx-auto mb-5 px-3 news news-4dx pjack-bg d-none">
    <div class="d-md-flex mb-4 align-items-center">
        <h3 class="d-flex mb-3 mb-md-0 align-items-center justify-content-center">
            <div class="mr-md-2"><img src="/images/common/4dx_logo.svg"></div>
            <div class="font-weight-bold large line-height-1">ニュース</div>
        </h3>
        <div class="ml-md-5 text-center"><a href="{{ path_for('4dx') }}" class="border-bottom border-gray">4DX特設サイトはこちら ></a></div>
    </div>
    <div class="container w-100 mw-100 m-0 mb-4 px-1">
        <ul class="row mb-0 head">
        </ul>
        <ul class="row d-none more" data-contents="4dx-more-contents">
        </ul>
    </div>
    <div class="button-01 shadow-01 mx-auto see-more">
        <a href="#" data-target-contents="4dx-more-contents" data-target-button="4dx-more-button">もっと見る</a>
    </div>
    <div class="button-01 shadow-01 mx-auto d-none list-display" data-button="4dx-more-button">
        <a href="{{ path_for('news_list') }}">一覧表示</a>
    </div>
</div>
