<img id="news-inview" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
<div id="news" class="mb-5 d-none">
    <div class="width mx-auto px-3 news pjack-bg">
        <h3 class="font-weight-bold large mb-4 text-center text-md-left line-height-1">ニュース<br><span class="small">NEWS</span></h3>
        <div class="container w-100 mw-100 m-0 mb-4 px-1">
            <ul class="row mb-0 head">
            </ul>

            <ul class="row d-none more" data-contents="more-contents">
            </ul>
        </div>

        <div class="button-01 shadow-01 mx-auto see-more">
            <a href="#" data-target-contents="more-contents" data-target-button="more-button">もっと見る</a>
        </div>
        <div class="button-01 shadow-01 mx-auto d-none list-display" data-button="more-button">
            <a href="{{ path_for('news_list') }}">一覧表示</a>
        </div>
    </div>
</div>
