<div id="ranking" class="width mx-auto px-3 ranking mb-5">
    <h3 class="font-weight-bold large text-center text-md-left line-height-1 mb-3">ランキング<br><span class="small">RANKING</span></h3>
    <p class="mb-4 help"><span class="from"></span>-<span class="to"></span>に集計したランキングになります。</p>

    <div class="scroll">
        <ul class="d-flex">
        </ul>
    </div>

</div>
