<div class="trailer mx-auto mx-md-0">
    <div class="trailer-inner">
        <iframe type="text/html" src="{{ path_for('trailer', {}, { p: 1 }) }}" frameborder="0" width="336" height="280"></iframe>
    </div>
</div>
