{% extends "imax/layout.html.twig" %}

{% block title %}IMAX特設サイト | {{ parent() }}{% endblock %}

{% block description %}シネマサンシャインのIMAX特設サイトです。IMAXの設備に関する情報や作品情報、鑑賞料金、上映劇場・キャンペーン情報のご案内など{% endblock %}

{% block keywords %}{{ parent() }},予約,オンライン,上映,シネマ,キャンペーン,IMAX,アイマックス,3D,作品情報{% endblock %}

{% block css %}
<link href="/css/imax/top.css" rel="stylesheet">
{% endblock %}

{% block javascript %}
<script src="/js/imax/top.js"></script>
{% endblock %}

{% block navbar %}
{% include 'imax/include/navbar.html.twig' with {
    active: 'top'
} only %}
{% endblock %}

{% block contents %}
<div class="breadcrumb-list d-none d-md-block small width mx-auto mb-3 px-2 text-white">
    <a class="text-white" href="{{ path_for('homepage') }}">ホーム</a>
    <span class="font-weight-bold mx-2"> | </span>
    <span>IMAX<span>
</div>

<div class="mb-3">
    {% include 'imax/include/index/slider.html.twig' with {
        mainBanners: mainBanners
    } only %}
</div>

<div class="pt-3 pb-5 text-white">
    <div class="width mx-auto px-3 film">
        <div class="d-md-flex">
        
            <div class="about mb-5 mb-md-0">
                <div class="mr-md-4">
                    <h3 class="font-weight-bold large mb-4 text-center text-md-left line-height-1">
                        <div class="mb-2">究極の映画体験「IMAX&reg;」</div>
                        <div class="small">ABOUT IMAX&reg;</div>
                    </h3>
                    <div class="mb-3"><img class="w-100" src="/images/imax/top/about.jpg"></div>
                    <div class="button-01 mx-auto px-3 px-md-5">
                        <a class="bg-dark-blue text-white" href="{{ path_for('imax_about') }}">IMAX&reg;とは？</a>
                    </div>
                </div>
            </div>
            
        {% set trailer = trailers[0] %}
        {% if trailer %}
            {% include 'imax/include/index/trailer.html.twig' with {
                trailer: trailer
            } only %}
        {% endif %}
        
        </div>
    </div>
</div>

{% include 'template/include/adsense/top.html.twig' only %}

{% include 'imax/include/index/news.html.twig' with {
    newsList: newsList
} only %}

<div class="py-5 text-white">
    {% include 'imax/include/index/title.html.twig' with {
        theaters: theaters,
        screeningSchedules: screeningSchedules,
        soonSchedules: soonSchedules,
    } only %}
</div>
{% include 'template/include/adsense/buttom.html.twig' only %}
{% if campaigns %}
<div class="py-5 text-white">
    {% include 'imax/include/campaign.html.twig' with {
        campaigns: campaigns
    } only %}
</div>
{% endif %}
{% include 'imax/include/index/infomation.html.twig' with {
    newsList: infoNewsList
} only %}
{% endblock %}