{% extends "layout.html.twig" %}

{% block title %}{{ meta_title('oyako_cinema') }}{% endblock %}

{% block description %}{{ meta_description('oyako_cinema') }}{% endblock %}

{% block keywords %}{{ meta_keywords('oyako_cinema') }}{% endblock %}

{% block css %}
<link href="/css/oyako/oyako_cinema.css" rel="stylesheet">
{% endblock %}

{% block contents %}
<!--mainvisual-->
<div class="px-3 pt-3 bg_oyako_main">
    <div class="width mx-auto breadcrumb-list small mb-5 d-none d-md-block">
        <a href="{{ path_for('homepage') }}">ホーム　|　</a>
        <span class="font-weight-bold">おやこシネマ</span>
    </div>
    <div class=" mx-auto">
        <div class="text-center">
            <div class="py-lg-4">
                <h3 class="py-2 oyako_logo"><img src="/images/oyako/oyako_cinema_logo.svg" width="100%"></h3>
                <p class="oyako_man_img"><img src="/images/oyako/oyako_cinema_mainvis.svg" width="100%" alt="こどもにやさしい環境で、おやこで一緒に映画館。"></p>
            </div>
        </div>
    </div>

</div>
<!--mainvisual-->
<!--text-->
<div class="mx-auto width py-5 p-3">
    <h3 class="py-md-3 font-weight-bold large">おやこシネマとは？</h3>
    <div class="d-md-flex py-3">
        <div class="intro1_img"><img src="/images/oyako/oyako_img_1.svg" width="100%"></div>
        <div>
            <p>様々な理由で、映画館から遠ざかってしまっているママやパパのための上映会です。<br>
            赤ちゃんが怖がらないように、場内は通常より照明を明るく、<br>
            音量も少し小さめに設定しています。周囲のお客様もお子さま連れですので、<br>
            ぐずったり、泣いたり、動き回っても“お互いさま”。<br>
            お席も1席空けて販売いたしっっますので、お荷物が多くても問題ありません。<br>
            お隣の空席にお荷物を置いて、気兼ねなくご鑑賞いただけます。<br>
            ぜひ小さなお子さまとご一緒に、映画をお楽しみください！</p>
        </div>
    </div>
    <div class="d-md-flex py-md-3 justify-content-between info1_point">
        <div class="d-flex d-md-block point1 justify-content-md-center">
            <div class="icon align-self-center"><img src="/images/oyako/icon1.svg" width="100%"></div>
            <div class="point_txt">
                <h4>明るめの照明</h4>
                <p>通常よりも<br class="d-none d-lg-inline">明るめに設定された照明</p>
            </div>
        </div>

        <div class="d-flex d-md-block point2 justify-content-md-center">
            <div class="icon align-self-center"><img src="/images/oyako/icon2.svg" width="100%"></div>
            <div class="point_txt">
                <h4>小さめの音響</h4>
                <p>赤ちゃんが恐がらないよう、<br class="d-none d-lg-inline">少し小さめに設定された音響</p>
            </div>
        </div>

        <div class="d-flex d-md-block point3 justify-content-md-center">
            <div class="icon align-self-center"><img src="/images/oyako/icon3.svg" width="100%"></div>
            <div class="point_txt">
                <h4>お子様連れ同士</h4>
                <p>周りもお子さま連れなので、<br class="d-none d-lg-inline">“お互いさま”。</p>
            </div>
        </div>
    </div>
</div>
<!--text-->
<!--price-->
<div class="mx-auto width py-md-3 p-3">
    <h3 class="py-2 font-weight-bold large">鑑賞料金</h3>
    <div class="small price_note">
        <p>※ 通常料金は各劇場の料金案内ページをご確認ください。</p>
        <p>※ 作品によっては2歳以上有料となる場合がございます。</p>
    </div>
    <div class="d-md-flex py-4 justify-content-around">
        <div class="text-center large price_list txt_brown d-flex d-md-block">
            <h5 class="price_name">一般・幼児（３歳以上）<sup>※</sup></h5>
            <p class="font-weight-bold">通常料金</p>
        </div>
        <div class="text-center large price_list txt_brown d-flex d-md-block">
            <h5 class="price_name ">幼児（３歳未満）<sup>※</sup></h5>
            <p class="font-weight-bold">無料</p>
        </div>
    </div>
</div>
<!--price-->
<!--theater-->
<div class="mx-auto width py-md-3 p-3">
    <h3 class="py-2 font-weight-bold large">対象劇場</h3>
    <div class="py-4">
        <p>グランドシネマサンシャイン&ensp;/&ensp;平和島&ensp;/&ensp;土浦&ensp;/&ensp;ユーカリが丘&ensp;/&ensp;沼津&ensp;/&ensp;ららぽーと沼津&ensp;/&ensp;かほく&ensp;/&ensp;大和郡山&ensp;/&ensp;下関&ensp;/&ensp;衣山&ensp;/&ensp;重信&ensp;/&ensp;エミフルMASAKI&ensp;/&ensp;北島&ensp;/&ensp;姶良</p>
    </div>
</div>
<!--theater-->
<!--node-->
<div class="mx-auto width py-md-3 p-3">
    <h3 class="py-2 font-weight-bold large">概要・注意事項</h3>
    <div class="py-4">
        <ul class="oyako_atention">
            <li><span>開催は、毎月１、２回の開催を予定しています。</span></li>
            <li><span>開催のスケジュールや上映作品は決まり次第、HPやSNSなどで告知いたします。</span></li>
            <li><span>チケットは上映日の2日前から劇場窓口、インターネットにてご購入いただけます。（お電話での購入はできません。）</span></li>
            <li><span>一般のお客様へは上映回の趣旨をご理解いただいた上で、ご鑑賞いただく場合がございます。（乳幼児連れを条件とした回ではございません。）予めご了承ください。</span></li>
            <li><span>お客様同士のおしゃべりなどはお控えください。</span></li>
        </ul>
    </div>
</div>
<!--node-->
<!--movie-->
<div class="mx-auto width py-md-3 p-3">
    <h3 class="py-2 font-weight-bold large">上映作品</h3>

    {% for oyakoCinemaTitle in oyakoCinemaTitles %}
        {% include "oyako_cinema/include/title_row.html.twig" with {
            oyakoCinemaTitle: oyakoCinemaTitle
        } only %}
    {% endfor %}

</div>
<!--node-->
{% endblock %}
