{% extends "layout.html.twig" %}

{% block title %}{{ parent() }} | 映画館情報、上映スケジュール、作品情報、オンライン予約など映画に関する総合サイト{% endblock %}

{#
{% block description %}{% endblock %}
#}

{% block keywords %}{{ parent()}},座席指定,予約,ランキング,キャンペーン,IMAX,4DX,BESTIA,{% endblock %}

{% block css %}
<link href="/css/top.css" rel="stylesheet">
<!--pagejack_CSS
<link href="/css/pagejack/pagejack.css" rel="stylesheet">-->
{% endblock %}

{% block javascript %}
<script src="/js/top.js"></script>
{% endblock %}

{% block contents %}
<div class="mb-3">
    {% include 'index/include/slider.html.twig' with {
        mainBanners: mainBanners
    } only %}
</div>
{# % include 'include/pagejack/sp_animation_file.html.twig' only % #}
<div class="bg-light-gray mb-3">
    <h3 class="width mx-auto d-md-block d-none pt-4 px-3 line-height-1 font-weight-bold large">劇場一覧<br>
    <span class="small">THEATER</span></h3>
    <div class="width mx-auto d-md-flex py-4 px-3">
        <div class="region-selection-sp mb-4 plus-button d-md-none">
            <a href="#">
                <div>劇場一覧</div>
            </a>
        </div>
        {% include 'index/include/theater_list.html.twig' with {
            areaToTheaters: areaToTheaters
        } only %}

        {% include 'index/include/trailer.html.twig' with {
            page: page
        } only %}
    </div>
</div>
{# % include 'include/pagejack/animation_file.html.twig' only % #}
{% include 'include/adsense/top.html.twig' only %}
{% include 'index/include/ranking.html.twig' with {
    titleRanking: titleRanking
} only %}

{% include 'index/include/news.html.twig' with {
    newsList: newsList
} only %}

{% include 'index/include/imax_news.html.twig' with {
    newsList: imaxNewsList
} only %}

{% include 'index/include/4dx_news.html.twig' with {
    newsList: fourdxNewsList
} only %}

{% include 'index/include/screenx_news.html.twig' with {
    newsList: screenXNewsList
} only %}

{% include 'index/include/4dx_with_screenx_news.html.twig' with {
    newsList: fourdxWithScreenXNewsList
} only %}

{% include 'include/adsense/buttom.html.twig' only %}

{% include 'include/campaign.html.twig' with {
    campaigns: campaigns
} only %}

{% include 'index/include/infomation.html.twig' with {
    newsList: infoNewsList
} only %}
{% endblock %}
