{% extends "layout.html.twig" %}

{% block css %}
<link href="/css/top.css" rel="stylesheet">
{% endblock %}

{% block javascript %}
<script src="/js/top.js"></script>
{% endblock %}

{% block contents %}
<div class="mb-3">
    {% include 'index/include/slider.html.twig' with {
        mainBanners: mainBanners
    } only %}
</div>

<div class="bg-light-gray mb-5">
    {% include 'index/include/theater_list.html.twig' with {
        areaToTheaters: areaToTheaters
    } only %}
</div>

{% include 'index/include/ranking.html.twig' with {
    titleRanking: titleRanking
} only %}

<div class="mb-5">
    {% include 'index/include/news.html.twig' with {
        newsList: newsList
    } only %}
</div>

{% include 'index/include/imax_news.html.twig' with {
    imaxNewsList: imaxNewsList
} only %}
{% endblock %}
