<header>
    <div class="fixed-top bg-black">
        <div class="header d-flex align-items-center width mx-auto pl-lg-4 px-2">
            <div class="logo mr-auto">
                <a class="d-block" href="{{ path_for('4dx_with_screenx') }}"><img class="w-100" src="https://placehold.jp/3d4070/ffffff/250x40.png?text=4DX%20with%20ScreenX" alt="4DX with ScreenX"></a>
            </div>
            <div><a class="text-white small" href="{{ path_for('homepage') }}">ポータルTOP</a></div>
        </div>
    </div>
</header>
