<li class="bg-black px-2 py-3 mb-3">
    <h3 class="text-center text-md-left mb-3">{{ theater.getNameJa() }}</h3>
    <div class="mb-3">
            <img class="w-100" src="/images/4dxwscx/theater/coming_img.jpg">
    </div>
    <table class="mb-3 w-100 theater-table small">
            <tbody>
                <tr>
                    <th class="border border-black p-2 bg-dark-gray">劇場名</th>
                    <td class="border border-black p-2 bg-light-gray text-black">{{ theater.getNameJa() }}</td>
                </tr>
                <tr>
                    <th class="border border-black p-2 bg-dark-gray">住所</th>
                    <td class="border border-black p-2 bg-light-gray text-black">東京都豊島区東池袋一丁目30番1他</td>
                </tr>
                <tr>
                    <th class="border border-black p-2 bg-dark-gray">TEL</th>
                    <td class="border border-black p-2 bg-light-gray text-black">-</td>
                </tr>
                <tr>
                    <th class="border border-black p-2 bg-dark-gray">スクリーン数</th>
                    <td class="border border-black p-2 bg-light-gray text-black">12スクリーン</td>
                </tr>
            </tbody>
    </table>

    <h4 class="mb-3">スクリーン情報</h4>

    <table class="mb-3 w-100 screen-table small">
        <thead>
            <tr>
                <th class="border border-black p-2 bg-gray">スクリーン名</th>
                <td class="border border-black p-2 bg-gray">観客数 / 車椅子</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="border border-black p-2 bg-dark-gray">シネマ1</th>
                <td class="border border-black p-2 bg-light-gray text-black">83席 / 2</td>
            </tr>
            <tr>
                <th class="border border-black p-2 bg-dark-gray">シネマ2</th>
                <td class="border border-black p-2 bg-light-gray text-black">113席 / 2</td>
            </tr>
            <tr>
                <th class="border border-black p-2 bg-dark-gray">シネマ3</th>
                <td class="border border-black p-2 bg-light-gray text-black">383席 / 2</td>
            </tr>
            <tr>
                <th class="border border-black p-2 bg-dark-gray">シネマ4</th>
                <td class="border border-black p-2 bg-light-gray text-black">160席</td>
            </tr>
            <tr>
                <th class="border border-black p-2 bg-dark-gray">シネマ5</th>
                <td class="border border-black p-2 bg-light-gray text-black">348席 / 2</td>
            </tr>
            <tr>
                <th class="border border-black p-2 bg-dark-gray">シネマ6</th>
                <td class="border border-black p-2 bg-light-gray text-black">237席 / 2</td>
            </tr>
            <tr>
                <th class="border border-black p-2 bg-dark-gray">シネマ7</th>
                <td class="border border-black p-2 bg-light-gray text-black">81席 / 2</td>
            </tr>
            <tr>
                <th class="border border-black p-2 bg-dark-gray">シネマ8</th>
                <td class="border border-black p-2 bg-light-gray text-black">81席 / 2</td>
            </tr>
            <tr>
                <th class="border border-black p-2 bg-dark-gray">シネマ10</th>
                <td class="border border-black p-2 bg-light-gray text-black">154席 / 2</td>
            </tr>
            <tr>
                <th class="border border-black p-2 bg-dark-gray">シネマ11</th>
                <td class="border border-black p-2 bg-light-gray text-black">176席 / 2</td>
            </tr>
            <tr>
                <th class="border border-black p-2 bg-dark-gray">シネマ12</th>
                <td class="border border-black p-2 bg-light-gray text-black">544席 / 2</td>
            </tr>
        </tbody>
    </table>
    <div class="theater-button mx-auto">
        <a href="{{ path_for('theater', { name: theater.getName() }) }}" class="d-block text-center bg-dark-red text-white py-3">{{ theater.getNameJa() }}劇場TOP</a>
    </div>
</li>