<li class="bg-black px-2 py-3 mb-3">
    <h3 class="text-center text-md-left mb-3">シネマサンシャイン平和島</h3>
    <div class="mb-3">
        <img class="w-100" src="/images/4dx/theater/heiwajima_img.jpg">
    </div>
    <table class="mb-3 w-100 theater-table small">
        <tbody>
            <tr>
                <th class="border border-black p-2 bg-dark-gray">劇場名</th>
                <td class="border border-black p-2 bg-light-gray text-black">シネマサンシャイン平和島</td>
            </tr>
            <tr>
                <th class="border border-black p-2 bg-dark-gray">住所</th>
                <td class="border border-black p-2 bg-light-gray text-black">東京都大田区平和島1-1-1 ビッグファン平和島４Ｆ</td>
            </tr>
            <tr>
                <th class="border border-black p-2 bg-dark-gray">TEL</th>
                <td class="border border-black p-2 bg-light-gray text-black">03-5764-8803</td>
            </tr>
            <tr>
                <th class="border border-black p-2 bg-dark-gray">スクリーン数</th>
                <td class="border border-black p-2 bg-light-gray text-black">7スクリーン</td>
            </tr>
        </tbody>
    </table>

    <!--<h4 class="mb-3">スクリーン情報</h4>

    <table class="mb-3 w-100 screen-table small">
        <thead>
            <tr>
                <th class="border border-black p-2 bg-gray">スクリーン名</th>
                <td class="border border-black p-2 bg-gray">観客数 / 車椅子</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="border border-black p-2 bg-dark-gray">アメイジング・サウンドシアター</th>
                <td class="border border-black p-2 bg-light-gray text-black">289席 / 2</td>
            </tr>
            <tr>
                <th class="border border-black p-2 bg-dark-gray">4DX&reg;シアター</th>
                <td class="border border-black p-2 bg-light-gray text-black">128席</td>
            </tr>
            <tr>
                <th class="border border-black p-2 bg-dark-gray">シネマ3</th>
                <td class="border border-black p-2 bg-light-gray text-black">143席 / 2</td>
            </tr>
            <tr>
                <th class="border border-black p-2 bg-dark-gray">シネマ4</th>
                <td class="border border-black p-2 bg-light-gray text-black">380席 / 2</td>
            </tr>
            <tr>
                <th class="border border-black p-2 bg-dark-gray">シネマ5</th>
                <td class="border border-black p-2 bg-light-gray text-black">106席 / 2</td>
            </tr>
            <tr>
                <th class="border border-black p-2 bg-dark-gray">シネマ6</th>
                <td class="border border-black p-2 bg-light-gray text-black">106席 / 2</td>
            </tr>
            <tr>
                <th class="border border-black p-2 bg-dark-gray">シネマ7</th>
                <td class="border border-black p-2 bg-light-gray text-black">143席 / 2</td>
            </tr>
        </tbody>
    </table>-->
    <div class="theater-button mx-auto">
        <a href="{{ path_for('theater', { name: theater.getName() }) }}" class="d-block text-center bg-dark-red text-white py-3">平和島劇場TOP</a>
    </div>
</li>