<div class="mb-5">
    <h2 class="font-weight-bold large text-center text-md-left mb-4 mt-2">アクセス</h2>
    <div class="row py-3 border-top border-bottom">
        <div class="col-md-2 col-3 font-weight-bold">住所</div>
        <p class="col-md-10 col-9">-</p>
    </div>
    <div class="row py-3 border-bottom">
        <div class="col-md-2 col-3 font-weight-bold">電話番号</div>
        <div class="col-md-10 col-9">-</div>
    </div>
    <div class="row py-3 border-bottom">
        <div class="col-md-2 col-3 font-weight-bold">駐車場</div>
        <div class="col-md-10 col-9">-台</div>
    </div>
</div>

<div class="map mb-5">
    <img src="https://placehold.jp/3d4070/ffffff/1200x500.png?text=%E3%83%9E%E3%83%83%E3%83%97">
</div>
