<div class="mb-5">
    <h2 class="font-weight-bold large text-center text-md-left mb-4 mt-2">アクセス</h2>
    <div class="row py-3 border-top border-bottom">
        <div class="col-md-2 col-3 font-weight-bold">住所</div>
        <p class="col-md-10 col-9">
            愛媛県松山市衣山1-188　<br class="d-md-none">
            パルティフジ衣山2F<br>
            伊予鉄道高浜線衣山駅を降りて、北へ徒歩5分
        </p>
    </div>
    <div class="row py-3 border-bottom">
        <div class="col-md-2 col-3 font-weight-bold">電話番号</div>
        <div class="col-md-10 col-9">24時間上映時間案内　<br class="d-md-none"><span class="text-red font-weight-bold">089-911-0066</span>　　<br
                class="d-md-none">※電話番号のお掛け間違いにご注意下さい</div>
    </div>
    <div class="row py-3 border-bottom">
        <div class="col-md-2 col-3 font-weight-bold">駐車場</div>
        <div class="col-md-10 col-9">無料駐車場 1,000台</div>
    </div>
</div>

<div class="map mb-5">
    <iframe height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.jp/maps?f=q&source=s_q&hl=ja&geocode=&q=%E3%82%B7%E3%83%8D%E3%83%9E%E3%82%B5%E3%83%B3%E3%82%B7%E3%83%A3%E3%82%A4%E3%83%B3%E8%A1%A3%E5%B1%B1&aq=&sll=33.837048,132.770395&sspn=0.001731,0.004128&brcurrent=3,0x354fe57a7b20822f:0xad326a414f9b6b85,0&ie=UTF8&hq=%E3%82%B7%E3%83%8D%E3%83%9E%E3%82%B5%E3%83%B3%E3%82%B7%E3%83%A3%E3%82%A4%E3%83%B3%E8%A1%A3%E5%B1%B1&t=m&cid=13650703771668844799&hnear=&ll=33.854032,132.746773&spn=0.004455,0.006427&z=17&output=embed"></iframe><br />
    <small>
        <a target="_blank" href="http://maps.google.co.jp/maps?f=q&source=embed&hl=ja&geocode=&q=%E3%82%B7%E3%83%8D%E3%83%9E%E3%82%B5%E3%83%B3%E3%82%B7%E3%83%A3%E3%82%A4%E3%83%B3%E8%A1%A3%E5%B1%B1&aq=&sll=33.837048,132.770395&sspn=0.001731,0.004128&brcurrent=3,0x354fe57a7b20822f:0xad326a414f9b6b85,0&ie=UTF8&hq=%E3%82%B7%E3%83%8D%E3%83%9E%E3%82%B5%E3%83%B3%E3%82%B7%E3%83%A3%E3%82%A4%E3%83%B3%E8%A1%A3%E5%B1%B1&t=m&cid=13650703771668844799&hnear=&ll=33.854032,132.746773&spn=0.004455,0.006427&z=17"
            style="color:#0000FF; text-align:left">大きな地図で見る</a>
    </small>
</div>