<div class="mb-5">
    <h2 class="font-weight-bold large text-center text-md-left mb-4 mt-2">アクセス</h2>
    <div class="row py-3 border-top border-bottom">
        <div class="col-md-2 col-3 font-weight-bold">住所</div>
        <p class="col-md-10 col-9">
            徳島県板野郡北島町鯛浜字西ノ須174 <br class="d-md-none">
            フジグラン北島3F<br>
            JR高徳線、吉成駅下車、川内（北島）方面へ徒歩約20分。大麻線、フジグラン前下車、徒歩約1分。<br>
            鍛冶屋原線・鳴門線、鯛浜停留所下車、徒歩約15分。<br>
            徳島ICを降り国道11号線を鳴門方面へ。途中北島方面に左折車で約15分。
        </p>
    </div>
    <div class="row py-3 border-bottom">
        <div class="col-md-2 col-3 font-weight-bold">電話番号</div>
        <div class="col-md-10 col-9">24時間上映時間案内　<br class="d-md-none"><span class="text-red font-weight-bold">088-697-3113</span>　　<br
                class="d-md-none">※電話番号のお掛け間違いにご注意下さい</div>
    </div>
    <div class="row py-3 border-bottom">
        <div class="col-md-2 col-3 font-weight-bold">駐車場</div>
        <div class="col-md-10 col-9">無料駐車場 2,000台</div>
    </div>
</div>

<div class="map mb-5">
    <iframe height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.jp/maps?f=q&source=s_q&hl=ja&geocode=&q=%E3%82%B7%E3%83%8D%E3%83%9E%E3%82%B5%E3%83%B3%E3%82%B7%E3%83%A3%E3%82%A4%E3%83%B3%E5%8C%97%E5%B3%B6&aq=&sll=34.061424,133.016464&sspn=0.003453,0.008256&brcurrent=3,0x355372097bcba9e9:0x4f9a0c2e98520ff3,0&ie=UTF8&hq=%E3%82%B7%E3%83%8D%E3%83%9E%E3%82%B5%E3%83%B3%E3%82%B7%E3%83%A3%E3%82%A4%E3%83%B3&hnear=%E5%BE%B3%E5%B3%B6%E7%9C%8C%E6%9D%BF%E9%87%8E%E9%83%A1%E5%8C%97%E5%B3%B6%E7%94%BA&t=m&ll=34.112213,134.547329&spn=0.008883,0.012853&z=16&iwloc=B&output=embed"></iframe><br />
    <small>
        <a target="_blank" href="https://maps.google.co.jp/maps?f=q&source=embed&hl=ja&geocode=&q=%E3%82%B7%E3%83%8D%E3%83%9E%E3%82%B5%E3%83%B3%E3%82%B7%E3%83%A3%E3%82%A4%E3%83%B3%E5%8C%97%E5%B3%B6&aq=&sll=34.061424,133.016464&sspn=0.003453,0.008256&brcurrent=3,0x355372097bcba9e9:0x4f9a0c2e98520ff3,0&ie=UTF8&hq=%E3%82%B7%E3%83%8D%E3%83%9E%E3%82%B5%E3%83%B3%E3%82%B7%E3%83%A3%E3%82%A4%E3%83%B3&hnear=%E5%BE%B3%E5%B3%B6%E7%9C%8C%E6%9D%BF%E9%87%8E%E9%83%A1%E5%8C%97%E5%B3%B6%E7%94%BA&t=m&ll=34.112213,134.547329&spn=0.008883,0.012853&z=16&iwloc=B"
            style="color:#0000FF; text-align:left">大きな地図で見る</a>
    </small>
</div>
