<div class="mb-5">
    <h2 class="font-weight-bold large text-center text-md-left mb-4 mt-2">アクセス</h2>
    <div class="row py-3 border-top border-bottom">
        <div class="col-md-2 col-3 font-weight-bold">住所</div>
        <p class="col-md-10 col-9">
            愛媛県伊予郡松前町筒井850番　<br class="d-md-none">
            エミアアミューズ2F<br>
            伊予鉄道古泉駅、下車すぐ
        </p>
    </div>
    <div class="row py-3 border-bottom">
        <div class="col-md-2 col-3 font-weight-bold">電話番号</div>
        <div class="col-md-10 col-9">24時間上映時間案内　<br class="d-md-none"><span class="text-red font-weight-bold">089-984-2211</span>　　<br
                class="d-md-none">※電話番号のお掛け間違いにご注意下さい</div>
    </div>
    <div class="row py-3 border-bottom">
        <div class="col-md-2 col-3 font-weight-bold">駐車場</div>
        <div class="col-md-10 col-9">無料駐車場 5,000台</div>
    </div>
</div>

<div class="map mb-5">
    <iframe height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.jp/maps?f=q&source=s_q&hl=ja&geocode=&q=%E6%84%9B%E5%AA%9B%E7%9C%8C%E4%BC%8A%E4%BA%88%E9%83%A1%E6%9D%BE%E5%89%8D%E7%94%BA%E7%AD%92%E4%BA%95+%E3%82%B7%E3%83%8D%E3%83%9E%E3%82%B5%E3%83%B3%E3%82%B7%E3%83%A3%E3%82%A4%E3%83%B3%E3%82%A8%E3%83%9F%E3%83%95%E3%83%AB%EF%BC%AD%EF%BC%A1%EF%BC%B3%EF%BC%A1%EF%BC%AB%EF%BC%A9&aq=0&oq=%E3%82%B7%E3%83%8D%E3%83%9E%E3%82%B5%E3%83%B3%E3%82%B7%E3%83%A3%E3%82%A4%E3%83%B3%E3%82%A8%E3%83%9F%E3%83%95%E3%83%AB&sll=33.795376,132.833966&sspn=0.003464,0.008256&brcurrent=3,0x354ff1fc71ca5245:0x960be657a61769ae,0&ie=UTF8&hq=%E3%82%B7%E3%83%8D%E3%83%9E%E3%82%B5%E3%83%B3%E3%82%B7%E3%83%A3%E3%82%A4%E3%83%B3%E3%82%A8%E3%83%9F%E3%83%95%E3%83%AB%EF%BC%AD%EF%BC%A1%EF%BC%B3%EF%BC%A1%EF%BC%AB%EF%BC%A9&hnear=%E6%84%9B%E5%AA%9B%E7%9C%8C%E4%BC%8A%E4%BA%88%E9%83%A1%E6%9D%BE%E5%89%8D%E7%94%BA%E7%AD%92%E4%BA%95&t=m&ll=33.788172,132.714694&spn=0.008917,0.012853&z=16&iwloc=B&output=embed"></iframe><br />
    <small>
        <a target="_blank" href="http://maps.google.co.jp/maps?f=q&source=embed&hl=ja&geocode=&q=%E6%84%9B%E5%AA%9B%E7%9C%8C%E4%BC%8A%E4%BA%88%E9%83%A1%E6%9D%BE%E5%89%8D%E7%94%BA%E7%AD%92%E4%BA%95+%E3%82%B7%E3%83%8D%E3%83%9E%E3%82%B5%E3%83%B3%E3%82%B7%E3%83%A3%E3%82%A4%E3%83%B3%E3%82%A8%E3%83%9F%E3%83%95%E3%83%AB%EF%BC%AD%EF%BC%A1%EF%BC%B3%EF%BC%A1%EF%BC%AB%EF%BC%A9&aq=0&oq=%E3%82%B7%E3%83%8D%E3%83%9E%E3%82%B5%E3%83%B3%E3%82%B7%E3%83%A3%E3%82%A4%E3%83%B3%E3%82%A8%E3%83%9F%E3%83%95%E3%83%AB&sll=33.795376,132.833966&sspn=0.003464,0.008256&brcurrent=3,0x354ff1fc71ca5245:0x960be657a61769ae,0&ie=UTF8&hq=%E3%82%B7%E3%83%8D%E3%83%9E%E3%82%B5%E3%83%B3%E3%82%B7%E3%83%A3%E3%82%A4%E3%83%B3%E3%82%A8%E3%83%9F%E3%83%95%E3%83%AB%EF%BC%AD%EF%BC%A1%EF%BC%B3%EF%BC%A1%EF%BC%AB%EF%BC%A9&hnear=%E6%84%9B%E5%AA%9B%E7%9C%8C%E4%BC%8A%E4%BA%88%E9%83%A1%E6%9D%BE%E5%89%8D%E7%94%BA%E7%AD%92%E4%BA%95&t=m&ll=33.788172,132.714694&spn=0.008917,0.012853&z=16&iwloc=B"
            style="color:#0000FF; text-align:left">大きな地図で見る</a>
    </small>
</div>