<div class="mb-5">
    <h2 class="font-weight-bold large text-center text-md-left mb-4 mt-2">アクセス</h2>
    <div class="row py-3 border-top border-bottom">
        <div class="col-md-2 col-3 font-weight-bold">住所</div>
        <p class="col-md-10 col-9">
            愛媛県松山市大街道1-5-10　<br>
            伊予鉄道松山市駅より徒歩15分、大街道商店街右手。<br>
            市内電車で大街道口駅より徒歩５分、大街道商店街左手。<br>
        </p>
    </div>
    <div class="row py-3 border-bottom">
        <div class="col-md-2 col-3 font-weight-bold">電話番号</div>
        <div class="col-md-10 col-9">24時間上映時間案内　<br class="d-md-none"><span class="text-red font-weight-bold">089-986-6633</span>　　<br
                class="d-md-none">※電話番号のお掛け間違いにご注意下さい</div>
    </div>
    <div class="row py-3 border-bottom">
        <div class="col-md-2 col-3 font-weight-bold">駐車場</div>
        <p class="col-md-10 col-9">
            提携駐車場有り<br>
            キスケパーキング<br>
            ※駐車券をチケット売場にてご提示いただき、捺印しますと駐車料金が100円割引になります。
        </p>
    </div>
</div>

<div class="map mb-5">
    <iframe height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.jp/maps?f=q&source=s_q&hl=ja&geocode=&q=%E6%84%9B%E5%AA%9B%E7%9C%8C%E6%9D%BE%E5%B1%B1%E5%B8%82%E5%A4%A7%E8%A1%97%E9%81%93%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%95%E2%88%92%EF%BC%91%EF%BC%90+%E3%82%B7%E3%83%8D%E3%83%9E%E3%82%B5%E3%83%B3%E3%82%B7%E3%83%A3%E3%82%A4%E3%83%B3%E5%A4%A7%E8%A1%97%E9%81%93&aq=0&oq=%E3%82%B7%E3%83%8D%E3%83%9E%E3%82%B5%E3%83%B3%E3%82%B7%E3%83%A3%E3%82%A4%E3%83%B3%E5%A4%A7%E8%A1%97%E9%81%93%E3%80%80&sll=34.65035,135.802367&sspn=0.013716,0.033023&brcurrent=3,0x354fe5f21242979b:0x8a9c6a8072cf4129,0&ie=UTF8&hq=%E6%84%9B%E5%AA%9B%E7%9C%8C%E6%9D%BE%E5%B1%B1%E5%B8%82%E5%A4%A7%E8%A1%97%E9%81%93%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%95%E2%88%92%EF%BC%91%EF%BC%90+%E3%82%B7%E3%83%8D%E3%83%9E%E3%82%B5%E3%83%B3%E3%82%B7%E3%83%A3%E3%82%A4%E3%83%B3%E5%A4%A7%E8%A1%97%E9%81%93&t=m&ll=33.837039,132.770655&spn=0.008912,0.012853&z=16&output=embed"></iframe><br />
    <small>
        <a target="_blank" href="https://maps.google.co.jp/maps?f=q&source=embed&hl=ja&geocode=&q=%E6%84%9B%E5%AA%9B%E7%9C%8C%E6%9D%BE%E5%B1%B1%E5%B8%82%E5%A4%A7%E8%A1%97%E9%81%93%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%95%E2%88%92%EF%BC%91%EF%BC%90+%E3%82%B7%E3%83%8D%E3%83%9E%E3%82%B5%E3%83%B3%E3%82%B7%E3%83%A3%E3%82%A4%E3%83%B3%E5%A4%A7%E8%A1%97%E9%81%93&aq=0&oq=%E3%82%B7%E3%83%8D%E3%83%9E%E3%82%B5%E3%83%B3%E3%82%B7%E3%83%A3%E3%82%A4%E3%83%B3%E5%A4%A7%E8%A1%97%E9%81%93%E3%80%80&sll=34.65035,135.802367&sspn=0.013716,0.033023&brcurrent=3,0x354fe5f21242979b:0x8a9c6a8072cf4129,0&ie=UTF8&hq=%E6%84%9B%E5%AA%9B%E7%9C%8C%E6%9D%BE%E5%B1%B1%E5%B8%82%E5%A4%A7%E8%A1%97%E9%81%93%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%95%E2%88%92%EF%BC%91%EF%BC%90+%E3%82%B7%E3%83%8D%E3%83%9E%E3%82%B5%E3%83%B3%E3%82%B7%E3%83%A3%E3%82%A4%E3%83%B3%E5%A4%A7%E8%A1%97%E9%81%93&t=m&ll=33.837039,132.770655&spn=0.008912,0.012853&z=16"
            style="color:#0000FF; text-align:left">大きな地図で見る</a>
    </small>
</div>
