<div class="mb-5">
    <h2 class="font-weight-bold large text-center text-md-left mb-4 mt-2">アクセス</h2>
    <div class="row py-3 border-top border-bottom">
        <div class="col-md-2 col-3 font-weight-bold">住所</div>
        <p class="col-md-10 col-9">
            愛媛県大洲市東大洲1125　<br>
            JR大洲駅より松山方面へ車で5分<br>
            大洲ICを降りて信号を右折。国道56号線を市内方面に直進し、2つ目の信号を越えて、右手側。<br>
        </p>
    </div>
    <div class="row py-3 border-bottom">
        <div class="col-md-2 col-3 font-weight-bold">電話番号</div>
        <div class="col-md-10 col-9">受付時間　9:00-20:00　<br class="d-md-none"><span class="text-red font-weight-bold">0893-25-1222</span>　　<br
                class="d-md-none">※電話番号のお掛け間違いにご注意下さい</div>
    </div>
    <div class="row py-3 border-bottom">
        <div class="col-md-2 col-3 font-weight-bold">駐車場</div>
        <div class="col-md-10 col-9">無料駐車場 290台</div>
    </div>
</div>

<div class="map mb-5">
    <iframe height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.jp/maps?f=q&source=s_q&hl=ja&geocode=&q=%E6%84%9B%E5%AA%9B%E7%9C%8C%E5%A4%A7%E6%B4%B2%E5%B8%82%E6%9D%B1%E5%A4%A7%E6%B4%B2%EF%BC%91%EF%BC%91%EF%BC%92%EF%BC%95&aq=&brcurrent=3,0x354f80914624c053:0x7e68ce3752b76e25,1&brv=25.1-fa8ed276_c3147e72_ccf32e81_040c821b_76b35545&sll=33.517651,132.552774&sspn=0.055601,0.132093&g=%E6%84%9B%E5%AA%9B%E7%9C%8C%E5%A4%A7%E6%B4%B2%E5%B8%82%E6%9D%B1%E5%A4%A7%E6%B4%B2&ie=UTF8&hq=&hnear=%E6%84%9B%E5%AA%9B%E7%9C%8C%E5%A4%A7%E6%B4%B2%E5%B8%82%E6%9D%B1%E5%A4%A7%E6%B4%B2%EF%BC%91%EF%BC%91%EF%BC%92%EF%BC%95&t=m&ll=33.529393,132.568417&spn=0.008944,0.012853&z=16&iwloc=B&output=embed"></iframe><br />
    <small>
        <a target="_blank" href="http://maps.google.co.jp/maps?f=q&source=embed&hl=ja&geocode=&q=%E6%84%9B%E5%AA%9B%E7%9C%8C%E5%A4%A7%E6%B4%B2%E5%B8%82%E6%9D%B1%E5%A4%A7%E6%B4%B2%EF%BC%91%EF%BC%91%EF%BC%92%EF%BC%95&aq=&brcurrent=3,0x354f80914624c053:0x7e68ce3752b76e25,1&brv=25.1-fa8ed276_c3147e72_ccf32e81_040c821b_76b35545&sll=33.517651,132.552774&sspn=0.055601,0.132093&g=%E6%84%9B%E5%AA%9B%E7%9C%8C%E5%A4%A7%E6%B4%B2%E5%B8%82%E6%9D%B1%E5%A4%A7%E6%B4%B2&ie=UTF8&hq=&hnear=%E6%84%9B%E5%AA%9B%E7%9C%8C%E5%A4%A7%E6%B4%B2%E5%B8%82%E6%9D%B1%E5%A4%A7%E6%B4%B2%EF%BC%91%EF%BC%91%EF%BC%92%EF%BC%95&t=m&ll=33.529393,132.568417&spn=0.008944,0.012853&z=16&iwloc=B"
            style="color:#0000FF; text-align:left">大きな地図で見る</a>
    </small>
</div>