<div class="mb-5">
    <h2 class="font-weight-bold large text-center text-md-left mb-4 mt-2">アクセス</h2>
    <div class="row py-3 border-top border-bottom">
        <div class="col-md-2 col-3 font-weight-bold">住所</div>
        <p class="col-md-10 col-9">
            愛媛県東温市野田3-1-13　<br class="d-md-none">
            フジグラン重信3F<br>
            松山市駅より、伊予鉄バスと瀬戸内バスが運行している松山⇔新居浜特急線がフジグラン重信SC前（国道11号線バイパス沿い）に停車 伊予鉄道横河原線梅本駅より徒歩15分 <br>
            松山市内より、国道11号線を川内方面へ、東温市に入ってすぐ左側
        </p>
    </div>
    <div class="row py-3 border-bottom">
        <div class="col-md-2 col-3 font-weight-bold">電話番号</div>
        <div class="col-md-10 col-9">24時間上映時間案内　<br class="d-md-none"><span class="text-red font-weight-bold">089-990-1513</span>　　<br
                class="d-md-none">※電話番号のお掛け間違いにご注意下さい</div>
    </div>
    <div class="row py-3 border-bottom">
        <div class="col-md-2 col-3 font-weight-bold">駐車場</div>
        <div class="col-md-10 col-9">無料駐車場 2,111台</div>
    </div>
</div>

<div class="map mb-5">
    <iframe height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.jp/maps?f=q&amp;source=s_q&amp;hl=ja&amp;geocode=&amp;q=%E6%9D%B1%E4%BA%AC%E9%83%BD%E8%B1%8A%E5%B3%B6%E5%8C%BA%E6%9D%B1%E6%B1%A0%E8%A2%8B1-14-3&amp;aq=&amp;sll=34.728949,138.455511&amp;sspn=54.857824,135.263672&amp;brcurrent=3,0x60188d66480772ff:0x4136f3704e611443,0&amp;ie=UTF8&amp;hq=&amp;hnear=%E6%9D%B1%E4%BA%AC%E9%83%BD%E8%B1%8A%E5%B3%B6%E5%8C%BA%E6%9D%B1%E6%B1%A0%E8%A2%8B%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%EF%BC%94%E2%88%92%EF%BC%93&amp;t=m&amp;ll=35.729975,139.714787&amp;spn=0.004355,0.006427&amp;z=17&amp;output=embed&amp;iwloc=B"></iframe><br />
    <small>
        <a target="_blank" href="http://maps.google.co.jp/maps?f=q&source=embed&hl=ja&geocode=&q=%E3%82%B7%E3%83%8D%E3%83%9E%E3%82%B5%E3%83%B3%E3%82%B7%E3%83%A3%E3%82%A4%E3%83%B3%E9%87%8D%E4%BF%A1&aq=&sll=33.85399,132.746913&sspn=0.027692,0.066047&brcurrent=3,0x354fe87083c8bdeb:0xb24da08104da567c,0&ie=UTF8&hq=%E3%82%B7%E3%83%8D%E3%83%9E%E3%82%B5%E3%83%B3%E3%82%B7%E3%83%A3%E3%82%A4%E3%83%B3%E9%87%8D%E4%BF%A1&hnear=&t=m&ll=33.795412,132.832775&spn=0.017832,0.025706&z=15"
            style="color:#0000FF; text-align:left">大きな地図で見る</a>
    </small>
</div>
