<div class="mb-5">
    <h2 class="font-weight-bold large text-center text-md-left mb-4 mt-2">アクセス</h2>
    <div class="row py-3 border-top border-bottom">
        <div class="col-md-2 col-3 font-weight-bold">住所</div>
        <p class="col-md-10 col-9">
            山口県下関市竹崎町4-1-37　<br class="d-md-none">
            シーモール下関 シネマ棟2階
        </p>
    </div>
    <div class="row py-3 border-bottom">
        <div class="col-md-2 col-3 font-weight-bold">電話番号</div>
        <div class="col-md-10 col-9">24時間上映時間案内　<br class="d-md-none"><span class="text-red font-weight-bold">083-235-3001</span>　　<br
                class="d-md-none">※電話番号のお掛け間違いにご注意下さい</div>
    </div>
    <div class="row py-3 border-bottom">
        <div class="col-md-2 col-3 font-weight-bold">駐車場</div>
        <p class="col-md-10 col-9">
            有料駐車場約1,800台の大型立体駐車場完備<br>
            （映画をご鑑賞いただいた方は5時間無料）
        </p>
    </div>
</div>

<div class="map mb-5">
    <iframe height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d1654.84674652467!2d130.92371422023524!3d33.949010649545016!3m2!1i1024!2i768!4f13.1!2m1!1z5bGx5Y-j55yM5LiL6Zai5biC56u55bSO55S677yU77yN77yR77yN77yT77yXIOOCt-ODvOODouODvOODq-S4i-mWou-8kkY!5e0!3m2!1sja!2sjp!4v1402648788874"></iframe><br />
    <small>
        <a target="_blank" href="https://www.google.co.jp/maps/search/%E5%B1%B1%E5%8F%A3%E7%9C%8C%E4%B8%8B%E9%96%A2%E5%B8%82%E7%AB%B9%E5%B4%8E%E7%94%BA%EF%BC%94%EF%BC%8D%EF%BC%91%EF%BC%8D%EF%BC%93%EF%BC%97+%E3%82%B7%E3%83%BC%E3%83%A2%E3%83%BC%E3%83%AB%E4%B8%8B%E9%96%A2%EF%BC%92F/@33.9490106,130.9237142,18z"
            style="color:#0000FF; text-align:left">大きな地図で見る</a>
    </small>
</div>