<div class="mb-5">
    <h2 class="font-weight-bold large text-center text-md-left mb-4 mt-2">アクセス</h2>
    <div class="row py-3 border-top border-bottom">
        <div class="col-md-2 col-3 font-weight-bold">住所</div>
        <p class="col-md-10 col-9">
            茨城県土浦市上高津367番　<br class="d-md-none">
            イオンモール土浦3階
        </p>
    </div>
    <div class="row py-3 border-bottom">
        <div class="col-md-2 col-3 font-weight-bold">電話番号</div>
        <div class="col-md-10 col-9">24時間上映時間案内　<br class="d-md-none"><span class="text-red font-weight-bold">029-835-6611</span>　　<br
                class="d-md-none">※電話番号のお掛け間違いにご注意下さい</div>
    </div>
    <div class="row py-3 border-bottom">
        <div class="col-md-2 col-3 font-weight-bold">駐車場</div>
        <div class="col-md-10 col-9">有り　　※4,200台の大駐車場完備</div>
    </div>
</div>

<div class="map mb-5">
    <iframe height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.jp/maps?f=q&source=s_q&hl=ja&geocode=&q=%E8%8C%A8%E5%9F%8E%E7%9C%8C%E5%9C%9F%E6%B5%A6%E5%B8%82%E4%B8%8A%E9%AB%98%E6%B4%A5%EF%BC%93%EF%BC%96%EF%BC%97+%E3%82%B7%E3%83%8D%E3%83%9E%E3%82%B5%E3%83%B3%E3%82%B7%E3%83%A3%E3%82%A4%E3%83%B3%E5%9C%9F%E6%B5%A6&aq=0&oq=%E3%82%B7%E3%83%8D%E3%83%9E%E3%82%B5%E3%83%B3%E3%82%B7%E3%83%A3%E3%82%A4%E3%83%B3%E3%80%80%E5%9C%9F%E6%B5%A6&sll=35.584778,139.741083&sspn=0.00678,0.016512&brcurrent=3,0x60220d504c46f8dd:0x6c55af970e3ae7f4,0&ie=UTF8&hq=%E8%8C%A8%E5%9F%8E%E7%9C%8C%E5%9C%9F%E6%B5%A6%E5%B8%82%E4%B8%8A%E9%AB%98%E6%B4%A5%EF%BC%93%EF%BC%96%EF%BC%97+%E3%82%B7%E3%83%8D%E3%83%9E%E3%82%B5%E3%83%B3%E3%82%B7%E3%83%A3%E3%82%A4%E3%83%B3%E5%9C%9F%E6%B5%A6&t=m&ll=36.081292,140.181084&spn=0.017342,0.025706&z=15&iwloc=B&output=embed"></iframe><br />
    <small>
        <a target="_blank" href="http://maps.google.co.jp/maps?f=q&source=embed&hl=ja&geocode=&q=%E8%8C%A8%E5%9F%8E%E7%9C%8C%E5%9C%9F%E6%B5%A6%E5%B8%82%E4%B8%8A%E9%AB%98%E6%B4%A5%EF%BC%93%EF%BC%96%EF%BC%97+%E3%82%B7%E3%83%8D%E3%83%9E%E3%82%B5%E3%83%B3%E3%82%B7%E3%83%A3%E3%82%A4%E3%83%B3%E5%9C%9F%E6%B5%A6&aq=0&oq=%E3%82%B7%E3%83%8D%E3%83%9E%E3%82%B5%E3%83%B3%E3%82%B7%E3%83%A3%E3%82%A4%E3%83%B3%E3%80%80%E5%9C%9F%E6%B5%A6&sll=35.584778,139.741083&sspn=0.00678,0.016512&brcurrent=3,0x60220d504c46f8dd:0x6c55af970e3ae7f4,0&ie=UTF8&hq=%E8%8C%A8%E5%9F%8E%E7%9C%8C%E5%9C%9F%E6%B5%A6%E5%B8%82%E4%B8%8A%E9%AB%98%E6%B4%A5%EF%BC%93%EF%BC%96%EF%BC%97+%E3%82%B7%E3%83%8D%E3%83%9E%E3%82%B5%E3%83%B3%E3%82%B7%E3%83%A3%E3%82%A4%E3%83%B3%E5%9C%9F%E6%B5%A6&t=m&ll=36.081292,140.181084&spn=0.017342,0.025706&z=15&iwloc=B"
            style="color:#0000FF; text-align:left">大きな地図で見る</a>
    </small>
</div>